@import '../../../../../../shared/scss/selected_theme_variables';

:host {
  display: block;
  min-width: 210px;
  max-width: 210px;
  height: 380px;
}

picture {
  height: 280px;
  img {
    object-fit: fill;
  }
}

.disablePrice {
  text-decoration: line-through;
  color: #7e818c;
  font-weight: 400;
  margin-left: 5px;
  font-size: 12px;
}

.product-discountPercentage {
  color: $theme-action-color;
}

.product-starRating {
  transform: scale(0.7);
  display: block;
  margin-left: -2.5rem;
}
