@import '../../../../../../shared/scss/selected_theme_variables';
:host {
  display: block;
  @media screen and(min-width: 576px) {
    min-width: 230px;
    max-width: 230px;
    padding: 0.8rem;
    &:hover {
      box-shadow: 0 0 43px -16px #aaa;
    }
  }
  @media screen and(min-width: 310px) and(max-width: 576px) {
    padding: 0;
    max-width: 50%;
    min-width: 50%;
    box-shadow: 0 0 1px -1px #aaa;
    border: none;
    .product-meta-info {
      padding: 0 5px;
      font-size: 0.8rem;
    }
  }
}

picture {
  height: 280px;
  @media screen and(min-width: 310px) and(max-width: 576px) {
    height: 210px;
  }
  &.bg-img-none {
    background-image: none;
  }
  img {
    mix-blend-mode: darken;
    object-fit: scale-down;
  }
}

.disablePrice {
  text-decoration: line-through;
  color: #7e818c;
  font-weight: 400;
  margin-left: 5px;
  font-size: 12px;
}

.product-discountPercentage {
  color: $theme-action-color;
}

.product-starRating {
  font-size: 0.9rem;
}
