<div class="cod-block">
  <div class="section-help">
    <span class="lbl">
      Card Payment Using PayUbiz
    </span>
    <span class="sub-lbl">
      We will Not save your card details.
    </span>
  </div>
  <div class="cod-info">
    NOTE: After clicking pay button you will be redirected to payUbiz
  </div>
</div>

<div class=row>
  <div class="col-md-6">
    <div class="pay-btn-wrap">
      <button (click)="addPayment()" 
        [disabled]="isPaymentAdded" 
        [ngClass]="!isPaymentAdded ? 'btn themebtnprimary' : 'btn themebtnprimary themebtndisable'">
        Continue
      </button>
    </div>
  </div>
  <div class="col-md-6">
    <div class="pay-btn-wrap">
      <button (click)="makePaymentPayubiz()" 
        [disabled]="!isPaymentAdded" 
        [ngClass]="isPaymentAdded ? 'btn themebtnprimary' : 'btn themebtnprimary themebtndisable'">
        Pay Now</button>
    </div>
  </div>
</div>