@import "../../../../shared/scss/selected_theme_variables";

a {
  color: $footer-font-color;
}

.line {
  display: inline;
  padding: 10px;
}

.social-link {
  text-align: right
}

$break-small: 320px;
@media screen and (min-width: $break-small) and (max-width: 767px) {
  .social-link {
    text-align: center
  }

}
