@import "../../../../../shared/scss/selected_theme_variables";
#buybox {
  float: left;
  width: 40%;
  @media only screen and (min-width: 320px) and (max-width: 767px) {
    width:100%
  }
  .bordered {
    background-color: $gray-100;
    border: 1px solid $gray-10;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    @media only screen and (min-width: 320px) and (max-width: 767px) {
      -webkit-border-radius:0;
      border-radius: 0;
    }
    .buybox__favorite {
      cursor: pointer;
      font-size: 1.1rem;
      display: block;
      text-align: center;
      padding: 16px 20px;
      background: $white;
      border-top: 1px solid $gray-10;
      -webkit-border-radius: 0 0 5px 5px;
      border-radius: 0 0 5px 5px;
    }
    .buybox__purchase {
      .buttons {
        padding: 0 15px;
        // @media only screen and (min-width: 320px) and (max-width: 767px) {
        //   padding: 0rem;
        // }
      }
      padding: 15px;
      @media only screen and (min-width: 320px) and (max-width: 767px) {
        text-align: center;
        padding-top: 2px;
      }
      .buy-quantity {
        display: block;
        margin-bottom: 15px;
        border: 1px solid $gray-10;
        -webkit-box-shadow: 0 1px 0 $gray-10;
        box-shadow: 0 1px 0 $gray-10;
        -webkit-border-radius: 4px;
        border-radius: 4px;
        overflow: hidden;
        .quantity-input {
          width: 33.33333%;
          float: left;
          padding: 4px;
          background-color: $gray-10;
          position: relative;
          .quantity-number {
            top: 0;
            bottom: auto;
            font-size: 1.2em;
          }
          span {
            display: block;
            text-align: center;
            font-size: .8em;
            color: $gray-800;
          }
        }
        a.quantity-minus {
          font-size: 2.4em;
          line-height: 1.3em;
        }
        a.disabled {
          cursor: default;
          background: $gray-200;
          color: $gray-10;
        }
        a {
          width: 33.33333%;
          float: left;
          height: 50px;
          padding: 0;
          margin: 0;
          line-height: 50px;
          font-weight: 400;
          font-size: 1.7em;
          border: none;
          -webkit-box-shadow: none;
          box-shadow: none;
          -webkit-border-radius: 0;
          border-radius: 0;
          -webkit-user-select: none;
          -moz-user-select: none;
          -ms-user-select: none;
          user-select: none;
        }
      }
    }
  }
}
