<div class="bordered">
  <div class="buybox__purchase">
    <form>
      <div>
        <div class="buy-quantity">
          <a class="primary-btn  quantity-minus" (click)="decreaseCount()">-</a>
          <span class="quantity-input">
            <span class="quantity-number">{{count}}</span>
            <span>Quantity</span>
          </span>
          <a class="primary-btn  quantity-plus" (click)="increseCount()">+</a>
        </div>
      </div>
      <div class="buttons row" *ngIf="isBackorderable || product?.total_on_hand > 0">
        <input type="submit" class=" primary-btn primary-btn--action primary-btn--full js-add-cart" value="Add to Cart" (click)="addToCart(count)">
        <button (click)="addToCart(count)" [routerLink]="['/checkout/cart']" class="primary-btn primary-btn--action primary-btn--action-buy mt-1">Buy Now</button>
      </div>

      <div class="buttons row" *ngIf="!isBackorderable || product?.total_on_hand < 0">
        <input type="submit" class=" primary-btn primary-btn--action primary-btn--full js-add-cart" value="Out of Stock" (click)="addToCart(count)"
          disabled>
      </div>
    </form>
  </div>
  <a class="buybox__favorite" (click)="markAsFavorites()">
    <span>
      <i class="fa fa-heart"></i> Add to Favorites</span>
  </a>
</div>