<div class="bordered">
  <div class="buybox__purchase">
    <form>
      <div>
        <div class="buy-quantity">
          <a class="cw-btn  quantity-minus" (click)="decreaseCount()">-</a>
          <span class="quantity-input">
            <span class="quantity-number">{{count}}</span>
            <span>Quantity</span>
          </span>
          <a class="cw-btn  quantity-plus" (click)="increseCount()">+</a>
        </div>
      </div>
      <div class="buttons">
        <input type="submit" class="cw-btn cw-btn--action cw-btn--full js-add-cart" value="Add to Cart" (click)="addToCart()">
      </div>
    </form>
  </div>
  <a class="buybox__favorite" (click)="markAsFavorites()">
    <span>
      <i class="fa fa-heart"></i> Add to Favorites</span>
  </a>
</div>