<div class="bordered">
  <div class="buybox__purchase">
    <form>
      <div>
        <div class="buy-quantity">
          <a class="btn  quantity-minus" (click)="decreaseCount()">-</a>
          <span class="quantity-input">
            <span class="quantity-number">{{count}}</span>
            <span>Quantity</span>
          </span>
          <a class="btn  quantity-plus" (click)="increseCount()">+</a>
        </div>
      </div>
      <div class="buttons row">
        <input type="submit" class="btn themebtnprimary js-add-cart" value="Add to Cart" (click)="addToCart(count)">
        <button (click)="addToCart(count)" [routerLink]="['/checkout/cart']" class="btn themebtnprimary themebtnprimarysade mt-1">Buy Now</button>
      </div>
    </form>
  </div>
  <a class="buybox__favorite" (click)="markAsFavorites()">
    <span>
      <i class="fa fa-heart"></i> Add to Favorites</span>
  </a>
</div>