<div *ngFor="let productinfo of product" class="lineitems">
  <div class="flex flex-wrap  favorite m-0 p-2" *ngFor="let productinfo of product">
    <div class="w-full sm:w-1/6 pr-4 pl-4">
      <img
        [src]="productinfo.product_url"
        class="max-w-full h-auto fimg"
        [routerLink]="['/', productinfo.slug]"
      />
    </div>
    <div class="w-full sm:w-1/2 pr-4 pl-4">
      <a class="lineitems-name" [routerLink]="['/', productinfo.slug]">{{
        productinfo.name
      }}</a>
    </div>
    <div class="w-full sm:w-1/5 pr-4 pl-4">
      <div class="price">
        {{ productinfo.currency_symbol }}{{ productinfo.price }}
      </div>
    </div>
    <div class="w-full sm:w-1/4 pr-4 pl-4 text-right">
      <button (click)="removeFromFavorite(productinfo.id)" class="inline-block align-middle text-center select-none border font-normal whitespace-no-wrap rounded py-1 px-3 leading-normal no-underline">
        <i class="fa fa-trash"></i>
      </button>
    </div>
  </div>
</div>
