<table class="table">
  <thead class="thead-light">
    <tr>
      <th scope="col">Product Image</th>
      <th scope="col">Product Name</th>
      <th scope="col">Action</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let productinfo of product">
      <td>
        <img [src]="productinfo.product_url" class="img-fluid fimg">
      </td>
      <td>{{ productinfo.name }}</td>
      <td class="text-right">
        <button (click)="removeFromFavorite(productinfo.id)" class="btn">
          <i class="fa fa-trash"></i>
        </button>
      </td>
    </tr>
  </tbody>
</table>