@import '../../../../shared/scss/selected_theme_variables';
.padding-top {
  padding-top: 50px;
}

h1 {
  font-size: 1.7em;
  color: $gray-900
}

.pdp-add-to-bag {
  width: 60%;
  text-align: center;
  padding: 10px 0;
  background-color: #a3d032;
  border: 1px solid #a3d032;
  color: #fff;
}

.pdp-button {
  border-radius: 3px;
  outline: 0;
  margin-top: 10px;
  padding: 10px 30px;
  font-size: 15px;
  min-height: 22px;
  margin-bottom: 10px;
}

.fav-icon-sontainer {
  position: relative;
  .favorite {
    position: absolute;
    right: 8px;
    top: -24px;
    background-color: #a3d032;
    color: #fff;
    padding: 10px 13px;
    border-radius: 50%;
    box-shadow: 0px 0px 8px #282828;
    z-index: 20;
  }
}

.slider {
  margin-top: 1vw;
  padding-top: 1vw;
  h2 {
    font-size: 1.7em;
    color: $gray-900;
  }
}

@media screen and(min-width: 310px) and(max-width: 768px) {
  .fav-icon-sontainer {
    .favorite {
      top: 50px;
    }
  }
}