.padding-top {
  padding-top: 50px;
}

.pdp-add-to-bag {
  width: 60%;
  text-align: center;
  padding: 10px 0;
  background-color: #a3d032;
  border: 1px solid #a3d032;
  color: #fff;
}

.pdp-button {
  border-radius: 3px;
  outline: 0;
  margin-top: 10px;
  padding: 10px 30px;
  font-size: 15px;
  min-height: 22px;
  margin-bottom: 10px;
}

.fav-icon-sontainer {
  position: relative;
  .favorite {
    position: absolute;
    right: 8px;
    top: -24px;
    background-color: #a3d032;
    color: #fff;
    padding: 10px 13px;
    border-radius: 50%;
    box-shadow: 0px 0px 8px #282828;
  }
}