<div itemscope itemtype="https://schema.org/Product" *ngIf="product != null" class="row padding-top">

  <app-image-container 
    [images]="images" 
    [selectedImage]="images[0]"
    class="col-md-6">
  </app-image-container>

  <div class="col-md-6">

    <app-product-price-info [product]="product" class="row">
    </app-product-price-info>

    <app-product-variants
      [customOptionTypesHash]="customOptionTypesHash"
      [currentSelectedOptions]="currentSelectedOptions" 
      (onOptionClickEvent)="onOptionClick($event)"
      [correspondingOptions]="correspondingOptions"
      [mainOptions]="mainOptions"
      class="row"></app-product-variants>  

    <div>
      <button (click)="addToCart()" class="pdp-add-to-bag pdp-button">ADD TO BAG</button>
    </div>

    <app-product-description 
      [description]="product.description" 
      class="row">
    </app-product-description>  
  </div>

</div>
