@import '../../../../shared/scss/selected_theme_variables';
.padding-top {
  padding-top: 50px;
}

h1 {
  font-size: 1.7em;
  color: $gray-900;
  @media screen and(min-width: 310px) and(max-width: 768px) {
    font-size: 1.2em;
    line-height: 1.2em;
    font-weight: 700;
  }
}

.pdp-add-to-bag {
  width: 60%;
  text-align: center;
  padding: 10px 0;
  background-color: $theme-main-color;
  border: 1px solid $theme-main-color;
  color: $white;
}

.product-subtitle {
  a {
    span {
      color: $gray-900;
    }
  }
}

.bg {
  background-color: $white;
  display: block
}

.rating-count {
  position: relative;
  left: -10px;
}

.rating {
  transform: scale(0.7);
}

.hide-phone {
  @media screen and(min-width: 310px) and(max-width: 768px) {
    display: block;
    text-align: right
  }
}

.check-head {
  font-size: 1.5em
}

.msg {
  display:block;
  h5 {
    font-size: 12px;
    text-transform: capitalize
  }
}

.pdp-button {
  border-radius: 3px;
  outline: 0;
  margin-top: 10px;
  padding: 10px 30px;
  font-size: 15px;
  min-height: 22px;
  margin-bottom: 10px;
}

.fav-icon-sontainer {
  position: relative;
  .favorite {
    position: absolute;
    right: 8px;
    top: -24px;
    background-color: $theme-main-color;
    color: $white;
    padding: 10px 13px;
    border-radius: 50%;
    box-shadow: 0px 0px 8px $gray-900;
    z-index: 20;
  }
}

.slider {
  background-color: $gray-100;
  border-bottom: 1px solid $gray-10;
  border-top: 1px solid $gray-10;
  margin: 1vw 0;
  padding-top: 1vw;
  padding-bottom: 1vw;
  m h2 {
    font-size: 1.7em;
    color: $gray-900;
  }
  /deep/ .product-tile p {
    margin-bottom: 10px;
    font-size: .9em
  }
  /deep/ .product-box {
    box-shadow: 0 0 1px $gray-11;
    border: 1px solid $gray-10;
  }
  /deep/ hr {
    display: none
  }
}

@media screen and(min-width: 310px) and(max-width: 768px) {
  .fav-icon-sontainer {
    .favorite {
      top: 50px;
    }
  }
}

.cust-reviews {
  .avg-review {
    padding: 1rem 0 3rem;
    .out-review {
      border-left: 1px solid $gray-10;
    }
  }
  .rataingpercentage {
    font-size: 1.2em;
    margin-bottom: 10px;
    .progress-container {
      .progress {
        display: flex;
        height: 1.6rem;
      }
    }
  }
  .review-display {
    .rating-inner {
      padding-bottom: 1rem;
      border-bottom: 1px solid $gray-10;
      margin-bottom: 1rem;
      .rating-head {
        font-weight: 700;
        color: $gray-900;
        position: relative;
        left: -5px;
        text-transform: capitalize;
      }
    }
    .rating-by {
      font-size: 1em;
      color: $gray-700 + 50;
    }
    .description {
      padding-top: 1rem;
      text-align: justify;
    }
  }
  .review-sort-filter {
    border-top: 1px solid $gray-10;
    border-top: 1px solid $gray-10;
    background-color: $gray-200;
    padding: 1rem;
  }
}

.product-box {
  border-radius: 5px;
  margin-top: 1rem;
  border: 1px solid transparent;
  @media screen and (min-width: 320px) and (max-width: 768px) {
    margin-right: 1rem;
    border: 1px solid $gray-10;
  }
  &:hover {
    border-color: $black - 200;
  }
}
