.padding-top {
  padding-top: 50px;
}

.pdp-add-to-bag {
  width: 60%;
  text-align: center;
  padding: 10px 0;
  background-color: #20bd99;
  border: 1px solid #20bd99;
  color: #fff;
}

.pdp-button {
  border-radius: 3px;
  outline: 0;
  margin-top: 10px;
  padding: 10px 30px;
  font-size: 15px;
  min-height: 22px;
}