<section>
  <div class="row">
    <h3>
      <a href=#>watch & learn</a>
    </h3>
    <div class="d-flex" dragScroll drag-scroll-y-disabled="true" #nav>
      <video class="col-3 mx-1" height="180" controls *ngFor="let video of videos">
        <source src={{video.link}} type={{video.type}}> Your browser does not support HTML5 video.
        <h4>{{video.title}}</h4>
      </video>
    </div>
  </div>
  <div class="row">
    <button button color="primary " (click)="moveLeft() ">left</button>
    <button button color="primary " (click)="moveRight() ">right</button>
  </div>
</section>
