<section>
  <div class="row slider-section">
    <h3>
      <a href=# class="section-title">watch & learn</a>
    </h3>
    <div class="slider-control">
      <button button color="primary " (click)="moveLeft() " class="slider-btn prv">left</button>
      <button button color="primary " (click)="moveRight() " class="slider-btn next">right</button>
    </div>
    <div class="d-flex" dragScroll drag-scroll-y-disabled="true" #nav>
      <video class="col-3 mx-1" height="180" controls *ngFor="let video of videos">
        <source src={{video.link}} type={{video.type}}> Your browser does not support HTML5 video.
        <h4>{{video.title}}</h4>
      </video>
    </div>
  </div>
</section>
