<div class="dpmenu" *ngIf="brands; let brandsList">
  <div class="cust-menu-btn" [ngClass]="[isOpen ? 'open':'']" (mouseenter)="dropdown.show()" (mouseleave)="dropdown.hide()">
    Shop By
    <span>Brands<i class="fa pl-3 fa-chevron-down"></i></span>
  </div>
  <div dropdown #dropdown="bs-dropdown" [autoClose]="false" (isOpenChange)="onOpenChange($event)" (mouseenter)="dropdown.show()"
    (mouseleave)="dropdown.hide()" (click)="dropdown.hide()">
    <div id="dropdown-triggers-manual" *dropdownMenu class="dropdown-menu" role="menu" aria-labelledby="button-triggers-manual">
      <div *ngIf="brandsList">
        <ul>
          <li *ngFor="let brand of brandsList" class="col-2" (click)="getBrands()">
            <app-brand-list [brand]="brand"></app-brand-list>
          </li>
          <li [routerLink]="['b/brands']">
            <a> Show all </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>