@import '../../../../../../shared/scss/selected_theme_variables';
a {

  &:focus {
    color: $black;
    text-decoration: None;
    &:hover {
      color: $theme-main-color;
      text-decoration: underline;
    }
  }
 
}

.img-fit {
  max-width: 100%;
  height:70px;
  object-fit: scale-down;
}

.flex-container {
  padding: 0;
  margin: 0;
  list-style: none;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -moz-flex;
  display: -webkit-flex;
  display: flex;
}

.wrap {
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
}

.wrap li {}

.flex-item {
  padding: 5px;
  width: 100px;
  height: 100px;
  margin: 10px;
  line-height: 100px;
  color: $white;
  font-weight: bold;
  font-size: 2em;
  text-align: center;
}
