@import '../../../shared/scss/selected_theme_variables';
.content {
  .search-btns {
    text-transform: uppercase;
    margin-bottom: 10px;
    @include button-size(10px, 10px, 0.7em, 1em, 7px);
    color: $black;
    border: 1px solid $gray-600;
    @include gradient-y($start-color: $gray-100, $end-color: $gray-300, $start-percent: 0%, $end-percent: 100%)
  }
  .sort-dropdown {
    background-color: $gray-300;
    width: 100%;
    text-align: left;
  }
  .dropdown-menu {
    width: 85%;
    right: 18px !important;
    padding: 0px;
    li {
      padding:0 .2rem;
      border-bottom: 0 solid;
      a{
        &:after{display:none;}
      }
    }
  }
  .dropdown-toggle::after {
    display: inline-block;
    position: absolute;
    right: 10px;
    top: 15px;
  }
  .dropdown-item.active,
  .dropdown-item:active {
    background-color: $gray-100
  }
  .queried-for {
    overflow: hidden; // display: inline-block;
    font-size: 18px;
    font-weight: 500;
    text-transform: capitalize;
    color: $gray-900;
    display: flex;
    align-items: baseline;
    .q {
      font-weight: 900;
      display: inline-block;
      text-overflow: ellipsis;
      vertical-align: top;
      overflow: hidden;
      white-space: nowrap;
      max-width: 67%;
    }
    span {
      line-height: 39px; // Temporary hack fix it later
      color: $gray-900;
      font-weight: 400;
      font-size: 18px;
      font-style: normal;
    }
  }
  .options {
    position: relative;
    text-align: right;
    display: inline-block;
    .form-control,
    .form-control:focus {
      box-shadow: none;
      border-color: $gray-400;
    }
    ul.img-size {
      display: inline-block;
      label {
        color: $gray-900;
        font-weight: 400;
      }
      li {
        list-style: none;
        display: inline-block;
        cursor: pointer;
        margin: 0 4px -2px;
        width: 19px;
        height: 13px;
        background: url(../../../../assets/default/search-sprite.png) no-repeat transparent;
        &.big {
          background-position: -284px -160px;
          &.selected {
            cursor: default;
            background-position: -284px -180px;
          }
        }
        &.small {
          background-position: -311px -160px;
          &.selected {
            background-position: -311px -180px;
            cursor: default;
          }
        }
      }
    }
    ul.sort {
      display: inline-block;
      position: relative;
      color: $gray-900;
      label {
        margin-left: 5px;
        font-weight: 400;
      }
      label:first-child {
        color: $gray-900;
      }
      li {
        display: inline-block;
        margin-left: 5px;
        text-decoration: none;
        cursor: pointer;
      }
      li:after {
        content: ' ';
        display: inline-block;
        height: 11px;
        width: 1px;
        border-left: 1px solid $gray-400;
        margin-left: 5px;
        margin-bottom: -1px;
      }
      label {
        font-weight: 400;
        margin-left: 5px;
        li:first-child {
          margin-left: 0;
        }
        li:after {
          content: none;
        }
      }
    }
    ul.sort:before,
    ul.sort:after {
      content: "";
      display: table;
    }
  }
  .options:before,
  .options:after {
    content: "";
    display: table;
  }
}

.sort-mobile {
  width: 100.3%;
  max-width: 300%;
  margin: -1px 0px 0px -0.6px;
  height: 100vh;
  .modal-content {
    border-radius: 0px;
    box-shadow: none;
    height: 100vh;
  }
  .modal-body {
    background-color: $white;
  }
}

[type="radio"]:checked,
[type="radio"]:not(:checked) {
  position: absolute;
  left: -9999px;
}

[type="radio"]:checked+label,
[type="radio"]:not(:checked)+label {
  position: relative;
  padding-left: 40px;
  cursor: pointer;
  line-height: 20px;
  display: inline-block;
  color: $gray-900;
}

[type="radio"]:checked+label:before,
[type="radio"]:not(:checked)+label:before {
  content: "";
  position: absolute;
  left: 0;
  top: -4px;
  width: 25px;
  height: 25px;
  border: 1px solid $gray-10;
  border-radius: 100%;
  background: $white;
}

[type="radio"]:checked+label:after,
[type="radio"]:not(:checked)+label:after {
  content: "";
  content: "";
  width: 12px;
  height: 12px;
  background: $theme-action-color;
  position: absolute;
  top: 2.7px;
  left: 7px;
  border-radius: 100%;
  transition: all 0.2s ease;
}

[type="radio"]:not(:checked)+label:after {
  opacity: 0;
  -webkit-transform: scale(0);
  transform: scale(0);
}

[type="radio"]:checked+label:after {
  opacity: 1;
  -webkit-transform: scale(1);
  transform: scale(1);
}

ul {
  list-style: none;
  padding: 0 0 0.5rem 0;
  margin: 0px;
  li {
    .sort {
      font-size: 1.5em;
      font-weight: bold;
      color: $gray-900;
    }
    padding: 1.1rem 0.2rem;
    border-bottom: 1px solid $gray-10;
    color: $gray-900;
    cursor: pointer;
    text-align: left;
  }
}

ul {
  list-style: none;
  padding: 0.5rem 0 0.5rem 0;
  margin: 0px;
  li {
    &:focus {
      outline: none;
      box-shadow: none;
    }
    a {
      padding: 0.8rem .7rem;
      border-bottom: 1px solid $gray-10;
      color: $gray-900;
      display: block;
      cursor: pointer;
      &::after {
        font-family: 'FontAwesome';
        content: "\f105";
        width: 20px;
        height: 57px;
        margin-right: 12px;
        right: 0px;
        position: absolute;
        background-size: 10px;
      }
      &:focus {
        background-color: $gray-100;
      }
    }
    ul {
      li {
        a {
          padding: 0.8rem 1.5rem;
        }
      }
      display: none;
      ul {
        li {
          a {
            padding: 0.8rem 2.5rem;
          }
        }
        display: none
      }
    }
  }
  .active {
    ul {
      display: block;
      .active {
        ul {
          display: block
        }
      }
    }
  }
}

.parrent-catgory {
  width: 100vw;
  left: 0vw;
  position: relative;
}

.sub-catgory {
  @extend .parrent-catgory;
  left: -100vw;
}

.sub-sub-catgory {
  @extend .parrent-catgory;
}

.radio-pink [type="radio"]:checked+label:after {
  border-color: $theme-action-sub-color2;
  background-color: $theme-action-sub-color2;
}

/*Gap*/

.radio-pink-gap [type="radio"].with-gap:checked+label:before {
  border-color: $theme-action-sub-color2;
}

.radio-pink-gap [type="radio"]:checked+label:after {
  border-color: $theme-action-sub-color2;
  background-color: $theme-action-sub-color2;
}

.radio-button,
.checkbox {
  position: relative;
  margin: 0 !important;
}

.checkbox {
  display: block;
}

.radio-button input,
.checkbox input {
  position: absolute;
  margin: 5px;
  padding: 0;
  /* for mobile accessibility (iOS Label Bug) */
  visibility: hidden;
}

.radio-button .label-visible,
.checkbox .label-visible {
  margin-left: 2em;
  margin-bottom: 0;
}

.fake-radiobutton,
.fake-checkbox {
  position: absolute;
  display: block;
  top: 0;
  left: 3px;
  width: 20px;
  height: 20px;
  border: 1px solid $gray-10;
  background-color: $white;
}

.fake-radiobutton:after,
.fake-checkbox:after {
  content: "";
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 16px;
  height: 16px;
  background: $theme-action-sub-color2;
  transform: translateX(-50%) translateY(-50%);
}

.fake-radiobutton {
  border-radius: 50%;
}

.fake-radiobutton:after {
  border-radius: 50%;
}

input[type="radio"]:checked+span .fake-radiobutton:after,
input[type="checkbox"]:checked+span .fake-checkbox:after {
  display: block;
}

.content-device {
  @media screen and (min-width: 320px) and (max-width: 768px) {
    background-color:$gray-100;
    padding: 0 22px;
    margin-bottom: 5px;
  }
  .showcount {
    font-size: 10px;
  }
}
