<div class="content">
  <div itemprop="name" class="queried-for">
    <h4 title="men casual shirts" class="q">{{ 'HOME.DISPLAY_AVAILABLE_PRODUCTS' | translate }}</h4>
    <span>&nbsp;</span>
  </div>

  <div class="options">
    <ul class="img-size">
      <label>View:</label>
      <li (click)="toggleView('COMPACT')" [ngClass]="{'big': true, 'selected': isBigSelected()}"></li>
      <li (click)="toggleView('COZY')" [ngClass]="{'small': true, 'selected': isSmallSelected()}"></li>
    </ul>
    <ul class="sort">
      <label>Sort:</label>
      <li data-sortkey=":popularity">{{ 'HOME.POPULAR' | translate }}</li>
      <li data-sortkey=":new">{{ 'HOME.NEW' | translate}}</li>
      <li data-sortkey=":discount">{{ 'HOME.DISCOUNT' | translate }}</li>
      <label>Price:
        <li data-sortkey=":low">{{ 'HOME.LOW' | translate}}</li>
        <li data-sortkey=":high">{{ 'HOME.HIGH'  | translate}}</li>
      </label>
    </ul>
  </div>
</div>
