<div class="container content p-1">
  <div class="row" *ngIf=productsCount>
    <div itemprop="name" class="queried-for col-7">
      <h4 title="men casual shirts">Showing {{productsCount}} of {{productsTotal_count}} results.
      </h4>
      <span>&nbsp;</span>
    </div>
    <div class="options col-5 p-0">
      <ul class="img-size">
        <label>View:</label>
        <li (click)="toggleView('COMPACT')" [ngClass]="{'big': true, 'selected': isBigSelected()}"></li>
        <li (click)="toggleView('COZY')" [ngClass]="{'small': true, 'selected': isSmallSelected()}"></li>
      </ul>
      <form class="container">
        <div class="form-group row">
          <label for="inputEmail3" class="col-sm-4 col-form-label">Sort by</label>
          <div class="col-sm-8 p-0">
            <select [(ngModel)]="selectedOption" class="form-control" name="Relevance" (click)="sortFilter()">
              <option [ngValue]="Relevance">Relevance</option>
              <option *ngFor="let opt of options">
                {{opt.name}}
              </option>
            </select>
          </div>
        </div>
      </form>

    </div>
  </div>
</div>