@import '../../../shared/scss/selected_theme_variables';

.product-thumbShim {
  position: absolute;
  top: 0;
  left: 0;
  width: 101%;
  height: 100%;
  background-color: $gray-900;
  -webkit-transition: visibility 0s, opacity .5s linear;
  transition: visibility 0s, opacity .5s linear;
  visibility: hidden;
  opacity: 1;
}

.product-base {
  @media screen and (min-width: 320px) and (max-width: 767px) {
    margin: 0px !important;
    flex: 0 0 100%;
    max-width: 100%;
    border: 0;
    border-radius: 0;
    border-bottom: 1px solid $gray-10;
    display: block;
    padding: 1em 1.5em;
    box-shadow: none;
  }
  @media screen and(width: 768px) {
    flex: 0 0 30.5%;
    max-width: 30.5%;
  }
  text-align: left;
  position: relative;
  background-color: $white;
  border: 1px solid $gray-10;
  -webkit-box-shadow: 0 1px 0 $gray-12;
  box-shadow: 0 1px 0 $gray-12;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  -webkit-transition: border .2s linear;
  transition: border .2s linear;
  &:hover {
    box-shadow: 0px 0px 3px $gray-10;
  }
  text-decoration: none;
  color: $gray-900;
  .searchimg {
    height: 130px;
  }
  .product-thumb {
    height: 240px;
    @media screen and (min-width: 320px) and (max-width: 768px) {
      height: 80%;
    }
    display: block;
    background-color: transparent;
    opacity: 1;
    width: 100%;
    object-fit: contain;
  }
  .product-productMetaInfo {
    position: relative;
    background: $white;
    padding: 0 5px;
    .ngrating {
      position: relative;
      left: -10px;
      transform: scale(0.8) translateX(-8%);
      @media screen and (min-width: 320px) and (max-width: 768px) {
        transform: scale(0.7) translateX(-16%);
      }
    }
    .product-brand,
    .product-product {
      overflow: hidden; // text-overflow: ellipsis;
      // white-space: nowrap;
      font-size: 0.8rem;
      font-weight: 500;
      line-height: 1.2rem;
      color: $gray-600;
      text-transform: capitalize;
      margin-top: 10px;
      height: 3.6rem;
      @media screen and (min-width: 320px) and (max-width: 768px) {
        height:auto;
      }
    }
    .product-price {
      font-size: 1.3em;
      line-height: 1.2em;
      color: $red;
      margin: 10px 0 0;
      white-space: nowrap;
      font-weight: 500;
    }
  }
  a {
    &:focus {
      text-decoration: none;
      color: $gray-600;
    }
    &:hover {
      text-decoration: none;
      color: $gray-600;
    }
  }
}

.morechoices {
  background-color: $gray-100;
  color: $gray-600;
  border: 1px solid $gray-200;
  border-radius: 2px;
  font-size: 0.7rem;
  font-weight: 400;
  margin-top: 10px;
  padding: .2rem;
  text-align: center;
  @media screen and (min-width: 320px) and (max-width: 768px) {
    background-color: $white;
    color: $gray-400;
    margin-top: 0px;
    width: 90.5%;
    margin: 5px auto 0;
    font-size: 0.6rem;
  }
}

.shipping {
  font-size: 0.7em;
  font-weight: 400;
  text-align: left;
  margin-top: 15px;
  color: $black;
  margin-bottom: 0px;
  @media screen and (min-width: 320px) and (max-width: 768px) {
    margin:0;
    padding: 5px 0;
  }
}

.disableprize {
  font-size: 1rem;
  line-height: 1;
  color: $gray-700;
  text-decoration: line-through;
  margin-left: 10px;
}

.results-base {
  @media screen and (min-width: 320px) and (max-width: 768px) {
    padding: 0 0px;
    background-color: $white;
  }
}
