<div class="row results-base m-0" *ngIf="!isMobile">
  <div class="col-12 col-sm-4 col-lg-3 p-2 m-0" *ngFor="let product of products" itemscope itemtype="https://schema.org/Product">
    <app-product-list-item [product]="product"></app-product-list-item>
  </div>
  <div class="col-12 mt-3">
    <div class="row">
      <!-- <pagination *ngIf="paginationData.total_count > paginationData.per_page" [totalItems]="paginationData.total_count" [itemsPerPage]="paginationData.per_page"
        [(ngModel)]="paginationData.current_page" (pageChanged)="pageChanged($event)" class="m-auto" [maxSize]="5"></pagination> -->
    </div>

  </div>
</div>
<div class="row results-base m-0" *ngIf="isMobile">
  <div class="col-12 product-base" *ngFor="let product of products" itemscope itemtype="https://schema.org/Product">
    <a itemprop="url" [routerLink]="['/', product.slug]">
      <div class="row">
        <div class="col-5 p-0 searchimg">
          <img itemprop="image" class="product-thumb img-fluid" alt="{{product.name}}" [src]="getImage(product)">
          <div class="morechoices">
            More Choices Available
          </div>
        </div>
        <div class="col-7 p-0">
          <div class="product-productMetaInfo">
            <div itemprop="name" class="product-brand">{{ product.name }}</div>
            <div itemprop="offers" itemscope itemtype="https://schema.org/Offer" class="product-price">
              <span>
                <span itemprop="price" class="product-discountedPrice">{{currency}} {{ product.selling_price.amount }}</span>
                <span itemprop="price" class="disableprize">{{currency}}{{product.max_retail_price.amount}}</span>
              </span>
            </div>
            <p class="shipping border-top border-bottom mt-1 mb-2">
              <b>FREE 1-2 day</b> shipping at {{currency}}{{appConfig.freeShippingAmount}}
            </p>
            <div class="ngrating">
              <ngx-input-star-rating disabled="true" value="{{product.rating_summary.average_rating}}"></ngx-input-star-rating>
            </div>
          </div>
        </div>
      </div>
    </a>
  </div>
  <!-- <div class="col-12 mt-3">
    <div class="row">
      <pagination *ngIf="paginationData.total_count > paginationData.per_page" [totalItems]="paginationData.total_count" [itemsPerPage]="paginationData.per_page"
        [(ngModel)]="paginationData.current_page" (pageChanged)="pageChanged($event)" class="m-auto" [maxSize]="3"></pagination>
    </div>

  </div> -->
</div>