@import '../../../shared/scss/selected_theme_variables';
.product-thumbShim {
  position: absolute;
  top: 0;
  left: 0;
  width: 101%;
  height: 100%;
  background-color: $gray-900;
  -webkit-transition: visibility 0s, opacity .5s linear;
  transition: visibility 0s, opacity .5s linear;
  visibility: hidden;
  opacity: 1;
}

.product-base {
  flex: 0 0 23.3%;
  max-width: 23.3%;
  @media screen and (min-width: 320px) and (max-width: 767px) {
    margin:.5rem 0px !important;
    flex: 0 0 100%;
    max-width: 100%;
  }
  @media screen and(width: 768px) {
    flex: 0 0 30.5%;
    max-width: 30.5%;
  }
  text-align: left;
  position: relative;
  background-color: $white;
  border-radius: 5px;
  padding: .6rem;
  overflow: hidden;
  display: inline-block;
  transition: all 500ms;
  border: 1px solid $gray-600; // margin: 0 30px 20px 0;
  box-shadow: 0px 0px 1px $gray-10;
  &:hover {
    box-shadow: 0px 0px 3px $gray-10;
  }
  a {
    text-decoration: none;
    background-color: transparent;
    color: $gray-900;
    .product-thumb {
      height: 240px;
      display: block;
      background-color: transparent;
      opacity: 1;
      width: 100%;
      object-fit: contain;
    }
    .product-productMetaInfo {
      position: relative;
      z-index: 2;
      background: $white;
      height: 100%;
      padding: 0 5px;
      .ngrating {
        position: relative;
        left: -10px;
      }
      .product-brand,
      .product-product {
        overflow: hidden; // text-overflow: ellipsis;
        // white-space: nowrap;
        font-size: 1em;
        font-weight: 500;
        line-height: 1.5em;
        color: $gray-800;
        text-transform: capitalize;
        margin-top: 10px;
        height: 4.6vw;
      }
      .product-price {
        font-size: 1.3em;
        line-height: 1.2em;
        color: $theme-action-sub-color2 - 50;
        margin: 10px 0 0;
        white-space: nowrap;
        font-weight: 500;
      }
    }
  }
}

.morechoices {
  background-color: $gray-400;
  color: $white;
  border-radius: 5px;
  margin-top: 10px;
  padding: .2rem;
  text-align: center;
}

.shipping {
  font-size: 0.8em;
  font-weight: 400;
  text-align: left;
  margin-top: 15px;
  color: $black;
  margin-bottom: 0px;
}

.disableprize {
  font-size: 1rem;
  line-height: 1;
  color: $gray-700;
  text-decoration: line-through;
  margin-left: 10px;
}