<!-- <div><P>{{isFilterOn}}</P></div> -->
<div *ngIf="!isFilterOn" class="catgeory">
  <ul class="list-group" *ngIf="taxonomiList[0]; let catgeory_taxonomy">
    <h4> Catgeories</h4>
    <li *ngFor="let categoryItem of catgeory_taxonomy.root.taxons" (click)="emitSelection(catgeory_taxonomy)">
      <a class="list-group-item list-group-item-action" [routerLink]="['.']" [queryParams]="{'q[name_cont]': categoryItem.name, id: categoryItem.id, page: 1}">
        {{categoryItem.name}}
      </a>
    </li>
  </ul>
</div>

<div *ngIf="isFilterOn" class="catgeory">
  <ul class="list-group" *ngIf="taxonomiList; let child_taxonomy">
    <p>{{taxonomiList.pretty_name}}</p>
    <h4 *ngIf="categoryLevel.length > 0"> Catgeories</h4>
    <li *ngIf="categoryLevel.length > 0">

      <a class="list-group-item list-group-item-action" (click)=showAllCategory()>
        <i class="fa fa-chevron-left mr-1" aria-hidden="true"></i>
        All
      </a>
    </li>
    <li *ngFor="let levels of categoryLevel" (click)="emitSelection()">
      <a [routerLink]="['.']" class="list-group-item list-group-item-action" [queryParams]="{'q[name_cont]': levels.name, id: levels.id}">
        <span class="maninname">
          {{levels.name}}
        </span>
      </a>
    </li>
    <li>
      <ul *ngIf="child_taxonomy.taxons">
        <li *ngFor="let childs of child_taxonomy.taxons" (click)="emitSelection(childs.id)">
          <a class="list-group-item list-group-item-action ml-3" [routerLink]="['.']" [queryParams]="{'q[name_cont]': childs.name, id: childs.id}">{{childs.name}}</a>
        </li>
      </ul>
    </li>
  </ul>
</div>
