@import "../shared/scss/_selected_theme_variables.scss";
.shippingbtn {
  font-size: 1em !important;
  width: 100%;
  border-radius: 0;
  i {
    font-size: 20px;
    color: $white;
    -moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    filter: FlipH;
    -ms-filter: "FlipH";
  }
  &:hover {
    background-color: $theme-main-color - 20 !important;
  }
}

.landing {
  margin-top: 2rem;
  @media screen and (min-width: 320px) and (max-width: 768px) {
    margin-top:1rem;
  }
}

:host {
  /deep/ .section-title {
    color: $black;
    text-transform: capitalize;
    font-weight: 600;
    position: absolute;
  }
  /deep/ .scrollbar-hidden {
    overflow: hidden !important;
  }
  /deep/ .product-tile {
    text-align: center;
    a {
      color: $gray-900;
      img {
        object-fit: scale-down;
        height: 200px;
        width: 100%;
      }
      &:hover {
        text-decoration: none;
      }
    }
  }
  /deep/ .product-box {
    border-radius: 5px;
    margin-top: 1rem;
    border: 1px solid transparent;
    @media screen and (min-width: 320px) and (max-width: 768px) {
      margin-right: 1rem;
      border: 1px solid $gray-10;
    }
    &:hover {
      -webkit-box-shadow: 0 1px 0 $gray-10;
      box-shadow: 0 1px 0 $gray-10;
      border-color: $gray-10;
    }
  }
  /deep/.product-tile p {
    margin-bottom: 0px;
    white-space: normal;
    margin-top: 10px;
  }
  /deep/.dropdown-toggle::after {
    vertical-align: 0.055em !important;
  }
  $break-small: 320px;
  @media screen and (min-width: $break-small) and (max-width: 767px) {
    /deep/ .section-title {
      font-size: 1.4em;
    }
  }
}
