<app-lp-banner></app-lp-banner>
<button type="button" class="btn shippingbtn d-block d-sm-none"> FREE 1-2 DAY SHIPPING OVER {{currency}}{{freeShippingAmount}}
  <i class="fa ml-2 fa-truck" aria-hidden="true"></i>
</button>
<div class="container my-5">
  <app-lp-product-list [products]="products_by_taxons$ | async" [dealsType]="dealsType" [dealsId]="taxons_id"> </app-lp-product-list>
  <app-lp-product-list [products]="favoriteProducts$ | async" dealsType="Customer Favourites" [dealsId]="taxons_id"> </app-lp-product-list>
  <app-lp-product-list [products]="products$ | async" dealsType="Top Rated Products" [showRating]="true" [dealsId]="taxons_id">
  </app-lp-product-list>
  <app-lp-promo> </app-lp-promo>
  <app-lp-brands [brands]="brands$ | async"></app-lp-brands>
</div>