@import '../../../../shared/scss/selected_theme_variables';
.bread_crumb {
  color: red;
  position: relative;
  margin: 25px 0;
  font-size: 13px;
  background-color: white !important;
  li {
    font-size: 13px;
    display: inline-block;
    float: left;
    margin-right: 5px;
    color: $gray-800;
    text-transform: capitalize;
    a {
      color: $gray-800;
      // text-decoration: none;
    }
  }
  li:after {
    font-size: 10px;
    content: '/';
    margin-left: 5px;
  }
  li:last-child {
    font-weight: 500;
    margin-right: 0;
    font-family: $primary-font;
  }
  li:last-child:after {
    content: '';
    margin-right: 0;
  }
}

ul.bread_crumb:before, ul.bread_crumb:after {
  content: "";
  display: table;
}
