@import '../../shared/scss/selected_theme_variables';
.navbar {
  padding: 0px;
  padding-top: 1rem;
  @media screen and (min-width: 768px) {
    &#main {
      transition: all 500ms;
      position: fixed;
      width: 100%;
      z-index: 100;
    }
    &:not(#main),
    &.page-scroll-header {
      box-shadow: 0 1px 3px $gray-300;
      z-index: 1;
    }
    &#sub-header {
      transition: all 150ms;
      width: 100%;
      z-index: 1;
      top: 50px;
      &.hide-sub-header {
        top: 0;
      }
    }
  }
}

.shippingbtn {
  font-size: 1.3em !important;
  i {
    font-size: 20px;
    color: $white;
    -moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    filter: FlipH;
    -ms-filter: "FlipH";
  }
  &:hover {
    background-color: $theme-main-color - 20 !important;
  }
}

.page-scroll-header {
  padding-top: 0px;
  padding-bottom: 0px;
}

:host /deep/ .page-scroll-header .cust-menu-btn {
  border-radius: 0px;
  margin-right: 10px;
}

:host /deep/ .dropdown-menu {
  top: 3.1em !important
}

.selected-theme .navbar {
  box-shadow: none !important;
}

.header {
  background-color: $theme-main-color;
  .resheader {
    width: calc(100vw - 15vw);
    @media screen and(width: 768px) {
      width: calc(100vw - 12vw);
    }
  }
}

.profile {
  padding-top: 15px;
  flex: 0.2;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.mlogo {
  flex: 4;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cart {
  padding-top: 6px;
  padding-right: 10px;
  flex: .5;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.search {
  padding-top: 2px;
  flex: 0.2;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.small-logo img {
  width: 120px;
  margin-top: 0;
}

@media screen and(min-width: 321px) and(max-width: 768px) {
  .navbar {
    padding: 0px;
  }
  .cart {
    padding-top: 0;
    padding-right: 0;
  }
  :host /deep/ .page-scroll-header .cust-menu-btn {
    display: none;
  }
  .navbar .btn {
    padding: 0px;
  }
  .selected-theme .navbar .btn {
    padding: 0px;
  }
}

@media screen and(min-width: 310px) and(max-width: 320px) {
  .navbar {
    padding: 0px;
  }
  .cart {
    padding-top: 0;
    padding-right: 0;
  }
  :host /deep/ .page-scroll-header .cust-menu-btn {
    display: none;
  }
  .search {
    flex: 1;
  }
  .cart {
    flex: 1;
  }
  .mlogo {
    flex: 39;
  }
  .profile {
    flex: 1;
  }
}

.modal {
  top: 2.7rem;
  .cat-mobile {
    border-radius: 0px;
    margin: 0px;
    width: 100vw;
    height: 100vh;
    max-width: 100vw !important;
    .modal-content {
      border-radius: 0px;
      border: 0px solid transparent;
      height: 100vh;
    }
    .modal-body {
      padding: 0px;
      background-color: $white - 10
    }
  }
}

.main-nav-trigger {
  ms-touch-action: manipulation;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  left: 3px;
  position: relative;
  -webkit-border-radius: 5px 5px 0 0;
  border-radius: 5px 5px 0 0;
  -webkit-tap-highlight-color: transparent;
}

.main-nav-trigger,
.menu-items__links a {
  display: block;
  width: 40px;
  height: 37px;
  margin: 0;
  top: -4.5px;
  left: 6px
}

label {
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 2px;
  font-size: 12px;
}

.main-nav-trigger {
  &:after,
  &:before {
    content: "";
    width: 20px;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    -webkit-transition: transform .4s ease-out, transform-origin .4s ease-out;
    transition: transform .4s ease-out, transform-origin .4s ease-out;
  }
}

.main-nav-trigger {
  &:before {
    top: 13px;
  }
}

.main-nav-trigger {
  &:after {
    bottom: 8px;
  }
}

.main-nav-trigger {
  span {
    top: 20px;
    left: 10px;
    right: 11px;
    opacity: 1;
    width: 20px;
  }
}

.main-nav-trigger {
  &:after,
  &:before,
  span {
    display: block;
    height: 2px;
    background: $white;
    -webkit-border-radius: 1px;
    border-radius: 1px;
    position: absolute;
  }
}

.main-nav-trigger-open {
  top: 1.5px;
  background: $white;
  -webkit-box-shadow: 0 1px 0 $white;
  box-shadow: 0 1px 0 $white;
  &:before {
    -webkit-transform: translateX(-7px) rotate(45deg);
    -ms-transform: translateX(-7px) rotate(45deg);
    transform: translateX(-7px) rotate(45deg);
    -webkit-transform-origin: top left;
    -ms-transform-origin: top left;
    transform-origin: top left;
    background: $theme-main-sub-color1;
  }
  &:after {
    -webkit-transform: translateX(-7px) rotate(-45deg);
    -ms-transform: translateX(-7px) rotate(-45deg);
    transform: translateX(-7px) rotate(-45deg);
    -webkit-transform-origin: bottom left;
    -ms-transform-origin: bottom left;
    transform-origin: bottom left;
    background: $theme-main-sub-color1;
  }
  span {
    opacity: 0;
  }
}
