/* You can add global styles to this file, and also import other style files */
@font-face {
  font-family: "Whitney";
  src: url("assets/default/WhitneyHTF-SemiBold.woff") format("woff");
}
@font-face {
  font-family: "Whitney";
  src: url("assets/default/WhitneyHTF-Book.woff") format("woff");
}
