.navbar {
  color: $header-font-color;
  background-color: $theme-main-color;
  .header-cart {
    .fa-shopping-bag {
      color: $theme-action-color;
    }
    .badge {
      background-color: $theme-action-sub-color1;
    }
  }
  .btn {
    background-color: $theme-main-color;
    @extend .h6;
    margin-bottom: 0 !important;
  }
  .small-logo img {
    height: 36px;
  }
}