@keyframes notify-bounce-in-down {
  0% {
    top: -1000px;
  }
  10% {
    top: 100px;
  }
  15% {
    opacity: 1;
    top: 80px;
  }
  60% {
    opacity: 1;
    top: 80px;
  }
  65% {
    opacity: 1;
    top: 100px;
  }
  100% {
    opacity: 0;
    top: -1000px;
  }
}

.notify-container {
  position: fixed;
  top: 122px;
  color: $white;
  width: 100%;
  max-width: 980px;
  margin: 0 auto;
  left: 0;
  right: 0;
  min-height: 50px;
  z-index: 8;
  text-align: center;
  opacity: 0;
  &.in {
    -webkit-animation-duration: 5s;
    animation-duration: 5s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-name: notify-bounce-in-down;
    animation-name: notify-bounce-in-down;
  }
}

.notify-error {
  background-color: $theme-action-color;
}

.notify-content {
  max-width: 380px;
  width: 80%;
  padding: 10px 20px;
  border-radius: 3px;
  box-shadow: 0 2px 10px rgba(40, 44, 64, .2);
  margin: 0 auto;
}

.notify-error-message {
  font-size: 16px;
  font-weight: 500;
  position: relative;
}

.notify-icon {
  border: 2px solid $white;
  padding: 0 7px;
  border-radius: 20px;
  position: absolute;
  top: 12px;
  left: 0;
  margin-top: -10px;
  width: 27px;
}

.notify-icon-text {
  margin-left: 40px;
  margin-top: 10px;
  margin-bottom: 10px;
  text-align: left;
}