// Used to import variables in components
@import "../../../../../../node_modules/bootstrap/scss/mixins";
@import "custom_bootstrap_variables";
// -- Theme Colors here --
// Custom theme colors
// Refer _default_variables to generate colors
$theme-main-color: $gray-200;
$theme-action-color: #EB7F00+100;
$primary-font: "Whitney";
$header-font-color: $gray-600;
$theme-action-sub-color1: $theme-action-color - 50;
$theme-action-sub-color2: $theme-action-sub-color1 - 30;
$theme-action-sub-color3: $theme-action-sub-color2 - 20;
$theme-action-sub-color4: $theme-action-sub-color3 -10;
$theme-main-sub-color1: $gray-200;
$theme-main-sub-color2: $gray-300;
$theme-main-sub-color3: $gray-500;
$theme-main-sub-color4: $gray-700;
$footer-font-color: $header-font-color;