// Used to import variables in components
@import "custom_bootstrap_variables";
// -- Theme Colors here --
// Custom theme colors
// Refer _default_variables to generate colors
$theme-main-color: $gray-200;
$theme-action-color: #EB7F00 + 100;
$primary-font: "Whitney";
$header-font-color: $gray-600;

$theme-action-sub-color1: #EF6C00;
$theme-action-sub-color2: #FF7300;
$theme-action-sub-color3: #BF5600;
$theme-action-sub-color4:#B25100;

$theme-main-sub-color1:#128ced;
$theme-main-sub-color2: #0d7ed4;
$theme-main-sub-color3: #bfbfbf;
$theme-main-sub-color4: #E5E5E5
