// Used to import variables in components
@import "custom_bootstrap_variables";

// -- Theme Colors here --
// Custom theme colors
// Refer _default_variables to generate colors
$theme-main-color: white;
$theme-action-color: $pink + 50;
$primary-font: "Whitney";
