<div *ngIf="products$ | async; let products">
  <table class="table" *ngIf="products.length; else elseBlock">
    <thead class="thead-light">
      <tr>
        <th scope="col">Product Image</th>
        <th scope="col">Product Name</th>
        <th scope="col">Action</th>
      </tr>
    </thead>
    <tbody>
      <app-favorite-product-list-item *ngFor="let product of products" [product]="product"></app-favorite-product-list-item>
    </tbody>
  </table>
  <ng-template #elseBlock>
    <div>You have'nt favorited anything yet.</div>
  </ng-template>
</div>
