@import '../../../../shared/scss/selected_theme_variables';
.order-total-summary {
  .order-summary-span {
    position: relative;
    padding: none;
    .bag-total,
      {
      padding: 1rem 0;
      border-bottom: 1px solid $gray-10;
      position: relative;
      span {
        color: $gray-900;
        font-size: 1.2em;
      }
    }
    .shipping {
      padding: 1rem 0;
      span {
        color: $gray-900;
        font-size: 1.2em;
      }
    }
    .bag-total>.value,
    .coupon>.apply-coupon,
    .shipping>.shipping-fee {
      position: absolute;
      right: 0;
      text-align: right;
      color: $theme-action-color - 50;
      font-size: 1.2em;
      font-weight: 600;
    }
    .coupon>.c-blue {
      color: $theme-action-color - 50;
      cursor: pointer;
    }
    .shipping>.c-green {
      color: $theme-action-color - 50;
    }
  }
  .order-total.footer {
    position: relative;
    display: inline-block;
    width: 100%;
    clear: right;
    .place-order {
      text-align: right;
      .order-btn {
        border: 1px solid $theme-action-color - 50;
        border-radius: 0.4rem;
        padding: 0.5rem;
        background-color: $theme-action-color !important;
        font-weight: 300 !important;
        box-shadow: none;
        width: 100%;
        color: $white;
        font-family: "Roboto Regular";
        font-size: 1.4em;
        margin: 10px auto;    

      }
    }
  }
}