<div class="order-total-summary">
  <div class="coupon-section">
    <span class="text-label">Coupons</span>
    <a class="apply-coupon"></a>
  </div>
  <div class="gift-wrap-order">
    <span class="gift-wrap-checkbox"></span>
    <a href="" class="gift-card-lbl">Gift wrap for</a>
    <span class="gift-card-price">Rs. 25</span>
    <span class="not-cod">Cash/Card On Delivery not available</span>
  </div>
  <div class="order-summary-span">
    <div class="bag-total">
      <span>Bag Total</span>
      <span class="value">Rs. 5.898</span>
    </div>
    <div class="coupon">
      <span>Coupon Discount</span>
      <span class="apply-coupon c-blue">Apply Coupon</span>
    </div>
    <div class="shipping">
      <span>Delivery</span>
      <span class="shipping-fee c-green">FREE</span>
    </div>
  </div>
  <div class="order-total footer">
    <div class="place-order">
      <button class="order-btn">PLACE ORDER</button>
    </div>
    <div class="total-amount">
      <span class="total-rupees">Rs. 5,898</span>
    </div>
  </div>
</div>
