<div class="container">
  <div id="content" class="col-md-12 center-column content-with-background px-0">
    <h2 class="my-3">Return Policy</h2>
    <div class="row">
      <div class="col-sm-12">
        <p>Our returns policy lasts 15 days. If 15 days have gone by since your purchase, unfortunately we can’t offer you a
          refund or exchange.
          <br>
          <br> To be eligible for a return, your item must be unused and in the same condition that you received it. It must
          also be in the original packaging.
          <br>
          <br> Several types of goods are exempt from being returned. Perishable goods such as food(open condition), newspapers
          or magazines cannot be returned. We also do not accept products that are intimate or sanitary goods, hazardous
          materials, or flammable liquids or gases.
          <br>
          <br> Additional non-returnable items:
          <br> Gift cards
          <br> Downloadable software products
          <br> Some health and personal care items
          <br>
          <br> To complete your return, we require a receipt or proof of purchase.
          <br>
          <br> Please do not send your purchase back to the manufacturer.
          <br>
          <br> There are certain situations where only partial refunds are granted (if applicable)
          <br> Book with obvious signs of use CD, DVD, VHS tape, software, video game, cassette tape, or vinyl record that has
          been opened
          <br> Any item not in its original condition, is damaged or missing parts for reasons not due to our error
          <br> Any item that is returned more than 30 days after delivery
          <br>
          <h4> Refunds (if applicable)</h4>
          <p> Once your return is received and inspected, we will send you an email to notify you that we have received your
            returned item. We will also notify you of the approval or rejection of your refund.
            <br> If you are approved, then your refund will be processed, and a credit will automatically be applied to your
            credit card or original method of payment, within a 10 days.
            <br>

            <h4> Late or missing refunds (if applicable)</h4>
            <p>If you haven’t received a refund yet, first check your bank account again.
              <br> Then contact your credit card company, it may take some time before your refund is officially posted.
              <br> Next contact your bank. There is often some processing time before a refund is posted.
              <br> If you’ve done all of this and you still have not received your refund yet, please contact us at support@ofypets.com.
              <br>
              <h4>Sale items (if applicable)</h4>
              <p> Only regular priced items may be refunded, unfortunately sale items cannot be refunded.
                <br>
                <h4> Exchanges (if applicable)</h4>
                <p> We only replace items if they are defective or damaged. If you need to exchange it for the same item, send
                  us an email at admin@ofypets.com and send your item to: 59 MN Nagar, Kolathur, Chennai, Tamil Nadu, INDIA
                  600099. </p>
                <h4>Cancellation ( If applicable)</h4>
                <p> If you decide to cancel your order, preferably by phone, and quote your order number it's applicable with
                  2 days.</p>
                <h4>Gifts</h4>
                <p> If the item was marked as a gift when purchased and shipped directly to you, you’ll receive a gift credit
                  for the value of your return. Once the returned item is received, a gift certificate will be mailed to
                  you.
                  <br>
                  <br> If the item wasn’t marked as a gift when purchased, or the gift giver had the order shipped to themselves
                  to give to you later, we will send a refund to the gift giver and he will find out about your return.</p>
                <h4>Shipping Duration </h4>
                <p>Orders are shipped through registered domestic courier companies and /or speed post only. Orders are delivered
                  within 5-7 business days or as per the delivery date agreed at the time of order confirmation and delivering
                  of the shipment subject to Courier Company / post office norms</p>
                <h4> Shipping</h4>
                <p>To return your product, you should mail your product to: 59 MN Nagar, Kolathur, Chennai, Tamil Nadu, INDIA
                  600099
                  <br>
                  <br> You will be responsible for paying for your own shipping costs for returning your item. Shipping costs
                  are non-refundable. If you receive a refund, the cost of return shipping will be deducted from your refund.
                  <br>
                  <br> Depending on where you live, the time it may take for your exchanged product to reach you, may vary.
                  <br>
                  <br> If you are shipping an item over 1000 Rs, you should consider using a trackable shipping service or purchasing
                  shipping insurance. We don’t guarantee that we will receive your returned item.</p>
                <p> </p>
      </div>
    </div>
  </div>
</div>
