.reviewlink {
  cursor: pointer;
  &:hover {
    text-decoration: underline
  }
  @media only screen and (min-width: 320px) and (max-width: 767px) {
    margin-bottom: 10px;
    display: block;
  }
}

.change {
  padding-top: 15px;
  cursor: pointer;
}
