<div class="row">
  <div class="col-md-8">
    <form [formGroup]="passwordForm" (ngSubmit)="onPasswordChange(userDetails.id)" class="d-block">
      <span *ngIf="!isChangePasswordPressed; else elseBlock" class='reviewlink pl-1' (click)="changePassword()">Change Password</span>
      <ng-template #elseBlock>
        <span class='reviewlink pl-1' (click)="cancelPressed()">Cancel</span>
      </ng-template>
      <div *ngIf="isChangePasswordPressed">
        <input type="password" class="form-control" name="password" formControlName="password" placeholder="Choose Password" autocomplete="off">
        <div *ngIf="passwordForm.get('password').errors && passwordForm.get('password').touched">
          <p class="login-error-message text-danger">{{passwordForm.get('password').errors.msg || 'Password must be at least 6 characters!'}}</p>
        </div>

        <input type="password" class="form-control" name="password_confirmation" formControlName="password_confirmation" placeholder="Confirm Password"
          autocomplete="off">
        <div *ngIf="(passwordForm.get('password_confirmation').errors || passwordForm.hasError('mismatchedPasswords')) && passwordForm.get('password_confirmation').touched">
          <p class="login-error-message text-danger">This can't be blank!</p>
        </div>
        <div>
          <p class="login-error-message text-danger" *ngIf="passwordForm.errors?.doesMatchPassword">Password must match</p>
        </div>
        <button type="submit" class="btn btn-primary" [disabled]="!passwordForm.valid">Change Password</button>
      </div>
    </form>
  </div>
</div>