.dropdown-toggle::after {
  vertical-align: 0.055em !important;
}

.mobileusericon {
  margin-top: -9px;
  font-size: 20px;
}
.mobile-profile{   
  width: 100vw;
  min-width: 101.7vw;
  left: -60.6vw!important;
  height: calc(100vw + 65vw);
}