<section class="row search-container my-3 mx-auto" *ngIf="metaInfo" >
  <div class="col-12">
    <app-breadcrumbs [breadcrumbs]="breadcrumbs"></app-breadcrumbs>
  </div>
  <div class="col-12 mb-4">
    <app-search-title-container [title]="appliedFilters.q || 'All Categories'" [metaInfo]="metaInfo"></app-search-title-container>
  </div>
  <div class="col pr-0 d-none d-sm-block verticalFilterContainer">
    <app-search-filters-container [appliedFilters]="appliedFilters" [metaInfo]="metaInfo" (filterCleared)="clearFilters()" (filterUpdated)="updateFilters($event)" (selectedAggregation)="selectAggregation($event)"></app-search-filters-container>
  </div>
  <div class="col">
    <div class="row d-none d-sm-flex">
      <app-filter-summary-container class="col-12 pb-3 my-1" [appliedFilters]="appliedFilters" (updatedFilters)="updateFilters($event)"></app-filter-summary-container>
    </div>
    <app-search-results-container [searchResults]="searchResults"></app-search-results-container>
  </div>
</section>
