<ul class="nav navbar-nav navbar-right text-gray">

  <div class="btn-group" dropdown>
    <button id="button-basic" dropdownToggle type="button" class="btn dropdown-toggle" aria-controls="dropdown-basic">
      <strong>24/7 help</strong>
      <span class="caret"></span>
    </button>
    <ul id="dropdown-split" *dropdownMenu class="dropdown-menu text-center" role="menu" aria-labelledby="button-split">
      <li role="menuitem">
        <h6>Get help from our experts 24/7</h6>
        <h2 class="text-danger">1-800-xxx-xxx</h2>
      </li>
      <li class="divider dropdown-divider"></li>
      <li></li>
      <li role="menuitem">
        <a class="dropdown-item" [routerLink]="['/']">Contact Us</a>
      </li>
    </ul>
  </div>
</ul>
