@import '../../../../shared/scss/selected_theme_variables';
.dropdown-menu {
  width: 20rem;
  top: -0.2rem !important;
  border-radius: 0 0 5px 5px;
  left: -2px !important;
  &:before {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    top: -6.9px;
    left: 6.1rem;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    border-bottom: 7px solid $gray-10;
    z-index: 3;
  }
}

.dropdown-toggle::after {
  vertical-align: 0.055em !important;
}

.dpmenu {
  position: relative;
}

.helpbtn {
  font-size: 1.2em;
  padding: 0.7rem 1.2em 0.7em 0.7em;
  border-radius: 7px 7px 0px 0px;
  cursor: pointer;
  margin-right: 1em;
  position: relative;
  &:hover {
    box-shadow: 0 3px 5px rgba(0, 0, 0, .6);
    background-color: $theme-main-color - 20;
  }
}

.dropdown-item {
  cursor: pointer;
}

.dropdown-item.active,
.dropdown-item:active {
  background-color: $theme-main-color
}

.openhelp {
  background-color: $theme-main-color - 20 !important;
  box-shadow: 0 3px 5px rgba(0, 0, 0, .6);
}
