@import "../../../shared/scss/themes";

.panel {
  margin-bottom: 20px;
  background-color: #fff;
  border: none;
  border-radius: 0;
  box-shadow: 0 2px 15px rgba(0,0,0,.1);
  .panel-heading {
    padding: 30px 0 0;
    border-bottom: 1px solid transparent;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    text-align: center;
    background-color: transparent;
    .panel-title {
      margin-top: 0;
      margin-bottom: 0;
      font-size: 28px;
      color: #666;
      font-weight: 400;
    }
  }
}

.login-input-container {
  margin: 20px;
  border: 1px solid #bfc0c6;
  border-radius: 5px;
  padding: 0;
}

fieldset {
  display: block;
  -webkit-margin-start: 2px;
  -webkit-margin-end: 2px;
  -webkit-padding-before: 0.35em;
  -webkit-padding-start: 0.75em;
  -webkit-padding-end: 0.75em;
  -webkit-padding-after: 0.625em;
  min-width: -webkit-min-content;
  border-width: 2px;
  border-style: groove;
  border-color: threedface;
  border-image: initial;
}

.login-input-item {
  position: relative;
}

.login-container {
  box-sizing: border-box;
  text-align: center;
  position: relative;
  padding-bottom: 40px;
}

.login-user-input-email {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.login-user-input-password {
  border-top: 1px solid #d5d6d9 !important;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.login-user-input {
  display: block;
  color: #282c3f;
  padding-right: 40px;
  font-size: 15px;
  width: 100%;
  border: 0;
  padding: 15px;
}

input {
  -webkit-appearance: textfield;
  background-color: white;
  -webkit-rtl-ordering: logical;
  user-select: text;
  cursor: auto;
  padding: 1px;
  border-width: 2px;
  border-style: inset;
  border-color: initial;
  border-image: initial;
  text-rendering: auto;
  color: initial;
  letter-spacing: normal;
  word-spacing: normal;
  text-transform: none;
  text-indent: 0px;
  text-shadow: none;
  display: inline-block;
  text-align: start;
  margin: 0em 0em 0em 0em;
  font: 11px system-ui;
}

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em;
}

.login-login-button-container {
  padding: 10px 20px;
  margin: 0;
  border: 0;
}

.login-login-button {
  font-size: 13px;
  font-weight: 500;
  letter-spacing: 2px;
  padding: 15px;
  display: block;
  width: 100%;
  border: 0;
  text-transform: uppercase;
  border-radius: 3px;
}

.login-link-container {
  text-align: left;
  padding: 20px;
}

.login-link {
  text-decoration: none;
}

.login-right-links {
  float: right;
}

.login-info-text {
  color: #94969f;
  font-size: 12px;
}

.login-link-container {
  text-align: left;
  padding: 20px;
}

.login-create-account-link {
  margin-left: 5px;
}

a {
  background-color: transparent;
}

.login-third-party-login {
  margin-top: 30px;
}

.login-button-info-text {
  margin-top: 0;
  margin-bottom: 20px;
}

.login-info-text {
  color: #94969f;
  font-size: 12px;
}

.login-button-container {
  margin-top: 10px;
  margin-bottom: 40px;
}

@media (min-width: 360px) {
  .login-facebook {
      margin-right: 15px;
      margin-bottom: 0;
  }
}

@media (min-width: 360px) {
  .login-button {
    width: 49%;
    display: inline-block;
  }
}

.login-facebook {
  margin-bottom: 0px;
}

.login-button {
  max-width: 162px;
  padding-left: 18%;
  position: relative;
  font-size: 13px;
  font-weight: 500;
  height: 50px;
  border: 1px solid #bfc0c6;
  background-color: #fff;
  border-radius: 5px;
  text-align: left;
}

[type=reset], [type=submit], button, html [type=button] {
  -webkit-appearance: button;
}

[type=button], [type=reset], [type=submit], button {
  cursor: pointer;
}

button, select {
  text-transform: none;
}

button, input, select, textarea {
  margin: 0;
}

button, input, select {
  overflow: visible;
}

button, input, select, textarea {
  font: inherit;
}

.header-sprite {
  background: url(http://res.cloudinary.com/mally/image/upload/v1489480940/148948096411965_w5wbjb.png) no-repeat 0 0;
  background-size: 159px 48px;
  display: inline-block;
}

.login-fb-logo, .login-gplus-logo {
  height: 29px;
  position: absolute;
  left: 15px;
}

.login-fb-logo {
  background-position: -93px 0;
  width: 28px;
  top: 10px;
}

.login-gplus-logo {
  background-position: -122px 0;
  width: 23px;
  top: 13px;
}

.login-error-icon {
  border: 2px solid $state-danger-text;
  padding: 0 7px;
  display: inline-block;
  position: absolute;
  top: 12px;
  right: 10px;
  font-weight: 500;
  border-radius: 21px;
}

.login-error-message {
  font-size: 11px;
  margin-left: 15px;
  text-align: left;
  margin-top: -9px;
  max-height: 500px;
  -webkit-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: .5s;
  transition-duration: .5s;
  -webkit-transition-timing-function: cubic-bezier(0,1,.5,1);
  transition-timing-function: cubic-bezier(0,1,.5,1);
}

p {
  display: block;
  -webkit-margin-before: 1em;
  -webkit-margin-after: 1em;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
}

.login-input-container {
  &:hover {
    border: 1px solid $brand-danger;
    box-shadow: 0 2px 5px $brand-danger + 100;
  }
}