.panel {
  margin-bottom: 20px;
  background-color: #fff;
  border: none;
  border-radius: 0;
  box-shadow: 0 2px 15px rgba(0,0,0,.1);
  .panel-heading {
    padding: 30px 0 0;
    border-bottom: 1px solid transparent;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    text-align: center;
    background-color: transparent;
    .panel-title {
      margin-top: 0;
      margin-bottom: 0;
      font-size: 28px;
      color: #666;
      font-weight: 400;
    }
  }
}

.login-input-container {
  margin: 20px;
  border: 1px solid #bfc0c6;
  border-radius: 5px;
  padding: 0;
}

fieldset {
  display: block;
  -webkit-margin-start: 2px;
  -webkit-margin-end: 2px;
  -webkit-padding-before: 0.35em;
  -webkit-padding-start: 0.75em;
  -webkit-padding-end: 0.75em;
  -webkit-padding-after: 0.625em;
  min-width: -webkit-min-content;
  border-width: 2px;
  border-style: groove;
  border-color: threedface;
  border-image: initial;
}

.login-input-item {
  position: relative;
}

.login-container {
  box-sizing: border-box;
  background: #feedf6;
  background: -webkit-gradient(linear,left top,right bottom,from(#feedf6),to(#fcf0e2));
  background: -webkit-linear-gradient(top left,#feedf6,#fcf0e2);
  background: linear-gradient(to bottom right,#feedf6,#fcf0e2);
  text-align: center;
  padding-top: 30px;
  position: relative;
  padding-bottom: 40px;
}

.login-user-input-email {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom: 1px solid #aaa !important;
}

.login-user-input-password {
  border-top: 1px solid #d5d6d9;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.login-user-input {
  display: block;
  color: #282c3f;
  padding-right: 40px;
  font-size: 15px;
  width: 100%;
  border: 0;
  padding: 15px;
  &:focus {
    outline: none;
  }
}

input {
  -webkit-appearance: textfield;
  background-color: white;
  -webkit-rtl-ordering: logical;
  user-select: text;
  cursor: auto;
  padding: 1px;
  border-width: 2px;
  border-style: inset;
  border-color: initial;
  border-image: initial;
  text-rendering: auto;
  color: initial;
  letter-spacing: normal;
  word-spacing: normal;
  text-transform: none;
  text-indent: 0px;
  text-shadow: none;
  display: inline-block;
  text-align: start;
  margin: 0em 0em 0em 0em;
  font: 11px system-ui;
}

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em;
}

.login-login-button-container {
  padding: 10px 20px;
  margin: 0;
  border: 0;
}

.login-login-button {
  background-color: #ff527b;
  color: #fff;
  font-size: 13px;
  font-weight: 500;
  letter-spacing: 2px;
  padding: 15px;
  display: block;
  width: 100%;
  border: 0;
  text-transform: uppercase;
  border-radius: 3px;
  font-family: Whitney;
}

.login-link-container {
  text-align: left;
  padding: 20px;
}

.login-link {
  cursor: pointer;
  text-decoration: none;
  color: #ea5e8b;
  font-size: 13px;
  padding: 10px 0;
}

.login-right-links {
  float: right;
}

.login-info-text {
  color: #94969f;
  font-size: 12px;
}

.login-link-container {
  text-align: left;
  padding: 20px;
}

.login-create-account-link {
  margin-left: 5px;
}

.login-link {
  cursor: pointer;
  text-decoration: none;
  color: #ea5e8b;
  font-size: 13px;
  padding: 10px 0;
}

a {
  background-color: transparent;
}