// Used to import variables in components
@import 'custom_bootstrap_variables';
@import '../../../../../../node_modules/bootstrap/scss/mixins';
// -- Theme Colors here --
// Custom theme colors
// Refer _default_variables to generate colors
$theme-main-color: #4e688a;
$theme-action-color: #ef6c00;
$primary-font: 'Roboto Regular';
$header-font-color: $white;

$theme-action-sub-color1: darken($theme-action-color, 25);
$theme-action-sub-color2: darken($theme-action-sub-color1, 30);
$theme-action-sub-color3: darken($theme-action-sub-color2, 25);
$theme-action-sub-color4: darken($theme-action-sub-color3 -10);
$theme-main-sub-color1:darken($theme-main-color, 25);
$theme-main-sub-color2: darken($theme-main-sub-color1, 30);
$theme-main-sub-color3: darken($theme-main-sub-color2, 25);
$theme-main-sub-color4: darken($theme-main-sub-color3, 25);
$footer-font-color: $header-font-color;
