// -- Theme Colors here --
// Mayntra theme colors
$theme-myntra-body-background-color: #fff;
$theme-myntra-text-color: #ee5f73 + 50;
$theme-myntra-subtext-color: #ee5f73;
$theme-myntra-secondary-color: rgba(white,0.98);
$theme-myntra-header-background-color: $theme-myntra-secondary-color;
$theme-myntra-border: 2px solid #aaa;

// -- Theme Generator --
@mixin theme(
  $name,
  $body-background-color,
  $item-a-color,
  $item-a-visited-color,
  $header-background-color,
  $subtext-color,
  $secondary-link-color,
  $border
) {
  .#{$name} {
    .navbar-fixed-top {
      min-height: 70px;
      padding: 15px;
      background-color: $header-background-color;
      box-shadow: 0 1px 3px rgba(0,0,0,0.08);
      .navbar-nav {
        .active {
          a {
            background-color: transparent;
            border-bottom: 3px solid $item-a-color;
          }
        }
        a {
          font-weight: 500;
          min-height: 50px;
          &:hover {
            border-bottom: 3px solid $item-a-visited-color;
          }
        }
      }
    }

    .badge-danger {
      background-color: $item-a-visited-color;
    }
    .badge-warning {
    background-color: #d58512;
    }

    .badge-success {
    background-color: #398439;
    }

    .badge-info {
    background-color: #269abc;
    }

    .badge-inverse {
    background-color: #333333;
    }


  }
}

@include theme(
  myntra,
  $theme-myntra-body-background-color,
  $theme-myntra-text-color,
  $theme-myntra-subtext-color,
  $theme-myntra-header-background-color,
  $theme-myntra-subtext-color,
  $theme-myntra-secondary-color,
  $theme-myntra-border
);