<form class="form" [formGroup]="addressForm" (ngSubmit)="onSubmit()">
  <div class="flex flex-wrap ">
    <div class="mb-4 sm:w-1/2 pr-4 pl-4">
      <label
        >Pin Code
        <span class="required">*</span>
      </label>
      <input type="tel" class="block appearance-none w-full py-1 px-2 mb-1 text-base leading-normal bg-white text-gray-800 border border-gray-200 rounded" formControlName="zipcode" />
      <p
        *ngIf="
          addressForm.get('zipcode').hasError('required') &&
          addressForm.get('zipcode').touched
        "
        class="value-err  text-red-600 opacity-100 block"
      >
        This is a mandatory field
      </p>
    </div>
    <div class="mb-4 sm:w-1/2 pr-4 pl-4">
      <label>
        Locality / Town
        <span class="required">*</span>
      </label>
      <input type="text" class="block appearance-none w-full py-1 px-2 mb-1 text-base leading-normal bg-white text-gray-800 border border-gray-200 rounded" formControlName="address2" />
      <p
        *ngIf="
          addressForm.get('address2').hasError('required') &&
          addressForm.get('address2').touched
        "
        class="value-err text-red-600 opacity-100 block"
      >
        This is a mandatory field
      </p>
    </div>
    <div class="mb-4 sm:w-1/2 pr-4 pl-4">
      <label
        >City / District
        <span class="required">*</span>
      </label>
      <input type="text" class="block appearance-none w-full py-1 px-2 mb-1 text-base leading-normal bg-white text-gray-800 border border-gray-200 rounded" formControlName="city" />
      <p
        *ngIf="
          addressForm.get('city').hasError('required') &&
          addressForm.get('city').touched
        "
        class="value-err text-red-600 opacity-100 block"
      >
        This is a mandatory field
      </p>
    </div>
    <div class="mb-4 sm:w-1/2 pr-4 pl-4">
      <label> State</label>
      <select class="block appearance-none w-full py-1 px-2 mb-1 text-base leading-normal bg-white text-gray-800 border border-gray-200 rounded" formControlName="state_name">
        <option *ngIf="stateName">{{ stateName }} </option
        ><option *ngFor="let state of states">{{ state.name }}</option>
      </select>
    </div>

    <div class="mb-4 sm:w-1/2 pr-4 pl-4">
      <label
        >First Name
        <span class="required">*</span>
      </label>
      <input type="text" class="block appearance-none w-full py-1 px-2 mb-1 text-base leading-normal bg-white text-gray-800 border border-gray-200 rounded" formControlName="firstname" />
      <p
        *ngIf="
          addressForm.get('firstname').hasError('required') &&
          addressForm.get('firstname').touched
        "
        class="value-err text-red-600 opacity-100 block"
      >
        This is a mandatory field
      </p>
    </div>
    <div class="mb-4 sm:w-1/2 pr-4 pl-4">
      <label>
        Last Name
        <span class="required">*</span>
      </label>
      <input type="text" class="block appearance-none w-full py-1 px-2 mb-1 text-base leading-normal bg-white text-gray-800 border border-gray-200 rounded" formControlName="lastname" />
      <p
        *ngIf="
          addressForm.get('lastname').hasError('required') &&
          addressForm.get('lastname').touched
        "
        class="value- text-red-600 opacity-100 block"
      >
        This is a mandatory field
      </p>
    </div>

    <div class="mb-4 sm:w-1/2 pr-4 pl-4">
      <label
        >Address
        <span class="required">*</span>
      </label>
      <textarea
        type="text"
        class="block appearance-none w-full py-1 px-2 mb-1 text-base leading-normal bg-white text-gray-800 border border-gray-200 rounded"
        formControlName="address1"
      ></textarea>
      <p
        *ngIf="
          addressForm.get('address1').hasError('required') &&
          addressForm.get('address1').touched
        "
        class="value-err text-red-600 opacity-100 block"
      >
        This is a mandatory field
      </p>
    </div>
    <div class="mb-4 sm:w-1/2 pr-4 pl-4">
      <label
        >Mobile No
        <span class="required">*</span>
      </label>
      <input type="tel" class="block appearance-none w-full py-1 px-2 mb-1 text-base leading-normal bg-white text-gray-800 border border-gray-200 rounded" formControlName="phone" />
      <p
        *ngIf="
          addressForm.get('phone').hasError('required') &&
          addressForm.get('phone').touched
        "
        class="value-err text-red-600 opacity-100 block"
      >
        This is a mandatory field
      </p>
    </div>
    <div class="save-button w-full sm:w-1/2 pr-4 pl-4">
      <button class="inline-block align-middle text-center select-none border font-normal whitespace-no-wrap rounded py-1 px-3 leading-normal no-underline themebtnprimary">SAVE</button>
    </div>
  </div>
</form>
