<div class="col-12 p-0">
  <h1 itemprop="name" class="title">{{product.name}}</h1>
  <div class="product-subtitle">
    <a href="#">
      By
      <span itemprop="brand">Nutro</span>
    </a>
  </div>

</div>
<div>
  <div class="product-header-extras">
    <div class="ugc pr-3">
      <a href="#" class="hide-phone js-revScrollTo">
        266 Reviews
      </a>
    </div>
    <div class="product-header-extras__qna pr-3 pl-3">
      <a href="#">18 Answered Questions</a>
    </div>
  </div>
</div>
<div class="">
  <div class="buybox-wrapper">
    <div id="product-vitals">
      <div id="pricing">
        <ul class="product-pricing">
          <li class="list-price">
            <p class="title">
              List Price:</p>
            <p class="price">
              $54.99</p>
          </li>
          <li class="our-price">
            <p class="title">Price:</p>
            <p class="price">
              <span class="ga-eec__price">
                {{product.display_price}}</span>
              <span class="free-shipping">FREE 1-2 Day
                <span>Shipping on this item</span>
              </span>
            </p>
          </li>
          <li class="you-save">
            <p class="title">You Save:</p>
            <p class="price">
              $2.07 (4%)
            </p>
          </li>
        </ul>
      </div>
      <div id="featured-promotions">
        <div class="promotion autoship-discount">
          <div class="title">
            <p>
              Autoship:
              <span>&amp;Save</span>
            </p>
          </div>
          <div class="value">
            <p class="autoship-pricing">
              $50.27
              <span class="autoship-percent">(Save an extra 5%)</span>
            </p>
            <p class="autoship-message">Simply select Autoship at checkout
              <span>for easy regular deliveries</span>
            </p>
          </div>
        </div>

        <hr class="">
      </div>


    </div>
    <div id="buybox" class="">
      <app-product-count
      (onAddToCart)="addToCart()"
      (onMarkAsFavorites) = "markAsFavorites()"
      ></app-product-count>
    </div>
  </div>
</div>