@import "../../../../shared/scss/selected_theme_variables";
.title {
  color: $gray-800;
  padding-top: 5px;
  font-weight: 600;
  font-size: 1.4em;
  line-height: 1.4em;
  font-family: $primary-font;
  display: inline;
}

.reviewlink {
  cursor: pointer;
  &:hover {
    text-decoration: underline
  }
}

.product-subtitle {
  display: inline-block;
  font-size: 1.5em;
  margin-left: 10px;
  a {
    color: $theme-main-sub-color4 - 100;
  }
}

.selling-price {
  font-size: 16px;
  margin: 10px 0;
}

.vatInfo {
  color: $gray-800;
  font-size: 13px;
}

.product-header-extras {
  .ugc {
    float: left;
    a {
      color: $theme-main-sub-color4 - 100
    }
    margin: 3px 0;
    color:$theme-main-sub-color4;
    font-family: Roboto,
    sans-serif;
    font-weight: 400;
    font-size: 10px;
    -webkit-font-smoothing: antialiased;
    font-size: 1em;
  }
  .product-header-extras__qna {
    float: left;
    a {
      color: $theme-main-sub-color4 - 100
    }
    color:$theme-main-sub-color4;
    font-size: 1em;
    line-height: 1em;
    border-left: 1px solid $gray-10;
    margin-top: 5px;
  }
}

.buybox-wrapper {
  color: $gray-800;
  widows: 100%;
  #product-vitals {
    float: left;
    width: 60%;
    @media only screen and (min-width: 320px) and (max-width: 767px) {
      width:100%;
      padding-right: 0;
      margin-bottom: 0;
    }
    padding-right: 15px;
    margin-bottom: 10px;
    .product-pricing {
      margin-top: 0;
      margin-bottom: 0;
      padding-right: 0;
      padding-left: 0;
      list-style-type: none;
      border-bottom: 1px solid $gray-10;
      padding: 5px 0 15px;
      overflow: hidden;
      li:first-child,
      li:last-child {
        padding-bottom: 0;
      }
      li {
        margin: 0;
        padding-bottom: 25px;
        width: 80%;
        margin: auto;
        p {
          &:first-child {
            text-align: left;
            @media only screen and (min-width: 320px) and (max-width: 767px) {
              text-align: left;
            }
          }
        }
      }
      .title {
        font-size: 1em;
        line-height: 1;
        color: $gray-600;
        font-weight: normal;
        width: auto;
        width: 85px;
        float: left;
        margin: 0;
      }
      .list-price .price {
        font-size: 1rem;
        line-height: 1.7em;
        color: $red;
        text-decoration: line-through;
        font-weight: bold;
        float: left;
      }
      .price {
        display: block;
        float: left;
      }
      p {
        margin-top: 0;
        margin-bottom: 10px;
      }
      .our-price {
        .price {
          font-size: 1em;
          line-height: 1.5;
          font-weight: bold;
          color: $red;
          padding-top: 11px;
          span {
            float: left;
            display: grid;
          }
        }
        .title {
          padding-top: 10px;
        }
      }
      .you-save {
        .title {
          margin-bottom: 0;
        }
        .price {
          font-size: 1rem;
          margin-bottom: 0;
          line-height: 1.5;
          color: $red;
          font-weight: bold;
        }
      }
    }
    #featured-promotions {
      .promotion {
        margin: 5px 0;
        text-align: left;
        .title {
          font-size: 1em;
          font-weight: 600;
          text-align: right;
          color: $red;
          padding: 11px 5px 0 0;
          line-height: 1;
          width: auto;
          width: 85px;
          float: left;
        }
        .value {
          margin-left: 85px;
          display: block;
        }
        .autoship-pricing {
          font-weight: 600;
          color: $red;
          font-size: 1.714em;
          margin: 0;
          .autoship-percent {
            font-size: 14px;
            font-weight: 400;
            padding-left: 5px;
          }
        }
        .title span {
          color: $red;
          font-size: 0.8em;
        }
      }
    }
  }
  #buybox {
    float: left;
    width: 40%;
    @media only screen and (min-width: 320px) and (max-width: 767px) {
      width:100%
    }
  }
}

#pricing {
  border-bottom: 1px solid $gray-10; // @media only screen and (min-width: 320px) and (max-width: 767px) {
  //   border:0px solid
  // }
}

.product-price {
  li {
    width: 100%;
    ul {
      @media only screen and (min-width: 320px) and (max-width: 767px) {
        li {
          &:first-child {
            width: 40%;
            text-align: right !important;
            font-size: 1em;
            color: $gray-600;
            font-weight: 400;
          }
          width: 60%;
          float: left;
          padding: 7px 5px;
          font-size: 1.2em;
          font-weight: 700;
          line-height: 1.2em;
          color: $red;
        }
      }
      li {
        &:first-child {
          width: 30%;
          text-align: left;
          font-size: 1em;
          color: $gray-600;
          font-weight: 400;
        }
        width: 70%;
        float: left;
        padding: 7px 5px;
        font-size: 1.2em;
        font-weight: 700;
        line-height: 1.2em;
        color: $red;
        .free-shipping {
          font-size: 12px;
          line-height: 13px;
          font-weight: 500;
          color: $gray-800;
          margin: -8px 0 0 10px;
          text-transform: uppercase;
          width: 11.5em;
        }
      }
    }
  }
}
