@import "../../../shared/scss/selected_theme_variables";
.loginwindow {
  margin: 6em auto 0;
  overflow: hidden;
  padding: 10px 0;
}

.panel {
  margin-bottom: 20px;
  background-color: $gray-200;
  border: none;
  border-radius: 4px;
  border: 1px solid $gray-10;
  box-shadow: none;
  .panel-heading {
    padding: 30px 0 0;
    border-bottom: 1px solid transparent;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    text-align: center;
    background-color: transparent;
    .panel-title {
      margin-top: 0;
      margin-bottom: 0;
      font-size: 28px;
      color: $gray-900;
      font-weight: 400;
    }
  }
}

.panel-heading {
  img {
    height: 172px !important;
  }
}

.login-input-container {
  margin: 20px;
  border: 1px solid $gray-10;
  border-radius: 5px;
  padding: 0;
  background-color: $white;
}

fieldset {
  display: block;
  -webkit-margin-start: 2px;
  -webkit-margin-end: 2px;
  -webkit-padding-before: 0.35em;
  -webkit-padding-start: 0.75em;
  -webkit-padding-end: 0.75em;
  -webkit-padding-after: 0.625em;
  min-width: -webkit-min-content;
  border-width: 2px;
  border-style: groove;
  border-color: threedface;
  border-image: initial;
}

.login-input-item {
  position: relative;
}

.login-container {
  box-sizing: border-box;
  text-align: center;
  position: relative;
}

.login-user-input-email {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.login-user-input-password {
  border-top: 1px solid $gray-10 !important;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.login-user-input {
  display: block;
  color: $gray-900;
  padding-right: 40px;
  font-size: 15px;
  width: 100%;
  border: 0;
  padding: 15px;
}

input {
  -webkit-appearance: textfield;
  background-color: $white;
  -webkit-rtl-ordering: logical;
  user-select: text;
  cursor: auto;
  padding: 1px;
  border-width: 2px;
  border-style: inset;
  border-color: initial;
  border-image: initial;
  text-rendering: auto;
  color: initial;
  letter-spacing: normal;
  word-spacing: normal;
  text-transform: none;
  text-indent: 0px;
  text-shadow: none;
  display: inline-block;
  text-align: start;
  margin: 0em 0em 0em 0em;
  font: 11px system-ui;
}

fieldset {
  border: 1px solid $gray-10;
  margin: 0 2px;
  padding: .35em .625em .75em;
}

.login-login-button-container {
  padding: 10px 20px;
  margin: 0;
  border: 0;
}

.login-login-button {
  font-size: 14px;
  font-weight: bold;
  letter-spacing: 2px;
  padding: 15px;
  display: block;
  width: 100%;
  border: 0;
  text-transform: uppercase;
  border-radius: 3px;
  background-color: $theme-action-color - 50;
  color: $white;
}

.login-link-container {
  text-align: right;
  padding: 0px 20px 12px;
  font-size: 14px;
}

.login-link {
  text-decoration: none;
  font-size: 15px;
  color: $theme-action-color !important;
}

.login-right-links {
  float: right;
}

.login-info-text {
  color: $gray-700;
  font-size: 12px;
}

.login-create-account-link {
  margin-left: 5px;
}

a {
  background-color: transparent;
}

.login-third-party-login {
  margin-top: 30px;
}

.login-button-info-text {
  margin-top: 0;
  margin-bottom: 20px;
}

.login-info-text {
  color: $gray-700;
  font-size: 12px;
}

.login-button-container {
  margin-top: 10px;
  margin-bottom: 40px;
}

@media (min-width: 360px) {
  .login-facebook {
    margin-right: 15px;
    margin-bottom: 0;
  }
}

@media (min-width: 360px) {
  .login-button {
    width: 49%;
    display: inline-block;
  }
}

.login-facebook {
  margin-bottom: 0px;
}

.login-button {
  width: 100%;
  padding-left: 18%;
  position: relative;
  font-size: 13px;
  font-weight: 500;
  height: 50px;
  border: 1px solid $gray-10;
  background-color: $white;
  border-radius: 5px;
  text-align: left;
}

[type=reset],
[type=submit],
button,
html [type=button] {
  -webkit-appearance: button;
}

[type=button],
[type=reset],
[type=submit],
button {
  cursor: pointer;
}

button,
select {
  text-transform: none;
}

button,
input,
select,
textarea {
  margin: 0;
}

button,
input,
select {
  overflow: visible;
}

button,
input,
select,
textarea {
  font: inherit;
}

.header-sprite {
  background: url(http://res.cloudinary.com/mally/image/upload/v1489480940/148948096411965_w5wbjb.png) no-repeat 0 0;
  background-size: 159px 48px;
  display: inline-block;
}

.login-fb-logo,
.login-gplus-logo {
  height: 29px;
  position: absolute;
  left: 15px;
}

.login-fb-logo {
  background-position: -93px 0;
  width: 28px;
  top: 10px;
}

.login-gplus-logo {
  background-position: -122px 0;
  width: 23px;
  top: 13px;
}

.login-error-icon {
  border: 2px solid $danger;
  padding: 0 7px;
  display: inline-block;
  position: absolute;
  top: 12px;
  right: 10px;
  font-weight: 500;
  border-radius: 21px;
}

.login-error-message {
  font-size: 11px;
  margin-left: 15px;
  text-align: left;
  margin-top: -9px;
  max-height: 500px;
  -webkit-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: .5s;
  transition-duration: .5s;
  -webkit-transition-timing-function: cubic-bezier(0, 1, .5, 1);
  transition-timing-function: cubic-bezier(0, 1, .5, 1);
}

p {
  display: block;
  -webkit-margin-before: 1em;
  -webkit-margin-after: 1em;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
}

.login-input-container {
  &:hover {
    border: 1px solid $theme-main-color;
    box-shadow: 0.1px 0.2px 0.4px $theme-main-color - 100;
  }
}

.createacc {
  display: flex;
  align-items: center;
  padding-left: 3rem;
  @media screen and(min-width: 310px) and(max-width: 768px) {
    padding-left: 0rem;
  }
}
