<div class="container mx-auto sm:px-4">
  <div class="w-full md:w-3/5 pr-4 pl-4 sm:w-3/5 pr-4 pl-4 lg:w-2/5 pr-4 pl-4 loginwindow">
    <div class="flex flex-wrap ">
      <div class="w-full md:w-full pr-4 pl-4 sm:w-full pr-4 pl-4 lg:w-full pr-4 pl-4">
        <div class="flex flex-wrap  login-container" data-hook="">
          <div id="content" class="sm:w-full pr-4 pl-4" data-hook="">
            <div class="md:w-full pr-4 pl-4 w-full col-centered">
              <div class="panel panel-default" *ngIf="emailSent == false">
                <div class="panel-heading">
                  <h3 class="panel-title">Forget Password?</h3>
                </div>
                <p class="login-info-text">Please enter your valid email</p>
                <div
                  id="existing-customer"
                  class="panel-body"
                  data-hook="login"
                >
                  <form
                    class="login-login-form"
                    [formGroup]="forgetPasswordForm"
                    (ngSubmit)="onSubmit()"
                  >
                    <fieldset class="login-input-container">
                      <div class="login-input-item">
                        <input
                          type="email"
                          class="login-user-input-email login-user-input"
                          name="email"
                          placeholder="Your Email Address"
                          formControlName="email"
                          autocomplete="off"
                        />
                        <div
                          *ngIf="
                            forgetPasswordForm.get('email').errors &&
                            forgetPasswordForm.get('email').touched
                          "
                        >
                          <span class="login-error-icon text-red-600">!</span>
                          <p class="login-error-message text-red-600">
                            {{
                              forgetPasswordForm.get('email').errors.msg ||
                                'Please enter a valid email id'
                            }}
                          </p>
                        </div>
                      </div>
                    </fieldset>
                    <fieldset class="login-login-button-container">
                      <button
                        type="submit"
                        class="inline-block align-middle text-center select-none border font-normal whitespace-no-wrap rounded py-1 px-3 leading-normal no-underline bg-red-600 text-white hover:bg-red-700 login-login-button"
                      >
                        Reset Password
                      </button>
                    </fieldset>
                  </form>
                </div>
              </div>
              <div class="" *ngIf="emailSent == true">
                <div class="panel-heading">
                  <img
                    src="../../../../assets/custom/rocket.png"
                    class="max-w-full h-auto my-4 h-50"
                  />
                  <h3 class="panel-title">Email Sent!</h3>
                  <p>
                    Reset Password instruction has been sent sucessfully on your
                    mail
                  </p>
                  <strong>{{ sentEmail }}!</strong>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
