@import "../../../../../../../shared/scss/selected_theme_variables";
.menu-popular-brand-list-item {
  height: 5rem;
  width: 5rem;
  border: 1px solid $gray-10;
  img {
    height: 100%;
    object-fit: scale-down;
  }
}
