<div *ngIf="order">
  <div class="row box m-0">
    <div class="col-12 col-sm-6 p-0 p-sm-3">
      <h3>Order Details</h3>
      <table>
        <tr>
          <td>Order ID:</td>
          <td> {{order.number}}</td>
        </tr>
        <tr>
          <td>Order Date:</td>
          <td>{{order.updated_at | date}}</td>
        </tr>
        <tr>
          <td>Item price:</td>
          <td> {{order.display_item_total}}</td>
        </tr>
        <tr>
          <tr>
            <td>Shipping:</td>
            <td> {{order.display_ship_total}}</td>
          </tr>
          <tr>
            <td>Total Amount:</td>
            <td> {{order.display_total}} </td>
          </tr>
          <tr>
            <td>Payment Status:</td>
            <td>
              <b class="text-uppercase">{{order.payment_state | humanize | uppercase}}</b>
            </td>
          </tr>
          <tr>
            <td> Payment Source:</td>
            <td>{{order.payments[0]?.payment_method?.name}}</td>
          </tr>
          <tr *ngIf="order.payment_state!= 'paid' && order.payments[0]?.payment_method?.name === payubiz">
            <td>
              <button class="btn themebtnprimary" (click)="retryPayment(order)">Retry Payment</button>
            </td>
          </tr>
      </table>
    </div>
    <div class="col-12 col-sm-6 p-0 p-sm-3">
      <h3>Address</h3>
      <table>
        <tr>
          <td>Name: </td>
          <td>{{order.ship_address.full_name}}</td>
        </tr>
        <tr>
          <td>Address:</td>
          <td>{{order.ship_address.address1}}, {{order.ship_address.address2}}, {{order.ship_address.city}}</td>
        </tr>
        <tr>
          <td>Pincode:</td>
          <td>{{order.ship_address.zipcode}}</td>
        </tr>
        <tr>
          <td>Phone:</td>
          <td>{{order.ship_address.phone}}</td>
        </tr>
        <tr>
          <td>Email:</td>
          <td>{{order.email}}</td>
        </tr>
      </table>

    </div>
  </div>


  <div class="box mt-2 p-0 mb-4 row m-0" *ngIf="!isMobile">

    <div *ngFor="let item of order.line_items" class="lineitems">
      <div class="row ">
        <div class="col-12 pr-0 col-sm-1">
          <img [routerLink]="['/', item.variant.slug]" [src]='getProductImageUrl(item)' />
        </div>
        <div class="col-12 col-sm-5" [routerLink]="['/', item.variant.slug]">
          <div class="lineitems-name"> {{item.variant.name}}</div>
          <div class="lineitems-info"> {{item.variant.options_text}}</div>
        </div>
        <div class="col-12 col-sm-2">
          <div class="price">{{item.display_amount}}</div>
          <div class="qty"> QTY: {{item.quantity}}</div>
        </div>
        <div class="col-12 col-sm-4">
          <b class="text-danger note p-0">Please note:</b> You can return or exchange this within 15 days.
        </div>
      </div>
    </div>
  </div>
  <div class="box mt-2 p-0 mb-4 row m-0" *ngIf="isMobile">
    <div *ngFor="let item of order.line_items" class="lineitems">
      <div class="row ">
        <div class="col-12 pr-0 col-sm-1">
          <img [routerLink]="['/', item.variant.slug]" [src]='getProductImageUrl(item)' />
        </div>
        <div class="col-6 col-sm-5" [routerLink]="['/', item.variant.slug]">
          <div class="lineitems-name"> {{item.variant.name}}</div>
          <div class="lineitems-info"> {{item.variant.options_text}}</div>
        </div>
        <div class="col-6 col-sm-2">
          <div class="qty"> QTY: {{item.quantity}}</div>
          <div class="price">{{item.display_amount}}</div>
        </div>
        <div class="col-12 col-sm-4">
          <b class="note text-danger p-0">Note:</b>
          <span class="note">You can return or exchange this within 15 days.</span>
        </div>
      </div>
    </div>
  </div>
</div>
