<div class="col-md-12 p-0">
  <img src={{selectedCategory?.image_link}} style="display: block; width: 100%;">
</div>

<div class="container catgeory" *ngIf="selectedTaxons$ | async; let selectedTaxons">
  <div class="row" *ngIf="productList$ | async; let productlist">
    <div class="col-md-3 sidebar" *ngIf="productlist[0].length > 0">
      <ul class="list-group">
        <li *ngFor="let taxon of selectedTaxons.taxons">
          <a class="list-group-item list-group-item-action" [routerLink]="['/','search']" [queryParams]="{'q[name_cont]': taxon.name, id: taxon.id}">{{taxon.name}}</a>
        </li>
      </ul>
    </div>
    <div class="col-md-9 container">
      <div *ngFor="let taxon of selectedTaxons.taxons; index as taxonIndex">
        <div>
          <div *ngIf="productlist[taxonIndex]?.length" class="box">
            <h3 class="float-left">{{taxon.name}}</h3>
            <a class="float-left show-all" [routerLink]="['/','search']" [queryParams]="{'q[name_cont]': taxon.name, id: taxon.id}">
              <span class="divider">|</span>All
              <span>
                <i class="fa fa-angle-right"></i>
              </span>
            </a>
            <div class="mt-3 clearfix"></div>
            <app-product-slider [productsList]="productlist[taxonIndex]"></app-product-slider>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-12" *ngIf="productlist[0].length === 0">
      <h1>No Product found for this category!</h1>
    </div>
  </div>
</div>
