@import '../../shared/scss/selected_theme_variables';
ul {
 
  list-style: none;
  padding: 0.5rem 0 0.5rem 0;
  margin: 0px;
  li {
    padding: 0.8rem 1.1rem;
    border-bottom: 1px solid $gray-10;
    color: $gray-900;
    cursor: pointer;
    &::after {
      font-family: 'FontAwesome';
      content: "\f105";
      width: 20px;
      height: 57px;
      margin-right: 12px;
      right: 0px;
      position: absolute;
      background-size: 10px;
    }
    
  }
}

.parrent-catgory {
  width: 100vw;
  left: 0vw;
  position: relative;
}

.sub-catgory {
  @extend .parrent-catgory;
  left: -100vw;
}

.sub-sub-catgory {
  @extend .parrent-catgory;
}

.radio-pink [type="radio"]:checked+label:after {
  border-color: #e91e63;
  background-color: #e91e63;
}
/*Gap*/

.radio-pink-gap [type="radio"].with-gap:checked+label:before {
  border-color: #e91e63;
}

.radio-pink-gap [type="radio"]:checked+label:after {
  border-color: #e91e63;
  background-color: #e91e63;
}                
