@import '../../../shared/scss/_selected_theme_variables';
:host {
  ::ng-deep .section-title {
    color: $black;
    text-transform: capitalize;
    font-weight: 600;
  }
  ::ng-deep .scrollbar-hidden {
    overflow: hidden !important;
  }
  ::ng-deep .product-tile {
    text-align: center;
    a {
      color: $gray-900;
      img {
        object-fit: scale-down;
        height: 200px;
        width: 100%;
      }
      &:hover {
        text-decoration: none;
      }
    }
  }
}
