<div
  class="header-cart inline-block align-middle text-center select-none border font-normal whitespace-no-wrap rounded py-1 px-3 leading-normal no-underline"
  [routerLink]="['/checkout/cart']"
  *ngIf="!isMobile"
  (click)="getCurrentOrder()"
>
  <i class="fa fa-shopping-cart" aria-hidden="true"></i> Cart
  <span class="inline-block p-1 text-center font-semibold text-sm align-baseline leading-none rounded rounded-full py-1 px-3 shadow-sm">{{ totalCartItems }}</span>
</div>

<div
  class="header-cart inline-block align-middle text-center select-none border font-normal whitespace-no-wrap rounded py-1 px-3 leading-normal no-underline"
  [routerLink]="['/checkout/cart']"
  *ngIf="isMobile"
  (click)="getCurrentOrder()"
>
  <i class="fa fa-shopping-cart" aria-hidden="true"></i>
  <span class="inline-block p-1 text-center font-semibold text-sm align-baseline leading-none rounded rounded-full py-1 px-3 shadow-sm">{{ totalCartItems }}</span>
</div>
