@import '../../../../shared/scss/selected_theme_variables';
.header-cart {
  border: 1px solid $theme-action-color;
}

@media screen and(min-width: 320px) and(max-width: 768px) {
  .header-cart {
    font-size: 20px !important;
    padding: 0px !important;
    border: 0;
  }
  .btn .badge {
    position: relative;
    top: -10px;
    left: -5px;
  }
  .badge-pill {
    padding-right: 0.5em;
    padding-left: 0.4em;
    border-radius: 11.2rem;
    font-size: 0.6em;
  }
}
