@import '../../../../shared/scss/selected_theme_variables';
.header-cart{background-color: $theme-main-color - 30!important}
@media screen and(min-width: 320px) and(max-width: 768px) {
  .header-cart {
    font-size: 20px !important;
    padding: 0px !important;
    background-color: transparent!important;
  }
  .btn .badge {
    position: relative;
    top: -10px;
    left: -5px;
  }
  .badge-pill {
    padding-right: 0.5em;
    padding-left: 0.4em;
    border-radius: 11.2rem;
    font-size: 0.6em;
  }
}