@import '../../../shared/scss/selected_theme_variables';
.del-lbl {
    color: $gray-800;
    font-size: 12px;
    padding: 30px 0 15px;
    font-weight: 600;
    font-family: $primary-font;
    ;
}

.del-options {
    border: 1px solid $gray-10;
    background-color: $gray-200;
    border-radius: 4px;
    padding: 15px;
    .option {
        .option-name {
            font-weight: 700;
            padding-bottom: 5px;
            font-family: $primary-font;
            ;
        }
        .option-rate {
            font-size: 12px;
            color: $gray-800;
        }
    }
}

.mini-bag-summary {
    position: relative;
    padding: none;
    margin-top: 25px;
    border-bottom: 1px solid $gray-10;
    .items {
        font-size: 12px;
        font-weight: 600;
        font-family: $primary-font;
        ;
        padding-top: 5px;
        border-bottom: 1px dotted $gray-10;
        padding-bottom: 5px;
    }
    .order-total,
    .shipping {
        font-size: 14px;
        padding-top: 6px;
        padding-bottom: 20px;
        height: 22px;
        position: relative;
        span {
            color: $gray-800;
        }
    }
    .shipping {
        height: 60px;
    }
    .order-total>.value,
    .shipping>.shipping-fee {
        position: absolute;
        right: 0;
        text-align: right;
        color: $gray-800;
    }
    .shipping>.c-green {
        color: $theme-action-color - 80;
        width: 15em;
        font-size: 14px;
        padding-top: 5px;
    }
}

.pay-lbl-total {
    padding: 10px 0;
    .pay-lbl,
    .pay-total {
        font-weight: 600;
        font-size: 14px;
        font-family: $primary-font;
        ;
    }
    .pay-total {
        float: right;
    }
}