<div class="btn-group float-right" dropdown triggers="mouseover">
  <button id="button-basic" dropdownToggle type="button" class="btn dropdown-toggle border text-secondary float-right text-left"
    aria-controls="dropdown-basic">
    Sort by: <b class="px-2">{{currentSort.name}}</b> <span class="caret"></span>
  </button>
  <ul id="dropdown-basic" *dropdownMenu class="dropdown-menu" role="menu" aria-labelledby="button-basic">
    <li role="menuitem" *ngFor="let sortOption of sortConfig">
      <a class="dropdown-item" (click)="sortOrder(sortOption)">{{sortOption.name}}</a>
    </li>
  </ul>
</div>
