<div class="btn-group float-right" dropdown triggers="mouseover">
  <button id="button-basic" dropdownToggle type="button" class="btn dropdown-toggle border text-secondary float-right text-left" aria-controls="dropdown-basic">
    Sort by: <b>Popular</b>  <span class="caret"></span>
  </button>
  <ul id="dropdown-basic" *dropdownMenu class="dropdown-menu" role="menu" aria-labelledby="button-basic">
    <li role="menuitem"><a class="dropdown-item" href="#">High to Low</a></li>
    <li role="menuitem"><a class="dropdown-item" href="#">Low to High</a></li>
    <li role="menuitem"><a class="dropdown-item" href="#">Customer Reviews</a></li>
  </ul>
</div>
