.line {
  display: inline;
  padding: 10px;
}
 ul{list-style: none}
 $break-small: 320px;
 @media screen and (min-width: $break-small) and (max-width: 767px){
  .line[_ngcontent-c26] {
    display: inline-block;
    padding: 10px;
    text-align: left;
    width: 50%;
  }
}