@import '../../../scss/selected_theme_variables';
ngx-input-star-rating {
  transform: scale(0.8) translateX(-10%);
}

picture {
  height: 200px;
  &.bg-img-none {
    background-image: none;
  }
  img {
    mix-blend-mode: darken;
    object-fit: scale-down;
  }
}

.rating {
  position: relative;
  left: 0.8em;
  @media screen and(min-width: 320px) and(max-width: 768px) {
    position: relative;
    left: 8.5px;
  }
}
