@import '../../../scss/selected_theme_variables';
.product-box {
  border-radius: 5px;
  margin-top: 1rem;
  border: 1px solid transparent;
  @media screen and (min-width: 320px) and (max-width: 768px) {
    margin-right: 1rem;
    border: 1px solid $gray-10;
  }
  &:hover {
    -webkit-box-shadow: 0 1px 0 $gray-10;
    box-shadow: 0 1px 0 $gray-10;
    border-color: $gray-10;
  }
}

img {
  width: 100%;
  object-fit: contain;
}