<div class="pay-modes">
  <div class="mode" [ngClass]="{'selected': mode.id == selectedMode.id, 'coming-soon': mode.id != selectedMode.id}" *ngFor="let mode of paymentModes">
    {{mode.name}}
  </div>
</div>

<div class="selected-mode" [ngSwitch]="selectedMode.name">
  <ng-template [ngSwitchCase]="'Credit Card'"> 
     <app-credit-card></app-credit-card>   
   </ng-template>      
   <ng-template [ngSwitchCase]="'Check'" ngSwitchDefault> 
      <app-cash-on-delivery (payOnDelivery)="makePayment()"></app-cash-on-delivery>
  </ng-template>
</div>
