<div *ngIf="paymentModes?.length !== 0 ;  else elseBlock">
  <div class="pay-modes" disabled>
    <div class="mode" [ngClass]="{'selected': mode.id == selectedMode.id}" *ngFor="let mode of paymentModes" (click)="selectedPaymentMode(mode)">
      {{mode.name}}
    </div>
  </div>
  <!-- // TODO: Applying switch case on source.  -->
  <div class="selected-mode" [ngSwitch]="selectedMode.name">
    <ng-template [ngSwitchCase]="'Stripe'">
      <app-stripe-payment [paymentMethodId]="selectedMode.id"></app-stripe-payment>
    </ng-template>
    <ng-template [ngSwitchCase]="'RazorPay'">
      <app-razor-payment [paymentMethodId]="selectedMode.id"></app-razor-payment>
    </ng-template>
    <ng-template [ngSwitchCase]="'COD'">
      <app-cash-on-delivery [paymentMethodId]="selectedMode.id"></app-cash-on-delivery>
    </ng-template>
    <ng-template [ngSwitchCase]="'Payubiz'">
      <app-hosted-payment [paymentMethodId]="selectedMode.id"></app-hosted-payment>
    </ng-template>
  </div>
  <br>
  <br>
  <div *ngIf="showDummyCardInfo &&  selectedMode?.code === 'hpm'">
    <div class="alert alert-success">
      <h6>
        <strong>Note:</strong> Use following <strong>Test Card</strong> for making payment with {{selectedMode?.name}}</h6>
    </div>
    <div class="alert alert-warning">
      <table class="table table-sm table-bordered">
        <tr>
          <th>Card Type</th>
          <td>VISA</td>
        </tr>
        <tr>
          <th>Name On Card</th>
          <td>Test</td>
        </tr>
        <tr>
          <th>Card Number</th>
          <th *ngIf="selectedMode?.name === 'Payubiz'">4012 0010 3714 1112</th>
          <th *ngIf="selectedMode?.name === 'Stripe'">4242 4242 4242 4242</th>
          <th *ngIf="selectedMode?.name === 'RazorPay'">4111 1111 1111 1111</th>
        </tr>
        <tr>
          <th>Expiry Date</th>
          <td>05/20</td>
        </tr>
        <tr>
          <th>CVV</th>
          <td>123</td>
        </tr>
      </table>
    </div>
  </div>
</div>
<ng-template #elseBlock>
  <h3 class="mt-2">
    No payment modes found. Ask your admin to create it.
  </h3>
</ng-template>