@import '../../../shared/scss/selected_theme_variables';
.pay-modes {
  display: inline-block;
  width: 32%;
  @media screen and(min-width: 320px) and(max-width: 768px) {
    padding: 0;
    width: 100%;
  }
  background: $gray-200;
  .mode {
    cursor: pointer;
    height: 60px;
    font-size: 14px;
    font-weight: 600;
    font-family: $primary-font;
    text-transform: uppercase;
    color: $gray-800;
    padding-top: 22px;
    padding-left: 20px;
    border-left: 1px solid $gray-10;
    border-bottom: 1px solid $gray-10;
    @media screen and(min-width: 320px) and(max-width: 768px) {
      width: 50%;
      float:left;
      border-right: 1px solid $gray-10;
    }
  }
  .selected {
    background-color: $white;
    border-left: 5px solid $theme-action-color;
    color: $theme-action-color;
  }
}

.selected-mode {
  display: inline-block;
  width: 67%;
  vertical-align: top;
  padding-left: 40px;
  @media screen and(min-width: 320px) and(max-width: 768px) {
    padding: 0;
    width: 100%;
  }
}