@import '../../shared/scss/selected_theme_variables';
.address-section {
  margin: 0 auto;
  .left {
    padding-bottom: 20px;
    position: relative;
    display: inline-block;
    border-right: 1px solid $gray-10;
    vertical-align: top;
    @media screen and(min-width: 320px) and(max-width: 768px) {
      min-height:auto;
      border-right: 0 solid $gray-10;
      padding: 0;
    }
    .add-address {
      padding: 20px 10px 20px 0;
      border-bottom: 1px solid $gray-10;
      margin-bottom: 14px;
      .add-label {
        color: $gray-700;
        font-size: 15px;
        font-weight: 600;
        font-family: $primary-font;
      }
    }
    .edit-address {
      padding-top: 30px;
      padding-bottom: 30px;
      // background: $white;
      .edit-label {
        font-size: 17px;
        color: $gray-700;
        font-weight: 600;
        font-family: $primary-font;
      }
    }
  }
  .right {
    display: inline-block;
    vertical-align: top;
    padding-left: 35px;
    @media screen and(min-width: 320px) and(max-width: 768px) {
      padding: 0;
    }
   
  }

  .reviewlink {
    cursor: pointer;
    &:hover {
      text-decoration: none
    }
  }

  .row{
    padding: inherit;
  }
}