.size-buttons-size-header {
   overflow: auto;
}


.option-buttons {
  /*Font Weight ?*/
  /*font-weight: 500;*/
  background-color: #fff;
  border: 1px solid #282c3f;
  border-radius: 50px;
  padding: 0;
  min-width: 50px;
  height: 50px;
  text-align: center;
  margin-top: 10px;
  margin-right: 10px;
  cursor: pointer;
  color: #282c3f;
  &.disabled {
      position: relative;
      color: #282c3f;
      border: 1px solid #d5d6d9;
      cursor: red;
      pointer-events: none;
      .strike {
        position: absolute;
        top: 50%;
        left: 0;
        width: 100%;
        height: 1px;
        background-color: #d5d6d9;
      }

  }
 
  p {
    margin: 0;
  }

  &:hover {
    color: #fff;
    font-weight: 500;
    background-color: #282c3f;
  }
}

.selected {
  color: #fff;
  font-weight: 500;
  background-color: #282c3f;  
}