@import '../../../../shared/scss/_selected_theme_variables';
.size-buttons-size-header {
  overflow: auto;
  color: $gray-900;
  span{font-weight: bold;font-size:1em;}
}
.option-buttons {
  display: inline-block;
  background-color: #fff;
  border: 1px solid $gray-900;
  border-radius: 4px;
  padding: .5rem 1rem;
  text-align: center;
  margin-right: 10px;
  margin-bottom: 15px;
  cursor: pointer;
  color: $gray-900;
  &.disabled {
    position: relative;
    color: $gray-900;
    border: 1px solid $gray-10;
    cursor: $red;
    pointer-events: none;
    .strike {
      position: absolute;
      top: 50%;
      left: 0;
      width: 100%;
      height: 1px;
      background-color: $gray-10;
    }
  }
  p {
    margin: 0;
  }
  &:hover,
  &.active {
    color: $white;
    font-weight: 500;
    background-color: $theme-action-sub-color4;
    border: 1px solid $theme-main-sub-color3 +10
  }
}

.selected {
  color: $white;
  font-weight: 500;
  background-color: $gray-900;
}