
<div class="variant" *ngIf="(customOptionTypesHash | keys);let custopt" [ngClass]="[custopt?.length === 0  ? 'notvariant' : '']">
  <div *ngFor="let variant of (customOptionTypesHash | keys)">
    <div class="size-buttons-size-header d-none d-sm-block">
      <h6>{{ variant.key }}</h6>
    </div>
    <button class="option-buttons" *ngFor="let options of (variant.value | keys)" (click)="onOptionClick(options)" 
      [class.selected]="options.key === currentSelectedOptions[variant.key]"
      [ngClass]="{'disabled': isDisabled(correspondingOptions[variant.key], options.value['optionValue'].value)}">
      <p>
        {{ options.value['optionValue'].value }}
        <span class="strike"></span>
      </p>
    </button>
  </div>
</div>
