@import '../../../../shared/scss/selected_theme_variables';
:host {
  width: 100%;
}

.desktop-query {
  line-height: 0;
  margin: 4px 10px 20px 0;
  a.desktop-submit {
    box-sizing: content-box;
    display: inline-block;
    height: 28px;
    width: 5%;
    text-align: center;
    padding: 8px 10px 2px;
    background: $gray-200;
    border: 1px solid $theme-main-color;
    border-left: none;
    border-radius: 0 4px 4px 0;
    .desktop-iconSearch {
      display: inline-block;
    }
    .sprites-search {
      width: 21px;
      height: 21px; // background-position: -284px -160px;
    }
    .web-sprite {
      background: url(/assets/default/search-sprite.png);
      background-position: -209px -148px; // background-size: 1404px 105px;
      display: inline-block;
    }
  }
}

.themecolor {
  color: $theme-main-color !important;
}

.desktop-query-updated {
  background-color: $white;
}

@media screen and(min-width: 769px) and(max-width: 1024px) {
  input.desktop-search-bar {
    width: 75%;
  }
}

.searchinput {
  position: absolute;
  width: 100%;
  left: 0;
  bottom: -48px;
  background-color: $theme-main-color;
  padding: 0px 7px 10px 7px;
  .search-container {
    border-radius: 4px;
    background-color: $white;
    .input.desktop-search-bar {
      width: 100%;
      border: 1px solid $theme-main-color;
    }
  }
}

@media screen and(min-width: 320px) and(max-width: 768px) {
  .desktop-query input.desktop-search-bar {
    width: 78%;
    border: 0px solid $theme-main-color;
    border-radius: 4px 0px 0px 4px;
  }
}
