<div class="items" *ngIf="userDetails.ship_address; let address">
  <div class="address-row" *ngIf="!isEditAddrPressed">
    <div class="row">
      <div class="col name">
        <span class="name mr-2">{{address.full_name}}</span>
        <span class="mob">{{address.phone}}</span>
      </div>     
    </div>
    <div class="address">{{address.address1}} {{address.address2}}
      <span class="address-field">{{address.city}}</span>,
      <span class="address-field"> {{address.state?.name}}</span>
      <span class="address-field pin">-{{address.zipcode}}</span>
    </div>
  </div>
</div>
