.image-container {
  display: inline-block;
  height: 500px;
  width: 480px;
  .thumbnails-selected-image {
    height: 500px;
    min-height: 300px;
    width: 480px;
    background: rgb(245, 245, 246) none repeat scroll 0% 0% / auto padding-box border-box;
    }
}

  



