@media screen and(min-width: 320px) and(max-width: 768px) {
  .main-body {
    margin-top: 50px;
  }
}

.main-body {
  background-color: #fcfcfc;
}

:host /deep/.ngx-input-star-rating__btn {
  background-color: transparent;
  border: 0;
  cursor: pointer;
  position: relative;
  width: 26px;
  height: 8px;
}

:host /deep/.ngx-input-star-rating__btn svg {
  position: absolute;
  top: -12px;
  left: 5px;
}

:host /deep/ngx-input-star-rating {
  display: inline-block;
  --color-star-default: #a3d032;
  --color-star-highlight: #fe9700;
}