<div class="default">
  <section>
    <app-header *ngIf="currentUrl && !isCheckoutRoute()"></app-header>
    <app-checkout-header [currentStep]="currentStep" *ngIf="currentUrl && isCheckoutRoute()"></app-checkout-header>
    <app-loading-indicator></app-loading-indicator>
    <app-notification></app-notification>

    <main class="body container">
      <router-outlet></router-outlet>
    </main>

    <app-checkout-footer *ngIf="currentUrl && isCheckoutRoute()"></app-checkout-footer>
    <app-footer *ngIf="currentUrl && !isCheckoutRoute()"></app-footer>
  </section>
</div>
