<div class="flex flex-wrap  m-0">
  <div class="w-full p-6 sm:p-0">
    <h4 class="check-head">Check COD Availability</h4>
    <form
      [formGroup]="checkPincodeForm"
      (ngSubmit)="checkCodAvilability()"
      class="block"
    >
      <div class="flex items-center">
        <div class="mb-4 sm:mr-4 mr-3 mt-3 sm:mt-0">
          <input
            type="text"
            class="block appearance-none w-full py-1 px-2 mb-1 text-base leading-normal bg-white text-gray-800 border border-gray-200 rounded"
            name="pincode"
            placeholder="Postal/Pin code"
            formControlName="pincode"
          />
        </div>
        <button
          type="submit"
          class="inline-block align-middle text-center select-none border font-normal whitespace-no-wrap rounded py-1 px-3 leading-normal no-underline themebtnprimarybasic"
          [disabled]="!checkPincodeForm.valid"
        >
          Check
        </button>
      </div>
      <div *ngIf="(isCodAvilable$ | async); let isCodAvilable" class="mt-2 msg">
        <h5
          *ngIf="isCodAvilable.available; else elseBlock"
          class="text-green-500"
        >
          CASH ON DELIVERY IS AVAILABLE!
        </h5>
        <ng-template #elseBlock>
          <h5 class="text-red-600">CASH ON DELIVERY IS NOT AVAILABLE!</h5>
        </ng-template>
      </div>
    </form>
  </div>
</div>
