<section *ngIf="products">
  <div class="slider-section">
    <div>
      <!-- <a [routerLink]="['/search']" [queryParams]="{'q[name_cont]': dealsType, id: dealsId}" -->
      <a class="section-title h3" (click)="getDeals()">{{dealsType}}</a>
    </div>
    <div class="slider-control">
      <button button color="primary " (click)="moveLeft() " class="slider-btn prv">left</button>
      <button button color="primary " (click)="moveRight() " class="slider-btn next">right</button>
    </div>
  </div>
  <drag-scroll class="d-flex scrollbar-hidden" #nav>
    <app-pl-item  drag-scroll-item *ngFor="let product of products" class=" col-sm-2 col-6 col-md-3 col-lg-2 product-box" [product]="product"></app-pl-item>
  </drag-scroll>
  <hr>
</section>
