<div class="container py-5 my-5 h-100">
  <div class="row py-5">
    <div class="col-sm-12 py-1 ">
      <p>What is 'My Account'? How do I update my information ?</p>
      <p>It is easy to update your OfyPets&nbsp;account and view your orders any time through 'My Account'.</p>
      <p>'My Account' allows you complete control over your transactions on&nbsp;OfyPets</p>
      <ul>
        <li>Manage/edit your personal data like address, phone numbers, email ids</li>
        <li>Change your password</li>
        <li>Track the status of your orders</li>
      </ul>
    </div>
  </div>
</div>
