<div class="container" *ngIf="selectedTaxons$ | async; let selectedTaxons">
  <div class="row" *ngIf="productList$ | async; let productlist">

    <div class="col-md-12">
      <img src={{category_banner.image_link}} style="display: block; width: 100%;">
    </div>

    <div class="col-md-2" *ngIf="productlist[0].length > 0">
      <ul class="list-group">
        <li *ngFor="let taxon of selectedTaxons.taxons">
          <a class="list-group-item list-group-item-action" [routerLink]="['/','search']" [queryParams]="{'q[name_cont]': taxon.name, id: taxon.id}">{{taxon.name}}</a>
        </li>
      </ul>
    </div>
    <div class="col-md-10 container">
      <div *ngFor="let taxon of selectedTaxons.taxons; index as taxonIndex">
        <div>
          <div *ngIf="productlist[taxonIndex]?.length">
            <p>{{taxon.name}}</p>
            <a [routerLink]="['/','search']" [queryParams]="{'q[name_cont]': taxon.name, id: taxon.id}">All</a>
            <app-product-slider [productlist]="productlist[taxonIndex]"></app-product-slider>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-12" *ngIf="productlist[0].length === 0">
      <h1>No Product found for this category!</h1>
    </div>
  </div>
</div>