@import '../../shared/scss/selected_theme_variables';
.catgeory {
   background-color: $gray-100;
  .list-group-item {
    border: 0px solid;
    padding: 1rem 0rem;
    background-color: transparent;
    border-bottom: 1px solid $gray-10;
    font-size: 1em;
    border-radius: 0;
    &::after {
      font-family: 'FontAwesome';
      content: "\f105";
      width: 20px;
      height: 57px;
      margin-right: 12px;
      right: 0px;
      position: absolute;
      background-size: 10px;
    }
  }
  .list-group-item-action:hover,
  .list-group-item-action:focus {
    background-color: transparent;
    color: $theme-main-sub-color2 - 40;
    text-decoration: underline

    
  }
  .maninname {
    color: $gray-900;
    font-weight: bold
  }
  background-color: $gray-200;
  .sidebar {
    background-color: $white;
    padding: 3.5vh 0vw;
    @media screen and(width: 768px) {
      padding:2.5vh 0vw;
      display: none;
    }
  }
  .show-all {
    padding-left: 1rem;
    margin-top: 2px;
    font-size: 1.2em;
    font-weight: 500;
    text-decoration: none;
    span {
      margin: 1rem;
    }
    .divider {
      color: $gray-400;
    }
  }
  .box {
    background-color: $white;
    padding:1rem;
    margin: 1rem 0px;
    box-shadow: 0px 0px 1px $gray-10
  }
 
  :host /deep/ hr{display: none};
}
