<app-footer-contact-info>
</app-footer-contact-info>
<div class="container">
  <div class="row">
    <div class=col-md-6>
      <app-footer-quick-links></app-footer-quick-links>
    </div>
    <div class="col-md-6">
      <app-footer-social-links></app-footer-social-links>
    </div>
  </div>
</div>
<footer>
  <section>
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <ul class="line">
            <li class="line">{{contact_info.copyright}}</li>
          </ul>
        </div>
        <div class="col-md-6">
          <ul class="line">
            <li class="line">
              <a href="#">Terms Of Use</a>
            </li>
            <li class="line">
              <a href="#">Privacy Policy</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </section>
</footer>
