@import "../../shared/scss/_selected_theme_variables.scss";
$break-small: 320px;
footer {
  height: 50px;
  position: absolute;
  right: 0;
  bottom: -60px;
  @media screen and (min-width: $break-small) and (max-width: 767px) {
    bottom:auto;
  }
  left: 0;
  background-color: $gray-10;
  text-align: center;
}
.quicklinks {
  padding: 2rem 0;
}

.cpy {
  border-top: 1px solid $gray-13;
}

.cpy1 {
  ul {
    padding: 0px;
    margin: 0px;
    list-style: none;
    li {
      display: inline-block;
      padding: 1REM;
      a {
        color: $gray-600;
        font-size: 15PX;
      }
    }
  }
}


@media screen and (min-width: $break-small) and (max-width: 767px) {
  .quicklinks .row {
    margin: 0px
  }
  .cpy1 {
    ul.copy {
      li {
        width: 100%;
        text-align: center;
        padding: 3px;
      }
    }
    ul.term {
      li {
        width: 50%;
        text-align: center;
        padding: 3px;
      }
    }
  }
}
