<footer class="border-top">
  <app-footer-contact-info></app-footer-contact-info>
  <div class="quicklinks">
    <div class="container">
      <div class="row">
        <div class=col-md-6>
          <app-footer-quick-links></app-footer-quick-links>
        </div>
        <div class="col-md-6">
          <app-footer-social-links></app-footer-social-links>
        </div>
      </div>
    </div>
  </div>
  <section class="cpy">
    <div class="container cpy1">
      <div class="row">
        <div class="col-md-6 col-xs-12 text-left">
          <ul class="p-0 copy">
            <li class="pl-0 pr-0">{{contact_info.copyright}}</li>
          </ul>
        </div>
        <div class="col-md-6 col-xs-12 text-right">
          <ul class="text-right term">
            <li>
              <a href="#">Terms Of Use</a>
            </li>
            <li class="pr-0">
              <a href="#">Privacy Policy</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </section>
</footer>
