/* You can add global styles to this file, and also import other style files */


@font-face {
  font-family: "Roboto Regular";
  src: url("assets/custom/fonts/Roboto-Regular.eot?") format("eot"),

   url("assets/custom/fonts/Roboto-Regular.ttf") 
   format("truetype"), url("assets/custom/fonts/Roboto-Regular.svg#Roboto-Regular") format("svg");
  font-weight: normal;
  font-style: normal;
}

