@import '../../shared/scss/selected_theme_variables';
.payment-section {
    margin: 9px auto;
    .left {
        vertical-align: top;
        border-right: 1px solid $gray-10;
        padding-right: 30px;
        @media screen and(min-width: 320px) and(max-width: 768px) {
            padding:0;
            border-radius: 0px;
            border-right: 0px;
        }
        .payment-header {
            background: $white;
            padding: 10px 0;
            color: $gray-700;
            line-height: 50px;
            .lbl {
                font-weight: 600;
                font-size: 16px;
                color: $gray-800;
                font-family: $primary-font;
                @media screen and(min-width: 320px) and(max-width: 768px) {
                    font-weight: 200;
                    font-size: 13px;
                }
            }
            .amt.you-pay {
                float: right;
                .amt,
                .you-pay {
                    font-weight: 600;
                    font-size: 14px;
                    font-family: $primary-font;
                    @media screen and(min-width: 320px) and(max-width: 768px) {
                        font-weight: 200;
                        font-size: 13px;
                    }
                }
                .amt {
                    padding-right: 10px;
                    color: $gray-800;
                }
                .you-pay {
                    color: $gray-900;
                }
            }
        }
        .pay-body {
            border-top: 2px solid $gray-700;
            position: relative;
        }
    }
    .right {
        padding-left: 30px;
        padding-top: 15px;
        @media screen and(min-width: 320px) and(max-width: 768px) {
            width:100%;
            padding: 0;
        }
        .mini-bag-summary {
            position: relative;
            padding: none;
            border-bottom: 1px solid $gray-10;
            .lbl {
                font-size: 12px;
                font-weight: 600;
                font-family: $primary-font;
                color: $gray-700;
                height: 35px;
                line-height: 48px;
            }
            .items {
                font-size: 12px;
                font-weight: 600;
                font-family: $primary-font;
                padding-top: 5px;
            }
            .order-total,
            .shipping {
                font-size: 14px;
                padding-top: 6px;
                padding-bottom: 20px;
                height: 22px;
                position: relative;
                span {
                    color: $gray-800;
                }
            }
            .shipping {
                height: 60px;
            }
            .order-total>.value,
            .shipping>.shipping-fee {
                position: absolute;
                right: 0;
                text-align: right;
                color: $gray-800;
            }
            .shipping>.c-green {
                color: $theme-action-color - 80;
                width: 15em;
                font-size: 14px;
                padding-top: 5px;
            }
        }
        .pay-lbl-total {
            padding: 10px 0;
            .pay-lbl,
            .pay-total {
                font-weight: 600;
                font-size: 14px;
                font-family: $primary-font;
                ;
            }
            .pay-total {
                float: right;
            }
        }
        .address-summary {
            .address-lbl {
                font-weight: 600;
                font-size: 12px;
                color: $gray-700;
                padding-top: 30px;
                padding-bottom: 5px;
                font-family: $primary-font;
            }
            .name {
                color: $gray-900;
                margin-top: 5px;
                font-weight: 600;
                font-family: $primary-font;
            }
            .add-info {
                color: $gray-700;
                font-size: 13px;
                line-height: 17px;
            }
        }
    }
}