<div class="dpmenu" *ngIf="taxonomies[0]; let catgeory_taxonomy">
  <div class="" [ngClass]="[isOpen ? 'open main-nav-trigger-open':'',isScrolled ? 'main-nav-trigger':'cust-menu-btn']" (mouseenter)="dropdown.show()"
    (mouseleave)="dropdown.hide()">
    <span *ngIf="isScrolled"></span>
    <strong *ngIf="!isScrolled">Shop By Category
      <a>
        <i class="fa pl-3 fa-chevron-down"></i>
      </a>
    </strong>
  </div>
  <div dropdown #dropdown="bs-dropdown" [autoClose]="false" (isOpenChange)="onOpenChange($event)" (mouseenter)="dropdown.show()"
    class="open show" (mouseleave)="dropdown.hide()" (click)="dropdown.hide()">
    <div id="dropdown-triggers-manual" *dropdownMenu class="dropdown-menu container show" style="left: 0px; right: auto; top: 100%; transform: translateY(0px);"
      [ngClass]="[isScrolled ? '':'notscrolled']" role="menu" aria-labelledby="button-triggers-manual">
      <div class="row m-0" *ngIf="catgeory_taxonomy?.root?.taxons">
        <div class="col-md-3 p-0">
          <ul class="h-100">
            <!-- <li *ngFor="let taxon of catgeory_taxonomy.root.taxons; let i= index" (click)="showCategoryonclick(i)" (mouseenter)="showCategory(i)"
              [ngClass]="{'active': selectedItem == i}" [routerLink]="['c' ,taxon.name]">
              {{taxon.name}}</li> -->
              <li *ngFor="let taxon of catgeory_taxonomy.root.taxons; let i= index" (click)="showCategoryonclick(i)" (mouseenter)="showCategory(i)"
              [ngClass]="{'active': selectedItem == i}">
              {{taxon.name}}</li>
          </ul>
        </div>
        <div class="col-md-9 no-gutters detailcontainer p-0" *ngIf="menuTaxons">
          <app-categories-details [taxons]="menuTaxons.taxons" [taxonName]="menuTaxons.name" [taxonImageLink]="menuTaxons.image_url" (click)="getCategeory()"></app-categories-details>
        </div>
      </div>
    </div>
  </div>
</div>
