@import '../../../../shared/scss/selected_theme_variables';
.dropdown-menu {
  width: 50rem;
  padding: 0px;
}

.dpbtn .dropdown-toggle::after {
  display: none
}

ul {
  list-style: none;
  padding: 0.5rem 0 0.5rem 1.5rem;
  margin: 0px;
  background-color: $gray-10;
  li {
    padding: 0.5rem 0.4rem;
    background-color: $gray-10;
    border-bottom: 1px solid $gray-10;
    color: $white;
    cursor: pointer;
    &::after {
      font-family: 'FontAwesome';
      content: "\f105";
      width: 20px;
      height: 57px;
      margin-right: 12px;
      right: 0px;
      position: absolute;
      background-size: 10px;
    }
    &:hover::after {
      color: $theme-main-color
    }
    &:hover {
      background-color: $white;
      color: $theme-main-color;
      border-radius: 4px 0px 0px 4px;
    }
    uL>LI {
      POSITION: absolute;
      LEFT: 20%;
      WIDTH: 78%;
      TOP: 0PX;
      display: NONE;
    }
  }
}

.detailcontainer {
  padding: 0.5rem
}

@media screen and(min-width: 320px) and(max-width: 768px) {
  .dropup,
  .dropright,
  .dropdown,
  .dropleft {
    left: 20px !important;
  }
  .dropdown-menu {
    padding: 0px;
    margin: 0px;
    left: -2px;
    background: transparent;
    border: 0px;
    margin-top: 10px;
  }
  .petdropdown .btn {
    padding: 0px 0 0 5px;
  }
}

@media screen and(min-width: 628px) and(max-width: 768px) {
  .petdropdown {
    left: -20px;
  }
  .petdropdown .btn {
    padding: 0px 0 0 5px;
  }
}

.petmenu {
  width: 207%;
  display: flex
}

.petdropdown .btn-group>.btn:first-child {
  margin-left: -17px;
}