<div class="h6 font-weight-bold clearfix mt-2 mb-3">
  <div class="float-left">FILTERS</div>
  <a class="pointer float-right text-danger" (click)="clearSearchFilters()">
    CLEAR ALL
  </a>
</div>
<app-multiselect-filter [filter]="categoryFilter" skipCount="0" (filterClick)="multiFilterUpdated($event, 'categories')"></app-multiselect-filter>
<app-multiselect-filter [filter]="brandFilter" (filterClick)="multiFilterUpdated($event, 'brands')"></app-multiselect-filter>
<div *ngFor="let optionFilter of optionFilters">
  <app-multiselect-filter [filter]="optionFilter" (filterClick)="multiOptionFilterUpdated($event, optionFilter.name)"></app-multiselect-filter>
</div>
