@import '../../../shared/scss/selected_theme_variables';
.items {
  .address-row {
    background: $gray-200;
    border: 1px solid $gray-10;
    box-shadow: 0 0 4px rgba(40, 44, 63, .08);
    padding-top: 25px;
    padding-left: 45px;
    display: inline-block;
    height: auto;
    width: 302px;
    margin-right: 25px;
    border-radius: 4px;
    position: relative;
  
    @media screen and(min-width: 320px) and(max-width: 768px) {
      height: auto;
      width: 100%;
      margin-right: 0px;
      border-radius: 4px;
      position: relative;
      min-height: auto;
      border-radius: 0;
      padding: 1.4em 1em 1.4em 1em;
    }
    cursor: pointer;
    .name {
      font-family: $primary-font;
      font-weight: 600;
      font-size: 15px;
      color: $gray-800;
    }
    .address {
      padding-top: 10px;
      width: 90%;
      .address-content {
        color: $gray-800;
        line-height: 1.4;
        word-break: break-word;
        font-size: 13px;
        .mob {
          padding: 8px 0;
          .mob-no {
            font-weight: 600;
            font-family: $primary-font;
            ;
          }
        }
      }
    }
    .serviceability {
      font-size: 13px;
      margin-bottom: 20px;
    }
    .select {
      cursor: pointer;
      position: absolute;
      left: 14px;
      top: 23px;
      width: 20px;
      height: 20px;
      border: none;
      background-position: -551px 0;
      display: inline-block;
      overflow: hidden;
      background-repeat: no-repeat;
      background-size: 4250px 153px;
      vertical-align: middle;
      // background-image: url(/assets/checkout_sprite.png);
    }
  }
}