@import '../../shared/scss/selected_theme_variables';
.checkout-header {
  padding: 20px 0;
  height: 78px;
  border-bottom: 1px solid $gray-10; // position: fixed;
  width: 100%;
  z-index: 1;
  background: $white;
  .full-container {
    max-width: 980px;
    margin: 0 auto;
    .navbar-brand {
      padding: 0px;
      display: inline-block;
      img {
        height: 46px;
        margin-top: -4px;
      }
    }
    .checkout-steps {
      margin-left: 25%;
      margin-top: 8px;
      margin-bottom: 8px;
      width: 40%;
      display: inline-block;
      padding: 0px;
      .step {
        display: inline-block;
        background: $white;
        padding: 0px;
        a {
          color: $gray-800;
          text-transform: uppercase;
          font-size: 12px;
          font-weight: 600;
          font-family: $primary-font;
          ;
          letter-spacing: 3px;
          text-decoration: none;
          cursor: text;
        }
        .can-click {
          cursor: pointer;
        }
        .active {
          color: $theme-action-color;
          border-bottom: 2px solid $theme-action-color;
          padding-bottom: 5px;
        }
      }
      .step1 {
        margin-right: 5px;
      }
      .step2 {
        margin: 0 5px;
      }
      .step3 {
        margin-left: 5px;
      }
      .divider {
        width: 10%;
        border-top: 1px dashed $gray-700;
        height: 5px;
        display: inline-block !important;
        background: $white;
        color: $gray-800 !important;
        padding: 0 !important;
      }
    }
  }
}