<div class="main-content container my-4 my-4">
  <div id="content" class="col-md-12 center-column content-with-background  px-0">
    <h2 class="my-3">About Us</h2>
    <div class="row">
      <div class="col-sm-12">
        <p>Welcome to OfyPets, Only for Your Pets, a customer centric online destination for the needs of your pets.</p>
        <p>OfyPets is committed to change the way people get pet supplies, pet food, general advice and other necessities for
          their four legged, feathered, scaled or aqua pets. OfyPets offers food, toys, treats, accessories, grooming tools
          and expert pet advices for your dogs, cats, birds, fish and other small pets.&nbsp;</p>
        <p>With an understanding that more and more consumers are depending on the Internet to satisfy their needs for convenience,
          choice, and value, we aim to become one of the most comprehensive and easy-to-use online shopping resources for
          pet owners. Here’s OfyPets to help you, by saving time, money, and find the right products for your pets. For the
          very best support, we stand out clearly to provide our customers an exceptional range of pet care products, services
          and offers with a user friendly website. Still our main motive designing such a website to reach those customers
          of ours who are not much used to online shopping and should find it easy to shop with OfyPets and even if you face
          any hurdle at any time you can interact with our customer support which is very responsive.</p>
        <ul>
          <li>Wide range pet food and care products.</li>
          <li>User Friendly Interface to provide the ease of shopping.</li>
          <li>Fastest delivery and Secured Payments</li>
          <li>Dedicated customer service.&nbsp;</li>
          <li>Pet products includes products for dog, cat, birds, fish and other small animals.</li>
        </ul>
        <p>We commit to provide a safe and secure environment for you to shop here. All credit/debit card transactions are completely
          secured. We pride ourselves on carrying products or brands that insist on high standards and quality.</p>
        <p>&nbsp;</p>
        <p>Come and Shop for your Pets at Ofypets.</p>
        <p>&nbsp;</p>
        <p>For Product queries:
          <a href="mailto:support@ofypets.com">support@ofypets.com</a>
        </p>
        <p>For Sales queries:&nbsp;
          <a href="mailto:sales@ofypets.com">sales@ofypets.com</a>
        </p>
      </div>
    </div>
  </div>
