@import "../../../../shared/scss/selected_theme_variables";
.line {
  display: inline;
  padding: 10px;
}

.col-md-3,
.col-md-2 {
  padding: 10px;
}

.contact-info {
  background-color: $theme-main-color;
  padding: 1rem;
  color: $footer-font-color;
  font-size: 1em;
  font-weight: normal;
  a {
    padding: .7rem;
    color: $footer-font-color;
  }
  a:hover {
    background-color: $theme-main-color - 40;
    border-radius: 4px;
  }
  .backtopbtn {
    background-color: $theme-main-sub-color2;
    border-radius: 4px;
    text-decoration: none;
    padding: 0.7rem 1.8rem;
    color: $footer-font-color;
    cursor: pointer;
  }
}

@media screen and(min-width: 320px) and(max-width: 768px) {
  .contact-info {
    a {
      padding: 0rem;
      color: $footer-font-color;
    }
    .backtopbtn {
      background-color: $theme-main-color + 40;
      border-radius: 4px;
      text-align: center;
      text-decoration: none;
      padding: 0.7rem 1.8rem;
      color: $footer-font-color;
    }
  }
}

@media screen and(min-width: 320px) and(max-width: 480px) {
  .contact-info {
    .backtopbtn {
      margin-top: 5px;
      padding: 0.7rem 1.8rem;
      display: block
    }
  }
}
