<section>
  <div class="container">
    <div class="row">
      <div class="col-md-3">
        <strong>
          Our experts are available 24/7:
        </strong>
      </div>
      <div class="col-md-3">
        <strong>
          <i class="fa fa-phone" aria-hidden="true"></i> {{contact_info.contact_no}}
        </strong>
      </div>
      <div class="col-md-2">
        <a href="#">
          <strong>
            <i class="fa fa-envelope"></i> Email Us
          </strong>
        </a>
      </div>
      <div class="col-md-2">
        <a href="#">
          <strong>
              <i class="fa fa-comments" aria-hidden="true"></i> Live Chat
          </strong>
        </a>
      </div>
      <div class="col-md-2">
        <strong>
          <a href="#main">
            <span>Back to Top</span>
          </a>
        </strong>
      </div>
    </div>
  </div>
</section>
