<section class="contact-info">
  <div class="container">
    <div class="row">
      <div class="col-12 col-md-5 col-sm-3 col-lg-3">
        <strong>
          Our experts are available 24/7:
        </strong>
      </div>
      <div class=" col-12  col-md-6 col-sm-3 col-lg-2">
        <strong>
          <i class="fa fa-phone" aria-hidden="true"></i> {{contact_info.contact_no}}
        </strong>
      </div>
      <div class=" col-12  col-md-4 col-sm-3 col-lg-2">
        <a href="#">
          <strong>
            <i class="fa fa-envelope"></i> Email Us
          </strong>
        </a>
      </div>
      <div class="col-12  col-md-4 col-sm-3 col-lg-2">
        <a href="#">
          <strong>
              <i class="fa fa-comments" aria-hidden="true"></i> Live Chat
          </strong>
        </a>
      </div>
      <div class="col-12  col-md-4 col-sm-3 col-lg-3 text-right">
        <strong>
          <a class="backtopbtn" (click)="scollTop()">
            <span>Back to Top <i class="fa fa-angle-up pl-2" aria-hidden="true"></i></span>
          </a>
        </strong>
      </div>
    </div>
  </div>
</section>
