// -- Theme Colors here --
// Default theme colors
$theme-default-text-color: #ee5f73 + 50;
$theme-default-subtext-color: #ee5f73;
$theme-default-secondary-color: rgba(white,0.98);
$theme-default-header-background-color: $theme-default-secondary-color;
$theme-default-border: 2px solid #aaa;

.selected-theme {
  @import "header";
  @import "badge";
  @import "notify";

  input, button {
    &:focus {
      outline: none;
    }
  }

  .panel {
    box-shadow: 0 0 4px rgba(40,44,63,0.08);
  }

  .strong {
    font-family: Whitney-semi-bold;
    font-weight: 800;
  }
}
