// selected-theme is the main theme class add to top level main html component
// <div class="selected-theme">...
.selected-theme {
  @import "header";
  @import "badge";
  @import "notify";
  @media screen and (max-width: 768px) {
    background-color: $gray-100;
  }
  input,
  button {
    &:focus {
      outline: none;
    }
  }
  .panel {
    box-shadow: 0 0 4px rgba(40, 44, 63, 0.08);
  }
  .strong {
    font-family: $primary-font;
    font-weight: 800;
  }
  .caret {
    color: $orange + 20;
  }
}
