// Used to import variables in components
@import "custom_bootstrap_variables";
// -- Theme Colors here --
// Custom theme colors
// Refer _default_variables to generate colors
$theme-main-color: #a3d032;
$theme-action-color: #fe9700;
$primary-font: "Roboto Regular";