// Used to import variables in components
@import "custom_bootstrap_variables";
// -- Theme Colors here --
// Custom theme colors
// Refer _default_variables to generate colors
$theme-main-color: #a3d032;
$theme-action-color: #fe9700;
$primary-font: "Roboto Regular";
$header-font-color: $white;

$theme-action-sub-color1:#FFB44B;
$theme-action-sub-color2:#E79110;
$theme-action-sub-color3: #FFAC2E;
$theme-action-sub-color4: #E78E0D;

$theme-main-sub-color1:#AAE714;
$theme-main-sub-color2: #8FB62C;
$theme-main-sub-color3: #C0E75D;
$theme-main-sub-color4: #AFDD35
