<div class="cod-block">
	<div class="section-help">
		<span class="lbl">
			Cash/Card On Delivery
		</span>
		<span class="sub-lbl">
			Pay with Cash or Card when your order is delivered
		</span>
	</div>
	<div class="cod-info">
		NOTE: All authorised notes are accepted. Credit/Debit cards are also accepted.
	</div>
</div>

<div class="pay-btn-wrap" *ngIf="!isPaymentAdded">
	<button (click)="addPayment()" class="btn themebtnprimary">Continue</button>
</div>

<div class="pay-btn-wrap" *ngIf="isPaymentAdded">
	<button (click)="makePayment()" class="btn themebtnprimary">Pay On Delivery</button>
</div>
