@import '../../../../shared/scss/selected_theme_variables';
.cw-btn {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-appearance: none;
  cursor: pointer;
  background: none;
  font-family: Roboto, Arial, sans-serif;
  font-size: 18px;
  -webkit-font-smoothing: antialiased;
  line-height: 1;
  font-weight: 400;
  text-align: center;
  text-decoration: none;
  white-space: nowrap;
  padding: 13px 35px 15px;
  margin-right: 15px;
  outline: none;
  border: 1px solid transparent;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  -webkit-transition: all, .4s, ease-out;
  transition: all, .4s, ease-out;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.cw-btn--action {
  background-color: $theme-action-sub-color2;
  background: linear-gradient(180deg, $theme-action-sub-color2 0, ef #FFAC2E 45%, $theme-action-sub-color2);
  color: $white;
  font-weight: 500;
  border: 1px solid rgba(0, 0, 0, 0.3);
  box-shadow: 0 1px 0 0 $gray-10;
  width: 100%;
}

.wirte-review {
  margin: 0 auto;
  padding: 2em 0
}