<br>
<div class="container">
  <div class="row">
    <div class="col-md-8" *ngIf="!showThanks">
      <h3>Write Review</h3>
      <form [formGroup]="reviewForm" (ngSubmit)="onSubmit()" data-toggle="validator">
        <div class="form-group">
          <label for="exampleInputEmail1">Rate this product</label>
          <ngx-input-star-rating formControlName="rating" class="form-control" required></ngx-input-star-rating>
        </div>
        <div class="form-group">
          <label for="exampleInputEmail1">Title</label>
          <input type="text" class="form-control" aria-describedby="emailHelp" placeholder="Headline for your review" formControlName="title"
            required>
        </div>
        <div class="form-group">
          <label for="exampleFormControlTextarea1">Content</label>
          <textarea class="form-control" rows="3" placeholder="Your review" formControlName="review" required></textarea>
        </div>
        <button type="submit" class="btn btn-primary">Submit Review</button>
      </form>
    </div>
    <div class="col-md-8" *ngIf="showThanks">
      <h3>Thanks for your review!</h3>
      <i class="fa fa-check-circle fa-3x"></i>
      <p>Your review has been submitted.Please note that your review may take up to 48 hours to appear.</p>
      <button type="normal" class="btn btn-primary" (click)="goToProduct()">Continew Shopping</button>
    </div>
  </div>
</div>
<br>
