@import "../../../../../../../shared/scss/selected_theme_variables";
a {
  color: $gray-600;
  font-size: 0.9rem;
  padding: 5px 0px;
  display: block;
  &:hover {
    color: $theme-main-color - 80;
    text-decoration: underline;
  }
  @media screen and (min-width: 320px) and (max-width: 767px) {
    color: $white;
  }
}

.subbrandmenu {
  ul {
    list-style: none;
    padding: 0.5rem 0 0.5rem 1.5rem;
    margin: 0px;
    li {
      padding: 0.5rem 0.4rem;
      border-bottom: 1px solid $gray-10;
      color: $white;
      cursor: pointer;
      &::after {
        font-family: 'FontAwesome';
        content: "\f105";
        width: 20px;
        height: 57px;
        margin-right: 12px;
        right: 0px;
        position: absolute;
        background-size: 10px;
      }
      &:hover::after {
        color: $theme-main-color;
      }
      &:hover {
        background-color: $white;
        color: $theme-main-color;
        border-radius: 4px 0px 0px 4px;
      }
      a:hover {
        color: $theme-main-color;
      }
      ul>li {
        position: absolute;
        left: 20%;
        width: 78%;
        top: 0PX;
        display: none;
      }
    }
  }
}