<!-- <div *ngIf="taxonomies">
  <h4 class="heading" *ngIf="taxonomies.length !=0">{{taxonomies[0].name}}</h4>
  <div class="filter-box">
    <ul class="taxonomy" *ngFor="let taxonomy of taxonomies">
      <li *ngFor="let taxon of taxonomy.root.taxons" class="filter">
        <label class="vertical-filters-label common-customCheckbox">
          <input type="checkbox" [checked]="isChecked(taxon)" (click)="taxonSelected(taxon, $event.target.checked)"> {{taxon.name}}
          <strong>{{taxon.name}}</strong>({{taxon.taxons.length}})
          <div class="common-checkboxIndicator"></div>
        </label>
      </li>
    </ul>
  </div>
</div> -->
