p a {
  color: #697071;
  text-decoration: none;
  &.active {
    font-family: Whitney-semi-bold;
    color: #20bd99;
    font-weight: 500;
    background-color: transparent;
  }
}

.sidebar {
  border-right: 1px solid #eaeaec;
}