<div class="container-fluid">
  <div class="col-md-12">
    <h4> My Account </h4>
    <hr>
  </div>

  <div class="sidebar col-md-3">
    <p><a routerLink="/user/overview" routerLinkActive="active">Overview</a></p>
    <hr>
    <p><small>ORDERS</small></p>
    <p><a routerLink="/user/orders" routerLinkActive="active">My Orders</a></p>
    <hr>
    <p><a routerLink="/user/addresses" routerLinkActive="active">My Address</a></p>
  </div>

  <div class="col-md-9">
    <router-outlet></router-outlet>
  </div>
</div>
