@import '../shared/scss/selected_theme_variables';
p a {
    color: $gray-600;
    text-decoration: none;
    &.active {
        font-family: $primary-font;
        color: $theme-action-color;
        font-weight: 900;
        background-color: transparent;
    }
}
.bg{padding: 0}
.sidebar {
    border-right: 1px solid $gray-10;
}