<div class="d-flex  my-flex-container" *ngIf="taxonomies[0]; let catgeory_taxonomy">
  <div class="p-0 no-gutters" class="parrent-catgory" [@popOverState]="getparrentState">
    <ul>
      <li *ngFor="let taxon of catgeory_taxonomy.root.taxons; let i= index" (click)="showCategory(i)">{{taxon.name}}</li>
    </ul>
  </div>
  <div class="p-0 no-gutters" class="sub-catgory" [@popOverState]="getparrentState" [@subCatgory]="getChildState">
    <ul *ngIf="menuTaxons">
      <li (click)="parrentBack()">Back</li>

      <li *ngFor="let taxon of menuTaxons.taxons; let i= index" (click)="showSubCategory(i)">{{taxon.name}}</li>
    </ul>
  </div>
  <div class="p-0 no-gutters" class="sub-sub-catgory" [@subCatgory]="getChildState">
    <ul *ngIf="subChild">
      <li (click)="childBack()">Back</li>
      <li *ngFor="let taxon of subChild.taxons; let i= index">{{taxon.name}}</li>
    </ul>
  </div>
</div>