@import '../../../../shared/scss/selected_theme_variables';
ul {
  width: 100vw;
  list-style: none;
  margin: 0px;
  li {
    cursor: pointer;
    padding: 0.8rem 1.1rem;
    border-bottom: 1px solid $gray-10;
    color: $gray-900;
    cursor: pointer;
    &::after {
      font-family: 'FontAwesome';
      content: "\f105";
      width: 20px;
      height: 57px;
      margin-right: 12px;
      right: 0px;
      position: absolute;
      background-size: 10px;
    }
    uL>LI {
      position: absolute;
      left: 20%;
      width: 78%;
      top: 0PX;
      display: NONE;
    }
  }
}

.otherlinks {
  li {
    border-bottom: 1px solid $gray-10;
    a {
      color: $gray-900
    }
    &::after {
      font-family: 'FontAwesome';
      content: " ";
    }
  }
}

.parrent-catgory {
  width: 100vw;
  left: 0vw;
  position: relative;
}

.sub-catgory {
  @extend .parrent-catgory;
  left: -100vw;
}

.sub-sub-catgory {
  @extend .parrent-catgory;
}

.bg-color {
  background-color: $white
}

.subhead {
  padding: 16px;
  font-size: 1.4em;
  font-weight: 700;
  line-height: 1.3;
  background-color: $white - 10;
  border-bottom: 1px solid $gray-10;
}

.backbtn {
  padding-left: 10px;
  &::after {
    font-family: 'FontAwesome';
    content: "";
    width: 20px;
    height: 57px;
    margin-right: 12px;
    left: 11px;
    top: 7px;
    display: none;
    position: absolute;
    background-size: 10px;
    font-size: 20px;
  }
}

.need-help {
  position: fixed;
  bottom: 7.8vh;
  padding: 1rem;
  text-align: center;
  background-color: $theme-main-color - 20;
  width: 100%;
  color:$white;
}
