<div class="d-flex  my-flex-container" *ngIf="taxonomies[0]; let catgeory_taxonomy">
  <div class="p-0 no-gutters" class="parrent-catgory" [@popOverState]="getparrentState">
    <ul class="bg-color">
      <li *ngFor="let taxon of catgeory_taxonomy.root.taxons; let i= index" (click)="showCategory(i)">{{taxon.name}}</li>
    </ul>
    <ul class="otherlinks">
      <li>
        <a [routerLink]="['info/About_us']" (click)="onCloseMobilemenu()">About us</a>

      </li>
      <li>
        <a [routerLink]="['info/FAQs']" (click)="onCloseMobilemenu()">FAQs</a>
      </li>
      <li>
        <a [routerLink]="['info/Return Policy']" (click)="onCloseMobilemenu()">Return Policy</a>
      </li>

    </ul>
  </div>
  <div class="p-0 no-gutters" class="sub-catgory" [@popOverState]="getparrentState" [@subCatgory]="getChildState">
    <ul class="bg-color" *ngIf="menuTaxons">
      <li (click)="parrantBack()" class="backbtn">
        <i class="fa fa-chevron-left mr-2"></i>Back</li>
      <div class="subhead" (click)="onCloseMobilemenu()" [routerLink]="['search']" [queryParams]="{'q[name_cont]': menuTaxons.name, id: menuTaxons.id}" >{{menuTaxons.name}}</div>
      <li *ngFor="let taxon of menuTaxons.taxons; let i= index" (click)="showSubCategory(i)">{{taxon.name}}</li>
    </ul>
  </div>
  <div class="p-0 no-gutters" class="sub-sub-catgory" [@subCatgory]="getChildState">
    <ul class="bg-color" *ngIf="subChild">
      <li (click)="childBack()" class="backbtn">
        <i class="fa fa-chevron-left mr-2"></i> Back</li>
      <div class="subhead" (click)="onCloseMobilemenu()" [routerLink]="['search']" [queryParams]="{taxon: subChild.id}">{{subChild.name}}</div>
      <li *ngFor="let taxon of subChild.taxons; let i= index" [routerLink]="['search']" [queryParams]="{taxon: taxon.id}"
        (click)="onCloseMobilemenu(taxon.name)">{{taxon.name}}</li>
    </ul>
  </div>
  <div class="need-help">Need help?{{contactno}}</div>
</div>
