<div class="cart-section container" *ngIf="!isMobile">
  <div *ngIf="(totalCartItems$ | async) > 0 else emptyCart" class="row">
    <div class="left col-md-9">
      <div class="checkout-header-container">
        <div class="checkout-header">
          <span class="text">Your Shopping Cart</span>
        </div>
      </div>
      <div class="prod-set">
        <app-line-item-list></app-line-item-list>
      </div>
    </div>
    <div class="right col-md-3">
      <app-order-total-summary [itemTotal]="(itemTotal$ | async)"></app-order-total-summary>
    </div>
  </div>

  <ng-template #emptyCart>
    <app-empty-cart></app-empty-cart>
  </ng-template>
</div>
<div class="cart-section container p-0" *ngIf="isMobile">
  <div class="right col-12">
    <app-order-total-summary *ngIf="(totalCartItems$ | async) > 0" [itemTotal]="(totalCartValue$ | async)" [isMobile]="isMobile"></app-order-total-summary>
  </div>
  <div *ngIf="(totalCartItems$ | async) > 0 else emptyCart">
    <div class="left col-12">
      <div class="prod-set">
        <app-line-item-list [isMobile]="isMobile"></app-line-item-list>
      </div>
    </div>
  </div>
  <ng-template #emptyCart>
    <app-empty-cart></app-empty-cart>
  </ng-template>
</div>
