@import '../../shared/scss/selected_theme_variables';
.cart-section {
  position: relative;
  .left {
    padding-right: 40px;
    @media screen and(min-width: 320px) and(max-width: 768px) {
      padding:0;
      border-radius: 0px;
    }
    .checkout-header-container {
      .checkout-header {
        display: inline-block;
        padding: 3rem 0 0.8rem;
        .text {
          font-size: 1.8em;
          font-weight: normal;
          color: $gray-900;
          font-family: $primary-font;
          ;
        }
      }
      .total-price {
        float: right;
        padding: 30px 0;
        display: inline-block;
        font-size: 18px;
        color: $gray-900;
      }
    }
    .prod-set {
      width: 100%;
      display: inline-block;
      overflow: auto;
      padding: 1rem;
      background-color: $white;
      border-radius: 4px;
      box-shadow: 0px 0px 3px $gray-10;
      @media screen and(min-width: 320px) and(max-width: 768px) {
        border-radius: 0px;
        padding: 0;
        box-shadow: none;
      }
      .wishlist-link {
        cursor: pointer;
        .icon {
          width: 12px;
          height: 16px;
          background-position: -689px 0;
          display: inline-block;
          overflow: hidden;
          background-repeat: no-repeat;
          background-size: 4250px 153px;
          vertical-align: middle;
          // background-image: url(/assets/checkout_sprite.png);
          margin-right: 5px;
        }
        text-align: center;
        display: block;
        height: 40px;
        padding-top: 10px;
        background: $white;
        color: $gray-900;
        border: 1px solid $gray-10;
        font-size: 1.7em;
      }
    }
  }
  .right {
    vertical-align: top;
    position: absolute;
    @media screen and(min-width: 320px) and(max-width: 768px) {
      position: relative;
      box-shadow: none;
      padding: 0 15px;
      margin-top: 0px;
    }
    right: 0;
    margin-top: 15.3vh;
    background-color: $white;
    border-radius: 4px;
    box-shadow: 0px 0px 4px $gray-10;
    padding: 0.9rem 1.4rem;
  }
}