<div class="cart-section">
  <div class="left">
    <div class="checkout-header-container">
      <div class="checkout-header">
        <span class="text">My Shopping Bag (2 Items)</span>
      </div>
      <div class="total-price">Total: Rs. 4,999</div>
    </div>
    <div class="prod-set">
      <app-line-item-list></app-line-item-list>
      <a class="wishlist-link">
        <span class="icon"></span>
        <span>Add more from wishlist</span>
      </a>
    </div>
  </div>
  <div class="right">
    <app-order-total-summary></app-order-total-summary>
  </div>
</div>
