.cart-section {
	.left	{
		display: inline-block;
    width: 70%;
    padding-right: 40px;
    border-right: 1px solid #f5f5f6;
    min-height: 500px;
		.checkout-header-container {
			.checkout-header {
				display: inline-block;
				padding: 30px 0;
				.text {
					font-size: 18px;
    			font-weight: 600;
					color: #535766;
				}
			}
			.total-price {
				float: right;
				padding: 30px 0;
				display: inline-block;
				font-size: 18px;
				color: #535766;
			}
		}
	}
	.right{
		display: inline-block;
		padding: 30px 20px;
    width: 300px;
	}
}