<button (click)="addToCart()">Add To Cart</button>

<div class="cart-section">
  <div class="left">
    <div class="checkout-header-container">
      <div class="checkout-header">
        <span class="text">My Shopping Bag</span>
      </div>
      <div class="total-price">Total: Rs. 4,999</div>
    </div>
    <app-line-item-list></app-line-item-list>
  </div>
  <div class="right">
    <div>PRICE DETAILS</div>
    <div>
      <span>Bag Total</span>
      <span style="float: right;">${{totalCartValue$ | async}}</span>
    </div>
    <div>
      <span>Delivery</span>
      <span style="float: right;">Free</span>
    </div>
    <div style="border-bottom: 1px solid gray; margin: 10px 0;"></div>
    <div>
      <span>Order Total</span>
      <span style="float: right;">${{totalCartValue$ | async}}</span>
    </div>
    <button (click)="placeOrder()" style="width: 100%">PLACE ORDER</button>
  </div>
</div>
