@import '../../../shared/scss/selected_theme_variables';
.catgeory {
  padding: 4vh 0;
  border-bottom: 1px solid $gray-10;
  background-color: $gray-100;
  .list-group-item {
    border: 0px solid red;
    padding: 0.35rem 0rem;
    background-color: transparent;
  }
  .list-group-item-action:hover,
  .list-group-item-action:focus {
    background-color: transparent;
    color: $theme-main-sub-color2;
    text-decoration: underline
  }
}