<div class="flex flex-wrap " *ngIf="userDetails">
  <div class="md:w-full pr-4 pl-4">
    <div class="relative px-3 py-3 mb-4 border rounded bg-green-200 border-green-300 text-green-800 w-full">
      <strong>Welcome!</strong> {{ userDetails.email }}
    </div>
    <h5 class="block">Email Address</h5>
    <form
      [formGroup]="emailForm"
      (ngSubmit)="emailConfirmModal(emailModal, userDetails.id)"
      class="flex items-center"
    >
      <div class="mb-4 sm:mr-4 hidden sm:block">
        <input
          type="email"
          [readonly]="!isEditEmailPressed"
          class="block appearance-none w-full py-1 px-2 mb-1 text-base leading-normal bg-white text-gray-800 border border-gray-200 rounded mt-1"
          placeholder="Email Address"
          formControlName="email"
        />
      </div>
      <div class="mb-4 sm:mr-4 w-full p-0 d-bolck sm:hidden">
        <input
          type="email"
          [readonly]="!isEditEmailPressed"
          class="block appearance-none w-full py-1 px-2 mb-1 text-base leading-normal bg-white text-gray-800 border border-gray-200 rounded mt-1"
          placeholder="Email Address"
          formControlName="email"
        />
      </div>
      <button
        type="submit"
        class="inline-block align-middle text-center select-none border font-normal whitespace-no-wrap rounded py-1 px-3 leading-normal no-underline themebtnprimarybasic w-full sm:w-1/5 pr-4 pl-4"
        (click)="editEmail()"
        *ngIf="!isEditEmailPressed"
      >
        Edit
      </button>
      <button
        type="submit"
        class="inline-block align-middle text-center select-none border font-normal whitespace-no-wrap rounded py-1 px-3 leading-normal no-underline themebtnprimarybasic w-full sm:w-1/4 pr-4 pl-4 mr-3"
        *ngIf="isEditEmailPressed"
        [disabled]="!emailForm.valid"
      >
        Save
      </button>
      <button
        type="submit"
        class="inline-block align-middle text-center select-none border font-normal whitespace-no-wrap rounded py-1 px-3 leading-normal no-underline themebtnprimarybasic w-full sm:w-1/4 pr-4 pl-4 mt-2 sm:mt-0"
        *ngIf="isEditEmailPressed"
        (click)="cancelEmail()"
      >
        Cancel
      </button>
    </form>
  </div>
</div>

<ng-template #emailModal>
  <div class="modal-body text-center">
    <p>After updating email, you will be automatically logged out!</p>
    <p>Do you want to confirm?</p>
    <button type="button" class="inline-block align-middle text-center select-none border font-normal whitespace-no-wrap rounded py-1 px-3 leading-normal no-underline bg-green-500 text-white hover:bg-green-600 mr-3" (click)="confirm()">
      Yes
    </button>
    <button type="button" class="inline-block align-middle text-center select-none border font-normal whitespace-no-wrap rounded py-1 px-3 leading-normal no-underline bg-red-600 text-white hover:bg-red-700" (click)="decline()">No</button>
  </div>
</ng-template>
