<section class="mt-3">
  <div class="row slider-section">
    <h3>
      <a href=# class="section-title">Customer Favorites</a>
      <p *ngIf="favoriteProducts.length === 0">No Products found for this category</p>
    </h3>
    <div class="slider-control">
      <button button color="primary " (click)="moveLeft() " class="slider-btn prv">left</button>
      <button button color="primary " (click)="moveRight() " class="slider-btn next">right</button>
    </div>
  </div>
  <div class="d-flex scrollbar-hidden" dragScroll drag-scroll-y-disabled="true" scrollbar-hidden="true" #nav>
    <app-pl-fav-item class="col product-box" *ngFor="let product of favoriteProducts | slice:0:10" [product]="product"></app-pl-fav-item>
  </div>
</section>
