<div class="content">
  <div class="row">
    <h3>
      <a href=#>Customer Favorites</a>
      <p *ngIf="products.length === 0">No Products found for this category</p>
    </h3>
    <button button color="primary " (click)="moveLeft() ">left</button>
    <button button color="primary " (click)="moveRight() ">right</button>
  </div>
  <div class="row" dragScroll drag-scroll-y-disabled="true" #nav>
    <div class="col-md-3" *ngFor="let product of products | slice:0:10">
        <app-pl-fav-item [product]="product"></app-pl-fav-item>
    </div>
  </div>
</div>