<div class="customize">
  <!--<ul class="properties">
    <li data-order="0" data-filter="size_facet" style="" class="selected">Sizes</li>
    <li data-order="2" data-filter="tag_coupon" style="display: none">Offers</li>
    <li data-order="3" data-filter="age_facet" style="display: none">Age</li>
    <li data-order="4" data-filter="Shirt_Length_article_attr" style="">Shirt Length</li>
    <li data-order="5" data-filter="Sleeve_Length_article_attr" style="">Sleeve Length</li>
    <li data-order="6" data-filter="Hemline_article_attr" style="">Hemline</li>
    <li data-order="7" data-filter="Pattern_article_attr" style="">Pattern</li>
    <li data-order="8" data-filter="Collar_article_attr" style="">Collar</li>
    <li data-order="9" data-filter="Fabric_article_attr" style="">Fabric</li>
    <li data-order="10" data-filter="Pattern_Size_article_attr" style="">Pattern Size</li>
    <li data-order="11" data-filter="Weave_Pattern_article_attr" style="">Weave Pattern</li>
    <li data-order="12" data-filter="Print_or_Pattern_Type_article_attr" style="">Print or Pattern Type</li>
    <li data-order="13" data-filter="Occasion_article_attr" style="">Occasion</li>
    <li data-order="14" data-filter="Fit_article_attr" style="">Fit</li>
  </ul>-->
  <div class="allOptions">
    <!--<ul data-filter="size_facet" style="" class="options">
      <li data-filter="size_facet" data-option="38" data-num="456" data-colorhex="38" class="option">
        <label title="38" class="selected">
          <input type="checkbox" data-filter="size_facet" data-option="38" class="checkbox">38<span class="num">(456)</span>
          </label>
      </li>
      <li data-filter="size_facet" data-option="39" data-num="387" data-colorhex="39" class="option">
        <label title="39" class="selected">
          <input type="checkbox" data-filter="size_facet" data-option="39" class="checkbox">39<span class="num">(387)</span>
        </label>
      </li>
      <li data-filter="size_facet" data-option="40" data-num="1020" data-colorhex="40" class="option">
        <label title="40">
          <input type="checkbox" data-filter="size_facet" data-option="40" class="checkbox">40<span class="num">(1020)</span>
        </label>
      </li>
      <li data-filter="size_facet" data-option="42" data-num="1082" data-colorhex="42" class="option">
        <label title="42">
          <input type="checkbox" data-filter="size_facet" data-option="42" class="checkbox">42<span class="num">(1082)</span>
        </label>
      </li>
      <li data-filter="size_facet" data-option="43" data-num="1" data-colorhex="43" class="option">
        <label title="43">
          <input type="checkbox" data-filter="size_facet" data-option="43" class="checkbox">43<span class="num">(1)</span>
        </label>
      </li>
      <li data-filter="size_facet" data-option="44" data-num="1318" data-colorhex="44" class="option"><label title="44"><input type="checkbox" data-filter="size_facet" data-option="44" class="checkbox">44<span class="num">(1318)</span></label>
      </li>
      <li data-filter="size_facet" data-option="45" data-num="1" data-colorhex="45" class="option"><label title="45"><input type="checkbox" data-filter="size_facet" data-option="45" class="checkbox">45<span class="num">(1)</span></label>
      </li>
      <li data-filter="size_facet" data-option="46" data-num="184" data-colorhex="46" class="option"><label title="46"><input type="checkbox" data-filter="size_facet" data-option="46" class="checkbox">46<span class="num">(184)</span></label>
      </li>
    </ul>-->
    <!-- Add provision for more filter options later after this -->
    <!--<ul data-filter="Shirt_Length_article_attr" style="display:none;" class="options">
      <li data-filter="Shirt_Length_article_attr" data-option="regular" data-num="1662" data-colorhex="regular" class="option">
        <label title="regular">
          <input type="checkbox" data-filter="Shirt_Length_article_attr" data-option="regular" class="checkbox">regular<span class="num">(1662)</span>
        </label>
      </li>
    </ul>-->
     
  </div>    
</div>