@import '../../../shared/scss/selected_theme_variables';
.customize {
  ul.properties {
    margin-left: -40px; // This is a workaround for not proper alignment
    // Ideally the filter-summary & customize should be siblings and that's the
    // reason the alignment is bad and hence this workaround.
    // Possible Solution: Replace the content of sibling components with the
    // content so that there is no extra nesting for customize & filter-summary
    display: block;
    position: relative;
    li {
      position: relative;
      cursor: pointer;
      font-size: 14px;
      float: left;
      margin-right: 32px;
      margin-bottom: 5px;
      border-bottom: 2px solid $white;
      display: inline-block;
      color: $gray-800;
      list-style: none;
      &.selected:after {
        height: 2px;
        width: 100%;
        position: absolute;
        background-color: $theme-action-color;
        content: ' ';
        top: 108%;
        left: 0;
      }
    }
    li:not(.selected):hover:after  {
       
        height: 2px;
        width: 100%;
        position: absolute;
        background-color: $gray-800;
        content: ' ';
        top: 108%;
        left: 0;
    }
  }
  ul.properties:before, ul.properties:after {
    content: "";
    display: table;
    clear: both;      
  }
  .allOptions {
    display: block;
    margin-top: 12px;
    position: relative;
    padding-top: 10px;
    border-top: 1px dotted $gray-10;
    ul.options {
      padding-left: 0px; // This is a workaround
      text-align: right;
      margin: 5px 0 0 5px;
      text-transform: capitalize;
      display: block;
      border-bottom: 1px dotted $gray-10;
      max-height: 76px;
      position: relative;
      padding-bottom: 5px;
      margin-bottom: 15px;
      overflow: hidden;
      float: none;
      li {
        margin: 0 2px 2px 0;
        display: inline-block;
        width: 120px;
        font-size: 14px;
        text-align: left;
        color: $gray-700;
        float: left;
        list-style: none;
        label {
          overflow: hidden;
          white-space: nowrap;
          text-overflow: ellipsis;
          position: relative;
          cursor: pointer;
          display: block;
          font-weight: 400;
          height: 19px;
          line-height: 19px;
          vertical-align: top;
          &.selected:before {
            background-position: -237px -138px;
          }
          input.checkbox, input.radio {
            display: inline-block !important;
            visibility: hidden;
            margin: 0 12px 0 0;
            width: 8px;
            height: 8px;
          }
          .num {
            display: none;
          }
        }
        label:before {
          background: url(../../../../assets/default/search-sprite.png) no-repeat -237px -110px transparent;
          content: ' ';
          height: 13px;
          width: 13px;
          display: block;
          visibility: visible;
          top: 4px;
          position: absolute;
          
        }
        label:not(.selected):hover:before {
          background-position: -237px -124px;
        }
      }
    }
    ul.options:before, ul.options:after {
      content: "";
      display: table;
    }
  }
}
