@import '../../../../../../shared/scss/selected_theme_variables';

:host-context() {
  margin: 3px;
  padding: 0.2rem 0.5rem;
  border-radius: 20px;
  transition: all 500ms;

  &:hover {
    border-color: $gray-600 !important;
  }

  .cross-btn {
    cursor: pointer;
  }
}
