@import "../../scss/selected_theme_variables";
.name {
  font-size: 1em;
  color: $gray-900;
  font-weight: 700;
}

.mob {
  font-size: 1em;
  color: $gray-900;
  font-weight: 700;
}

.pin {
  font-weight: 700;
}

.reviewlink {
  cursor: pointer;
}

.select {
  &:hover {
    text-decoration: none;
    background-color: #62ff0009;
  }
}

.address-option {
  left: 18px !important;
  right: auto;
  top: -2% !important;
  transform: translateY(0px);
}