<ul class="nav navbar-nav navbar-right">
  <li class="dropdown" dropdown>
    <a href="#" class="dropdown-toggle" dropdownToggle>
      <i class="fa fa-user" aria-hidden="true"></i>
      <span class="caret"></span>
    </a>
    <ul class="dropdown-menu" dropdownMenu *ngIf="true">
      <li><a [routerLink]="['/auth']">Sign Up</a></li>
      <li role="separator" class="divider"></li>
      <li><a [routerLink]="['/auth', 'login']">Login</a></li>
    </ul>

    <ul class="dropdown-menu" dropdownMenu *ngIf="false">
      <li><a href="#">My Profile</a></li>
      <li><a href="#">My Orders</a></li>
      <li><a href="#">Edit Profile</a></li>
      <li role="separator" class="divider"></li>
      <li><a href="#">Logout</a></li>
    </ul>
  </li>
  <li>
    <a href="#">
      <i class="fa fa-shopping-bag" aria-hidden="true"></i> Bag
      <span class="badge badge-danger">4</span></a>
  </li>
</ul>