<ul class="nav navbar-nav navbar-right">
  <li class="dropdown" dropdown *ngIf="!isAuthenticated">
    <a href="#" class="dropdown-toggle" dropdownToggle>
      <i class="fa fa-user" aria-hidden="true"></i>
      <span class="caret"></span>
    </a>

    <ul class="dropdown-menu" *dropdownMenu>
      <li><a [routerLink]="['/auth']">Sign Up</a></li>
      <li role="separator" class="divider"></li>
      <li><a [routerLink]="['/auth', 'login']">Login</a></li>
    </ul>
  </li>

  <li class="dropdown" dropdown *ngIf="isAuthenticated">
    <a href="#" class="dropdown-toggle" dropdownToggle>
      <i class="fa fa-user" aria-hidden="true"></i>
      <span class="caret"></span>
    </a>
    <ul class="dropdown-menu" *dropdownMenu>
      <li><a routerLink="/user">My Profile</a></li>
      <li><a routerLink="/user/orders">My Orders</a></li>
      <li role="separator" class="divider"></li>
      <li><a routerLink="/user/addresses">Saved Addresses</a></li>
      <li role="separator" class="divider"></li>
      <li><a href="#">Edit Profile</a></li>
      <li><a (click)="logout()">Logout</a></li>
    </ul>
  </li>

  <li class="cart" [routerLink]="['checkout','cart']">
    <a>
      <i class="fa fa-shopping-bag" aria-hidden="true"></i> Bag
      <span class="badge badge-danger">{{totalCartItems}}</span></a>
  </li>
</ul>