<div class="row register-container" data-hook="">
  <div id="content" class="col-sm-12" data-hook="">
    <div class="col-md-5 col-centered">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Signup to {{title}}</h3>
        </div>
        <div id="existing-customer" class="panel-body" data-hook="login">
          <div class="register-third-party-register">
            <p class="register-button-info-text register-info-text">EASILY USING</p>
            <div class="register-button-container"><button class="register-facebook register-button"><span class="register-fb-logo register-sprite"></span><!-- react-text: 78 -->FACEBOOK<!-- /react-text --></button>
              <button
                class="register-google register-button" id="gPlusLogin"><span class="register-gplus-logo register-sprite"></span>
                  GOOGLE
                </button>
            </div>
          </div>
          <p class="register-button-info-text register-info-text">- OR USING EMAIL -</p>
          <form class="register-register-form" novalidate="" [formGroup]="signUpForm" (ngSubmit)="onSubmit()">
            <fieldset class="register-input-container">

              <div class="register-input-item">
                <input type="email" class="register-user-input-email register-user-input" name="email" formControlName="email" placeholder="Your Email Address"
                  autocomplete="off">
                <div *ngIf="signUpForm.get('email').errors && signUpForm.get('email').errors.msg">
                  <span class="register-error-icon">!</span>
                  <p class="register-error-message">{{signUpForm.get('email').errors.msg}}</p>
                </div>
              </div>

              <div class="register-input-item">
                <input type="password" class="register-user-input-password register-user-input" name="password" formControlName="password"
                  placeholder="Choose Password" autocomplete="off">
                <div *ngIf="signUpForm.get('password').errors && signUpForm.get('password').errors.msg">
                  <span class="register-error-icon">!</span>
                  <p class="register-error-message">{{signUpForm.get('password').errors.msg}}</p>
                </div>
              </div>

              <div class="register-input-item">
                <input type="password" class="register-user-input-password register-user-input" name="password_confirmation" formControlName="password_confirmation"
                  placeholder="Confirm Password" autocomplete="off">
                <div *ngIf="signUpForm.get('password_confirmation').errors && signUpForm.get('password_confirmation').errors.msg">
                  <span class="register-error-icon">!</span>
                  <p class="register-error-message">{{signUpForm.get('password_confirmation').errors.msg}}</p>
                </div>
              </div>

              <div class="register-input-item">
                <input type="number" min="1000000000" max="9999999999" class="register-user-input-mobile register-user-input" name="mobile"
                  placeholder="Mobile Number (For order status updates)">
                <div hidden="true">
                  <span class="register-error-icon">!</span>
                  <p class="register-error-message">Please enter a valid mobile number (10 digits)</p>
                </div>
              </div>

              <fieldset data-type="horizontal" class="register-gender">
                <legend class="register-gender-title">I'm a</legend><input type="radio" class="register-gender-radio" id="male" name="gender" value="M">
                <label class="register-gender-label" for="male">Male</label><input type="radio" class="register-gender-radio"
                  id="female" name="gender" value="F">
                <label class="register-gender-label" for="female">Female</label>
                <div hidden="true">
                  <span class="register-gender-error-icon register-error-icon">!</span>
                  <p class="register-gender-error-message register-error-message">Please select your gender</p>
                </div>
              </fieldset>
            </fieldset>
            <fieldset class="register-register-button-container"><button class="register-register-button">REGISTER</button></fieldset>
          </form>
          <div class="register-link-container">
            <div class="register-login-link">
              <span class="register-info-text">Already have an account?</span>
              <a class="register-create-account-link register-link" [routerLink]="['/auth','login']">Login!</a></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>