@import "../../../shared/scss/selected_theme_variables";
.loginwindow {
  margin: 0 auto;
  overflow: hidden;
  padding: 10px 0;
}

.panel {
  margin-bottom: 20px;
  background-color: $gray-100;
  border: none;
  border-radius: 4px;
  border: 1px solid $gray-10;
  box-shadow: none;
  .panel-heading {
    padding: 30px 0 0;
    border-bottom: 1px solid transparent;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    text-align: center;
    background-color: transparent;
    .panel-title {
      margin-top: 0;
      margin-bottom: 0;
      font-size: 28px;
      color: $gray-10;
      font-weight: 400;
    }
  }
}

.register-input-container {
  margin: 20px;
  border: 1px solid $gray-10;
  border-radius: 5px;
  padding: 0;
}

.register-register-button-container {
  padding: 10px 20px;
  margin: 0;
  border: 0;
}

.register-register-button {
  font-size: 14px;
  font-weight: BOLD;
  color: $white;
  letter-spacing: 2px;
  padding: 15px;
  display: block;
  width: 100%;
  border: 0;
  text-transform: uppercase;
  border-radius: 3px;
  background-color:  $theme-action-color - 50;
}

.register-input-item {
  position: relative;
}

.register-user-input-email {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.register-user-input {
  display: block;
  color: $gray-900;
  font-size: 15px;
  padding-right: 40px;
  width: 100%;
  border: 0;
  padding: 15px;
}

.register-user-input-password {
  border-top: 1px solid $gray-10;
}

.register-user-input-mobile {
  border-top: 1px solid $gray-10;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.register-gender {
  position: relative;
  border: 0;
  font-size: 13px;
  color: $gray-800;
  text-align: left;
  padding: 15px;
  margin: 0;
  border-top: 1px solid $gray-10;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.register-gender {
  position: relative;
  border: 0;
  font-size: 13px;
  color: $gray-800;
  text-align: left;
  padding: 15px;
  margin: 0;
  border-top: 1px solid $gray-10;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.register-gender-title {
  display: inline;
  font-weight: 500;
}

legend {
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
  margin-bottom: 0;
  font-size: inherit;
  width: auto;
  border: none;
}

.register-gender-radio {
  margin-left: 15px;
  margin-right: 5px;
}

[type=checkbox],
[type=radio] {
  box-sizing: border-box;
  padding: 0;
}

.register-gender-label {
  cursor: pointer;
  font-weight: 500;
}

fieldset {
  display: block;
  -webkit-margin-start: 2px;
  -webkit-margin-end: 2px;
  -webkit-padding-before: 0.35em;
  -webkit-padding-start: 0.75em;
  -webkit-padding-end: 0.75em;
  -webkit-padding-after: 0.625em;
  min-width: -webkit-min-content;
  border-width: 2px;
  border-style: groove;
  border-color: threedface;
  border-image: initial;
}

.register-link-container {
  text-align: left;
  padding: 20px;
}

.register-login-link {
  text-align: center;
}

.register-info-text {
  color: $gray-800;
  font-size: 12px;
}

.register-create-account-link {
  margin-left: 5px;
}

.register-link {
  text-decoration: none;
  color: $theme-action-color !important;
  font-size: 15px;
}

a {
  background-color: transparent;
}

.register-third-party-register {
  margin-top: 30px;
}

.register-button-info-text {
  margin-top: 0;
  margin-bottom: 20px;
}

.register-info-text {
  color: $gray-800;
  font-size: 12px;
}

.register-button-container {
  margin-top: 10px;
  margin-bottom: 40px;
}

.register-button {
  margin: 0 auto;
  max-width: 162px;
  padding-left: 18%;
  position: relative;
  font-size: 13px;
  font-weight: 500;
  color: $gray-800;
  height: 50px;
  border: 1px solid $gray-10;
  background-color: $white;
  border-radius: 5px;
  text-align: left;
}

[type=reset],
[type=submit],
button,
html [type=button] {
  -webkit-appearance: button;
}

[type=button],
[type=reset],
[type=submit],
button {
  cursor: pointer;
}

/* For Firefox */

input[type='number'] {
  -moz-appearance: textfield;
}

/* Webkit browsers like Safari and Chrome */

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

button,
select {
  text-transform: none;
}

button,
input,
select,
textarea {
  font: inherit;
}

@media (min-width: 360px) {
  .register-facebook {
    margin-right: 15px;
    margin-bottom: 0;
  }
  .register-button {
    width: 49%;
    display: inline-block;
  }
}

.register-container {
  box-sizing: border-box;
  text-align: center;
  position: relative;
  padding-bottom: 40px;
}

.register-sprite {
  background: url(http://res.cloudinary.com/mally/image/upload/v1489480940/148948096411965_w5wbjb.png) no-repeat 0 0;
  background-size: 159px 48px;
  display: inline-block;
}

.register-fb-logo {
  background-position: -93px 0;
  width: 28px;
  top: 10px;
}

.register-fb-logo,
.register-gplus-logo {
  height: 29px;
  position: absolute;
  left: 15px;
}

.register-gplus-logo {
  background-position: -122px 0;
  width: 23px;
  top: 13px;
}

.register-button-info-text {
  margin-top: 0;
  margin-bottom: 20px;
}

.register-info-text {
  color: $gray-800;
  font-size: 12px;
}

.register-error-icon {
  border: 2px solid $theme-action-sub-color2;
  padding: 0 7px;
  color: $theme-action-sub-color2;
  display: inline-block;
  position: absolute;
  top: 12px;
  right: 10px;
  font-weight: 500;
  border-radius: 21px;
}

.register-error-message {
  font-size: 11px;
  margin-left: 15px;
  color: $theme-action-sub-color2;
  text-align: left;
  margin-top: -9px;
  max-height: 500px;
  -webkit-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: .5s;
  transition-duration: .5s;
  -webkit-transition-timing-function: cubic-bezier(0, 1, .5, 1);
  transition-timing-function: cubic-bezier(0, 1, .5, 1);
}

.register-gender-error-icon {
  font-size: 16px;
}

.register-gender-error-message {
  margin-left: 0;
  margin-top: 10px;
  margin-bottom: 0;
}

.register-input-container {
  &:hover {
    border: 1px solid $theme-main-color;
    box-shadow: 0.1px 0.2px 0.4px $theme-main-color - 100;
  }
}