<div class="container">
  <div class="col-12 col-md-7 col-sm-7 col-lg-5 loginwindow">
    <h3 class="panel-title">Signup to {{title}}</h3>
    <div class="row register-container" data-hook="">
      <div id="content" class="col-sm-12" data-hook="">
        <div>
          <div class="panel panel-default">
            <div class="panel-heading">

            </div>
            <div id="existing-customer" class="panel-body" data-hook="login">
              <div class="register-third-party-register">
                <p class="register-button-info-text register-info-text">EASILY USING</p>
                <div class="register-button-container">
                  <button class="register-google register-button" id="gPlusLogin" (click)="socialLogin('google')">
                    <span class="register-gplus-logo register-sprite"></span>
                    GOOGLE
                  </button>
                </div>
              </div>
              <p class="register-button-info-text register-info-text">- OR USING EMAIL -</p>
              <form class="register-register-form" novalidate="" [formGroup]="signUpForm" (ngSubmit)="onSubmit()">
                <fieldset class="register-input-container">

                  <div class="register-input-item">
                    <input type="email" class="register-user-input-email register-user-input" name="email" formControlName="email" placeholder="Your Email Address"
                      autocomplete="off">
                    <div *ngIf="signUpForm.get('email').errors && signUpForm.get('email').touched">
                      <span class="register-error-icon">!</span>
                      <p class="register-error-message">{{signUpForm.get('email').errors.msg || 'Please enter a valid email id'}}</p>
                    </div>
                  </div>

                  <div class="register-input-item">
                    <input type="password" class="register-user-input-password register-user-input" name="password" formControlName="password"
                      placeholder="Choose Password" autocomplete="off">
                    <div *ngIf="signUpForm.get('password').errors && signUpForm.get('password').touched">
                      <span class="register-error-icon">!</span>
                      <p class="register-error-message">{{signUpForm.get('password').errors.msg || 'Password must be at least 6 characters'}}</p>
                    </div>
                  </div>

                  <div class="register-input-item">
                    <input type="password" class="register-user-input-password register-user-input" name="password_confirmation" formControlName="password_confirmation"
                      placeholder="Confirm Password" autocomplete="off">
                    <div *ngIf="(signUpForm.get('password_confirmation').errors || signUpForm.hasError('mismatchedPasswords')) && signUpForm.get('password_confirmation').touched">
                      <span class="register-error-icon">!</span>
                      <p class="register-error-message">{{ 'Password must match'}}</p>
                    </div>
                  </div>

                  <div class="register-input-item">
                    <input type="number" class="register-user-input-mobile register-user-input" name="mobile" formControlName="mobile" placeholder="Mobile Number (For order status updates)">
                    <div *ngIf="signUpForm.get('mobile').errors && signUpForm.get('mobile').touched">
                      <span class="register-error-icon">!</span>
                      <p class="register-error-message">{{signUpForm.get('mobile').errors.msg || 'Please enter a valid mobile number (10 digits)'}}</p>
                    </div>
                  </div>

                  <fieldset data-type="horizontal" class="register-gender">
                    <legend class="register-gender-title">I'm a</legend>

                    <input type="radio" class="register-gender-radio" id="male" name="gender" value="M" formControlName="gender">
                    <label class="register-gender-label" for="male">Male</label>

                    <input type="radio" class="register-gender-radio" id="female" name="gender" value="F" formControlName="gender">
                    <label class="register-gender-label" for="female">Female</label>

                    <div *ngIf="signUpForm.get('gender').errors && signUpForm.get('gender').touched">
                      <span class="register-gender-error-icon register-error-icon">!</span>
                      <p class="register-gender-error-message register-error-message">{{signUpForm.get('gender').errors.msg || 'Please select your gender'}}</p>
                    </div>
                  </fieldset>
                </fieldset>
                <fieldset class="register-register-button-container">
                  <button class="btn register-register-button">REGISTER</button>
                </fieldset>
              </form>
              <div class="register-link-container">
                <small>
                  <div class="register-login-link">
                    <span class="register-info-text">Already have an account?</span>
                    <a class="register-create-account-link register-link text-danger" [routerLink]="['/auth','login']">Login!</a>
                  </div>
                </small>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>