@import "../../scss/selected_theme_variables";
:host {
  /deep/ .section-title {
    color: $black;
    text-transform: capitalize;
    font-weight: 600;
  }
  /deep/ .scrollbar-hidden {
    overflow: hidden !important;
  }
  /deep/ .product-tile {
    text-align: center;
    a {
      color: $gray-900;
      &:hover {
        text-decoration: none;
      }
    }
  }
  /deep/ .product-box {
    border-radius: 5px;
    border: 1px solid transparent;
    &:hover {
      -webkit-box-shadow: 0 1px 0 $gray-10;
      box-shadow: 0 1px 0 $gray-10;
      border-color: $gray-10;
    }
  }
  /deep/.product-tile p {
    margin-bottom: 0px;
    white-space: normal;
    margin-top: 10px;
    overflow: hidden;
    height: 2.3rem;
    font-size: 0.8rem;
  }
  /deep/.dropdown-toggle::after {
    vertical-align: 0.055em !important;
  }
  $break-small: 320px;
  @media screen and (min-width: $break-small) and (max-width: 767px) {
    /deep/ .section-title {
      font-size: 1.4em;
    }
    /deep/ .product-box {
      -webkit-box-shadow: 0 1px 0 $gray-10;
      box-shadow: 0 0 5px $gray-10;
    }
  }
}

:host {
  /deep/ .banner {
    .ngucarousel {
      padding-top: 3rem;
    }

    .leftRs,
    .rightRs {
      position: absolute;
      top: 0rem;
      margin: auto;
      right: 0;
      background-color: transparent;
      border: 1.5px solid $theme-action-color;
      height: 2rem;
      width: 2rem;
      border-radius: 9999px;
      background-repeat: no-repeat;
      background-size: 8px;
      cursor: pointer;
    }

    .leftRs {
      background-image: url(../../../../assets/custom/arrow-left.png);
      background-position: 9px 8px;
      right: 3rem;
    }

    .rightRs {
      background-image: url(../../../../assets/custom/arrow-right.png);
      background-position: 11px 8px;
    }

  }
}
