@import '~bootstrap/scss/bootstrap-reboot';
@import '~bootstrap/scss/bootstrap-grid';
@import "app/shared/scss/themes";
@import "app/shared/scss/selected_theme_variables";
@import "~ngx-toastr/toastr-bs4-alert";
$break-small: 320px;
Ol,
ul {
  list-style: none;
  padding: 0px;
  margin: 0px;
}

.btn:focus,
.btn.focus {
  outline: 0;
  box-shadow: None;
}

.col-centered {
  float: none;
  margin: 0 auto;
}

.row-base {
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  -ms-flex-line-pack: stretch;
  align-content: stretch;
}

.coming-soon {
  cursor: url('/assets/comingsoon.png'), auto !important;
}

html {
  overflow-y: scroll;
}

html {
  height: 100%;
}

body {
  font-size: 15px;
  line-height: 1.5;
  min-height: 32vw;
  position: relative;
  background-color: $white;
  -webkit-font-smoothing: subpixel-antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: $primary-font;
}

.isModalShown {
  margin: 0;
  height: 100%;
}

.cat-mobile {
  background-color: $white;
  border-radius: 0px;
  margin: 0px;
  width: 100vw;
  max-width: 100vw !important;
  .modal-content {
    border-radius: 0px;
  }
  .modal-body {
    padding: 0px;
  }
}

@media screen and(min-width: 1100px) and(max-width: 1400px) {
  .container {
    max-width: 1280px;
  }
}

@media screen and(min-width: 320px) and(max-width: 768px) {
  .container {
    max-width: 100%;
  }
}

$s-min: 20;
$s-max: 70;
$l-min: 30;
$l-max: 90;
@for $i from 1 through 20 {
  $rand-color: hsla(random(360), $s-min+random($s-max+-$s-min), $l-min+random($l-max+-$l-min), 0.3);
  .bg-rand-#{$i} {
    background-image: radial-gradient($rand-color, #efefef);
  }
}

.pointer {
  cursor: pointer;
  &:focus {
    outline: none;
  }
}
