/* You can add global styles to this file, and also import other style files */
@import "app/shared/scss/themes";
@font-face {
    font-family: "Whitney-semi-bold";
    src: url("assets/WhitneyHTF-SemiBold.woff") format("woff")
}
@font-face {
    font-family: "Whitney";
    src: url("assets/WhitneyHTF-Book.woff") format("woff")
}
@import url('../node_modules/bootstrap/dist/css/bootstrap.min.css');
@import url('../node_modules/font-awesome/css/font-awesome.min.css');

body {
  font-size: 15px;
  line-height: 1.5;
  color: #697071;
  background-color: #fff;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.col-centered {
  float: none;
  margin: 0 auto;
}

html *:not(.fa)
{
   font-family: Whitney;
}