@import "app/shared/scss/themes";
@import '../node_modules/ng2-toasty/bundles/style-default.css';

body {
  font-size: 15px;
  line-height: 1.5;
  color: #697071;
  background-color: #fff;
  -webkit-font-smoothing: subpixel-antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.btn:focus, .btn.focus {
  outline: 0;
  box-shadow:None;
}
.col-centered {
  float: none;
  margin: 0 auto;
}

.row-base {
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  -ms-flex-line-pack: stretch;
  align-content: stretch;
}

.coming-soon {
  cursor: url('/assets/comingsoon.png'), auto !important;
}

html {
overflow-y: scroll;
}
