@import '../../../../shared/scss/selected_theme_variables';
.line_item_image {
  float: left;
}

.box {
  border: 1px solid $gray-10;
  margin-bottom: 1rem;
  background-color: $white;
  
  .order-num {
    margin: .4rem;
    border-radius: 0;
    background-color: $theme-action-color - 100;
    color: $white;
    .view-details-link {
      color: $white;
      font-weight: bold;
      font-size: 1em;
      text-decoration: underline;
    }
  }
  .order-detail {
    border-top: 1px solid $gray-10;
    .order-body {
      padding: 1rem;
    }
    .order-footer {
      padding: .4rem;
      border-top: 1px solid $gray-10;
    }
  }
}
