<div class=container *ngIf="order.completed_at!=null">
  <table class="table">
    <tr>
      <td>
        <button type="button" class="btn btn-primary" [routerLink]="['detail', order.number]">{{order.number}}</button>
      </td>
      <th>Status:</th>
      <th>Ordered On:</th>
      <th>Order Total:</th>
      <th>Payment Status</th>
    </tr>
    <tr>
      <td>{{order.number}}</td>
      <td>{{order.shipment_state}}</td>
      <td>{{order.completed_at | date:'fullDate'}}</td>
      <td>{{order.display_total}}</td>
      <td>{{order.payment_state}}</td>
    </tr>
  </table>
</div>