@import '../../../../shared/scss/selected_theme_variables';
.line_item_image {
  float: left;
}

.box {
  border: 1px solid $gray-10;
  margin-bottom: 1rem;
  background-color: $white;
  .order {
    width: 100%;
    background-color: $gray-100;
    .order-num {
      @media only screen and (min-width: 320px) and (max-width: 767px) {
        margin: 0.5rem .4rem .4rem 0.4rem;
      }
      margin: 0.5rem .4rem .4rem 0.5rem;
      border-radius: 0;
      background-color: $theme-action-color;
      color: $white;
      .view-details-link {
        color: $white;
        font-weight: bold;
        font-size: 1em;
        text-decoration: underline;
      }
    }
  }
  .order-detail {
    border-top: 1px solid $gray-10;
    .order-body {
      .lineitems {
        &:last-child {
          border-bottom: 0 solid;
        }
        border-bottom: 1px solid $gray-10;
        padding: .5rem;
        img {
          height: 75px;
          width: 100%;
          object-fit: contain;
          @media only screen and (min-width: 320px) and (max-width: 767px) {
            height: 121px;
            width: 100%;
            margin: auto;
            object-fit: scale-down;
          }
        }
        .lineitems-name {
          font-size: 1em;
          color: $gray-900;
          font-weight: 200;
          margin-top: 17px;
          cursor: pointer;
          @media only screen and (min-width: 320px) and (max-width: 767px) {
            margin-top: 0;
          }
        }
        .lineitems-info {
          font-size: .8em;
          color: $gray-900;
          cursor: pointer;
        }
        .price {
          color: $red;
          font-size: 1.2em;
          font-weight: bold;
          @media only screen and (min-width: 320px) and (max-width: 767px) {
            text-align: right;
          }
        }
        .qty {
          font-size: .8em;
          @media only screen and (min-width: 320px) and (max-width: 767px) {
            text-align: right;
          }
        }
      }
    }
    .order-footer {
      padding: .4rem;
      border-top: 1px solid $gray-10;
      .order-on {
        padding: 3px;
        span {
          font-weight: 200;
          color: $gray-900
        }
        .head {
          font-weight: normal;
          color: $gray-600;
        }
      }
    }
  }
}

.note {
  color: $gray-600;
  padding-left: 5px;
  font-size: 11px;
}
