<section *ngIf="productsByTaxons">
  <div class="row" >
    <h3>
      <a href=#>{{dealsType}}</a>
      <p *ngIf="productsByTaxons.products.lenght===0">No Products found for this category</p>
    </h3>
    <button button color="primary " (click)="moveLeft() ">left</button>
    <button button color="primary " (click)="moveRight() ">right</button>
  </div>
  <div class="d-flex" #nav dragScroll drag-scroll-y-disabled="true" scrollbar-hidden="true">
    <app-pl-item class="col" *ngFor="let product of productsByTaxons.products" [product]="product"></app-pl-item>
  </div>
</section>
