@import '../shared/scss/selected_theme_variables';
.home {
  background-color: $gray-100;
  @media screen and(min-width: 320px) and(max-width: 768px) {
    background-color:transparent;
    padding: 0px;
  }
  .sidebar {
    background-color: $gray-100;
    padding: 3.5vh 2vw;
    @media screen and(width: 768px) {
      padding:2.5vh 2vw;
    }
  }
  h1 {
    font-size: 1.7em;
    color: $gray-900
  }
}

.filter-mobile-menu {
  width: 100Vw;
  margin: 0px;
  margin-top: 20vh;
  .modal-content {
    border: 0px solid $gray-100;
    border-radius: 0px;
  }
  accordion-group {
    cursor: pointer;
  }
}

.nproduct {
  text-align: center;
  padding-top: 2em;
  img {
    height: 170px;
  }
}
