<!--<app-breadcrumb [taxonomies]="taxonomies$ | async"></app-breadcrumb> -->


<div class="container col-12 home">
    <div class="contaier">
        <div class=row>
            <div class="col-md-3" *ngIf="isProducts">
                <!-- <app-taxons [taxonomies]="taxonomies$ | async"></app-taxons> -->
                <app-categories [taxonomiList]="taxonomies$ | async" (onSelected)="OnCategeorySelected($event)" (showAll)="showAll()" [isFilterOn]="isFilterOn"
                    [categoryLevel]="categoryLevel$ | async">
                </app-categories>
                <app-brand-filter [taxonomiList]="brands$ | async" [isFilterOn]="isFilterOn"></app-brand-filter>
            </div>
            <div class="col-md-9">
                <app-content [productsList]="products" class="col-12">
                    <!-- [taxonIds]="selectedTaxonIds$ | async"  -->
                </app-content>
            </div>
        </div>
    </div>

</div>