@import '../shared/scss/selected_theme_variables';
.home {
  background-color: #fcfcfc;
  .sidebar {
    background-color:$gray-100;
    padding:3.5vh 2vw;
  }
  h1{font-size: 1.7em;color:$gray-900}
}
