<!-- <div *ngIf="userAddresses$ | async; let userAddresses" class="useraddress">
  <div *ngIf="userAddresses.length !=0">
    <span *ngIf="!isEditAddrPressed; else elseBlock" class='reviewlink pl-1 mb-3' (click)="editAddress()">
      <i class="fa fa-edit"></i>
    </span>
    <ng-template #elseBlock>
      <span class='reviewlink pl-1' (click)="cancelAddressEdit()">
        <i class="fa fa-times"></i>
      </span>
    </ng-template>
    <div class="clearfix"></div>
    <app-saved-address *ngIf="!isEditAddrPressed" 
      [userAddresses]="userAddresses"
      (isEditButtonPressed)="editAddress($event)"
      ></app-saved-address>
    <div *ngIf="isEditAddrPressed">
      <div class="head">Edit Address</div>
      <app-add-edit-address 
      [isEditAddrPressed]="isEditAddrPressed" 
      [addressParams]="selectedAddress" 
      (isAddressEdited)="addressEditedDone($event)"
      [stateName]="Maharashtra"
      ></app-add-edit-address>
    </div>
  </div> -->
  <!-- <div *ngIf="userDetails?.ship_address===null">
    <div class="head">Add Address</div>
    <app-add-edit-address 
      [isEditAddrPressed]="false" 
      (isAddressEdited)="addressEditedDone($event)" 
      [addressParams]="buildAddressParams(userDetails)"
      [stateName]="null"></app-add-edit-address>
  </div> -->
<!-- </div> -->
