<div class="cart-empty">
  <div class="empty-cart-icon">
    <i class="fa fa-cart-arrow-down fa-5x" aria-hidden="true"></i>
  </div>
  <div class="empty-cart-message">Your Shopping Bag is empty</div>
  <button
    type="button"
    class="inline-block align-middle text-center select-none border font-normal whitespace-no-wrap rounded py-1 px-3 leading-normal no-underline themebtnprimary themebtnprimarysade w-2/3 sm:w-1/4 pr-4 pl-4 m-auto m-b-4"
    [routerLink]="['/']"
  >
    Continue Shopping
  </button>
</div>
