<div class="prod-item pb-3" *ngIf="!isMobile">
  <div *ngIf="name">
    <div class="col1 col-4 col-sm-2 col-md-2 col-lg-2">
      <img [src]="image" alt="">
    </div>
    <div class="col2 col-6 col-sm-10 col-md-10 col-lg-10">
      <div class="row m-0">
        <div class="prod-name col-9">
          <div class="c-gray">
            {{name}}
          </div>
        </div>
        <div class="size-qty-wrap col-3 p-0">
          <div class="size-qty buy-quantity">
            <a class="cw-btn  quantity-minus" (click)="removeQuantity()">-</a>
            <input type="text" class="quantity-input" value="{{quantityCount}}" id="quantity" required>
            <a class="cw-btn  quantity-plus" (click)="addQuantity()">+</a>
            <span class="qty">
              <!-- <span class="gray">Qty:</span>
            <span class="value">{{quantity}}</span> -->
            </span>
          </div>
        </div>
      </div>
      <div class="optiontxt">
        <!-- {{optionName}}: {{optionValue}} -->
      </div>
      <div class="prod-amount">
        {{currency}}{{amount}}
      </div>
      <div class="edit-move-delete">
        <div class="actions">
          <span (click)="removeLineItem()" class="delete-item">
            <i class="fa fa-times"></i>
          </span>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="prod-item py-2" *ngIf="isMobile">
  <div class="row m-0">
    <div class="col1 col-4 ">
      <img [src]="image" alt="">
    </div>
    <div class="col2 col-8">
      <div class="row m-0">
        <div class="prod-name col-12">
          <div class="c-gray">
            {{name}}
          </div>
        </div>
        <div class="size-qty-wrap col-12 p-0">
          <div class="size-qty buy-quantity">
            <a class="cw-btn  quantity-minus" (click)="removeQuantity()">-</a>
            <input type="text" class="quantity-input" value="{{quantityCount}}" id="quantity" required>
            <a class="cw-btn  quantity-plus" (click)="addQuantity()">+</a>
            <span class="qty">
              <!-- <span class="gray">Qty:</span>
                  <span class="value">{{quantity}}</span> -->
            </span>
          </div>
        </div>
      </div>
      <div class="prod-amount">
        {{amount}}
      </div>
      <div class="edit-move-delete">
        <div class="actions">
          <span (click)="removeLineItem()" class="delete-item">
            <i class="fa fa-times"></i>
          </span>
        </div>
      </div>
    </div>
  </div>
</div>