@import '../../../../../shared/scss/selected_theme_variables';
.prod-item {
  margin-bottom: 30px;
  text-transform: none;
  border-bottom: 1px solid $gray-10;
  position: relative;
  .col1 {
    display: inline-block;
    vertical-align: bottom;
    img {
      width: 120px;
      height: 160px;
      object-fit: contain;
    }
  }
  .col2 {
    vertical-align: top;
    display: inline-block;
    padding: 10px 10px 10px 25px;
    min-height: 145px;
    position: relative;
    .prod-name {
      display: inline-block;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      padding: 5px 5px 5px 0;
      .c-gray {
        font-size: 1.3em;
        font-family: $primary-font;
        font-weight: normal;
        color: $gray-900;
        margin-right: 6px;
        @media screen and(min-width: 320px) and(max-width: 768px) {
          white-space:normal
        }
      }
    }
    .prod-amount {
      padding: 5px 5px 5px 0;
      display: inline-block;
      vertical-align: top;
      font-weight: 600;
      font-size: 1.3em;
      font-family: $primary-font;
      color: $theme-action-color - 50;
    }
    .size-qty-wrap {
      display: inline-block;
      margin: 5px 0;
      color: $gray-400;
      text-align: right;
      .size-qty {
        display: inline-block;
        .size,
        .qty {
          color: $gray-400;
          cursor: pointer;
          margin-right: 20px;
          font-size: 1.7em;
          .gray,
          .value {
            color: $gray-900;
          }
          .icon {
            width: 20px;
            height: 20px;
            background-position: -2570px -13px;
            display: inline-block;
            overflow: hidden;
            background-repeat: no-repeat;
            background-size: 4250px 153px;
            vertical-align: middle;
            // background-image: url(/assets/checkout_sprite.png);
          }
        }
      }
    }
    .edit-move-delete {
      position: absolute;
      right: 20px;
      top: 0;
      color: $gray-11;
      right: -14px;
      @media screen and(min-width: 320px) and(max-width: 768px) {
        right: 0;
      }
      top: -8px;
      .delete-item,
      .move-item {
        margin: 0 15px 0 0;
        cursor: pointer;
        font-size: 1em;
      }
      .move-item {
        color: $gray-200;
      }
    }
  }
}

.buy-quantity {
  display: block;
  .quantity-input {
    width: 5em;
    -webkit-box-shadow: 0 1px 0 $gray-10;
    box-shadow: 0 1px 0 $gray-10;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    float: left;
    height: 45px;
    border: 1px solid $gray-10;
    text-align: center;
    position: relative;
    .quantity-number {
      top: 0;
      bottom: auto;
      font-size: 1.2em;
    }
    span {
      display: block;
      text-align: center;
      font-size: .8em;
      color: $gray-800;
    }
  }
  a.quantity-minus {
    font-size: 2.4em;
    line-height: 1.3em;
    text-align: center;
    width: 1em;
  }
  a.disabled {
    cursor: default;
    background: $gray-200;
    color: $gray-10;
  }
  a {
    cursor: pointer;
    width: 1.4em;
    color: $gray-600;
    float: left;
    height: 50px;
    padding: 0;
    margin: 0;
    line-height: 50px;
    font-weight: 400;
    font-size: 1.7em;
    border: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    -webkit-border-radius: 0;
    border-radius: 0;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
}