@import '../../../../../shared/scss/selected_theme_variables';
.prod-item {
  margin-bottom: 30px;
  text-transform: none;
  border-bottom: 1px solid $gray-10;
  position: relative;
  .col1 {
    display: inline-block;
    vertical-align: bottom;
    img {
      width: 120px;
      height: 160px;
      object-fit: contain;
    }
  }
  .col2 {
    vertical-align: top;
    display: inline-block;
    padding: 10px 10px 10px 25px;
    min-height: 145px;
	position: relative;
	
	
    .prod-name {
      display: inline-block;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      padding: 5px 5px 5px 0;
      .c-gray {
        font-size: 1.3em;
        font-family: $primary-font;
        font-weight: normal;
        color: $gray-900;
        margin-right: 6px;
      }
    }
    .prod-amount {
      padding: 5px 5px 5px 0;
      display: inline-block;
      vertical-align: top;
      font-weight: 600;
      font-size: 1.3em;
      font-family: $primary-font;
      color: $theme-action-color - 50;
    }
    .size-qty-wrap {
      display: inline-block;
      margin: 5px 0;
	  color: $gray-400;
	  text-align: right;
      .size-qty {
        margin: 0 0 4px;
        padding-right: 10px;
		display: inline-block;
		
        .size,
        .qty {
          color: $gray-400;
          cursor: pointer;
          margin-right: 20px;
          font-size: 1.7em;
          .gray,.value {
            color: $gray-900;
          }
          .icon {
            width: 20px;
            height: 20px;
            background-position: -2570px -13px;
            display: inline-block;
            overflow: hidden;
            background-repeat: no-repeat;
            background-size: 4250px 153px;
            vertical-align: middle;
            background-image: url(/assets/checkout_sprite.png);
          }
        }
      }
    }
    .edit-move-delete {
      position: absolute;
      right: 20px;
      top: 0;
	  color: $gray-11;
	  right: -14px;
      top: -8px;
      .delete-item,
      .move-item {              
        margin: 0 15px 0 0;
		cursor: pointer;
		font-size: 1em;
      }
      .move-item {
        color: $gray-200;
      }
    }
  }
}