<div class="prod-item pb-3" *ngIf="!isMobile">
  <div *ngIf="name">
    <div class="col1 w-1/3 sm:w-1/5 pr-4 pl-4 md:w-1/5 pr-4 pl-4 lg:w-1/5 pr-4 pl-4">
      <img [src]="image" alt="" />
    </div>
    <div class="col2 w-1/2 sm:w-4/5 pr-4 pl-4 md:w-4/5 pr-4 pl-4 lg:w-4/5 pr-4 pl-4">
      <div class="flex flex-wrap  m-0">
        <div class="prod-name w-3/4">
          <div class="c-gray">
            {{ name }}
          </div>
        </div>
        <div class="size-qty-wrap w-1/4 p-0">
          <div class="size-qty buy-quantity">
            <a class="cw-btn  quantity-minus" (click)="removeQuantity()">-</a>
            <input
              type="text"
              class="quantity-input"
              value="{{ quantityCount }}"
              id="quantity"
              required
            />
            <a class="cw-btn  quantity-plus" (click)="addQuantity()">+</a>
            <span class="qty">
              <!-- <span class="gray">Qty:</span>
            <span class="value">{{quantity}}</span> -->
            </span>
          </div>
        </div>
      </div>
      <div class="optiontxt">
        <!-- {{optionName}}: {{optionValue}} -->
      </div>
      <div class="prod-amount">{{ currency }}{{ amount }}</div>
      <div class="edit-move-delete">
        <div class="actions">
          <span (click)="removeLineItem()" class="delete-item">
            <i class="fa fa-times"></i>
          </span>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="prod-item py-2" *ngIf="isMobile">
  <div class="flex flex-wrap  m-0">
    <div class="col1 w-1/3 ">
      <img [src]="image" alt="" />
    </div>
    <div class="col2 w-2/3">
      <div class="flex flex-wrap  m-0">
        <div class="prod-name w-full">
          <div class="c-gray">
            {{ name }}
          </div>
        </div>
        <div class="size-qty-wrap w-full p-0">
          <div class="size-qty buy-quantity">
            <a class="cw-btn  quantity-minus" (click)="removeQuantity()">-</a>
            <input
              type="text"
              class="quantity-input"
              value="{{ quantityCount }}"
              id="quantity"
              required
            />
            <a class="cw-btn  quantity-plus" (click)="addQuantity()">+</a>
            <span class="qty">
              <!-- <span class="gray">Qty:</span>
                  <span class="value">{{quantity}}</span> -->
            </span>
          </div>
        </div>
      </div>
      <div class="prod-amount">
        {{ amount }}
      </div>
      <div class="edit-move-delete">
        <div class="actions">
          <span (click)="removeLineItem()" class="delete-item">
            <i class="fa fa-times"></i>
          </span>
        </div>
      </div>
    </div>
  </div>
</div>
