<div class="prod-item">
  <div class="col1">
    <!--<img [src]="'http://assets.myntassets.com/h_128,q_100,w_96/v1/assets/images/1714052/2017/3/6/11488792709467-HRX-by-Hrithik-Roshan-Men-Black-Printed-Round-Neck-T-Shirt-191488792709172-1.jpg'">-->
    <img [src]="image" alt="">
  </div>
  <div class="col2">
    <div class="prod-name">
      <a class="c-gray">
        {{name}}
      </a>
    </div>
    <div class="prod-amount">
      {{amount}}
    </div>
    <div class="size-qty-wrap">
      <div class="size-qty">
        <span class="size"> 
          <span class="gray">Size:</span>
          <span class="value">L</span>
          <!--<span class="icon"></span>-->
        </span>
        <span class="qty">
          <span class="gray">Qty:</span>
          <span class="value">1</span>
          <!--<span class="icon"></span>-->
        </span>
      </div>
      <div class="seller">Sold by: Proleague</div>
    </div>
    <div class="edit-move-delete">
      <div class="actions">
        <span (click)="removeLineItem()" class="delete-item">REMOVE</span>
        <span class="move-item coming-soon">MOVE TO WISHLIST</span>
      </div>
    </div>
  </div>
</div>

