.sort-list {
  li {
    display: block;
    line-height: 24px;
    padding: 15px 0;
    border-bottom: solid 1px #eaeaec;
    width: 82%;
    font-size: 14px;
    margin-left: 65px;
  }
}

span {
  height: 100%;
  display: block;
}

.sort-header {
  font-weight: bold;
  border: none;
  font-size: 18px;
  color: #3e4152;
  padding-left: 20px;
  padding-top: 12px;
  padding-bottom: 8px;
}
