<div class="cust-reviews">
  <h1>Customer Reviews</h1>
  <div class="row">
    <div class="col-12 col-md-6 pl-4">
      <div class="avg-review">
        <div class="row">
          <div class="review col-5 p-0">
            <ngx-input-star-rating disabled="true" value="{{product.avg_rating }}" required></ngx-input-star-rating>
            {{product.reviews_count }} Reviews
          </div>
          <div class="out-review col-5">
            {{product.avg_rating }} out of 5 star
          </div>
        </div>

      </div>
      <div class="write-review">

      </div>
      <div class="row rataingpercentage">

        <div class="col-2 pl-2 pr-0">
          5 Stars
        </div>
        <div class="col-8 pr-0 pl-0">
          <div class="mb-2 progress-container">
            <progressbar [value]="dynamic" type="warning"></progressbar>
          </div>
        </div>
        <div class="col-2 pl-2">
          <b>{{dynamic}}%</b>
        </div>
      </div>
      <div class="row rataingpercentage">

        <div class="col-2 pl-2 pr-0">
          4 Stars
        </div>
        <div class="col-8 pr-0 pl-0">
          <div class="mb-2 progress-container">
            <progressbar [value]="dynamic" type="warning"></progressbar>

          </div>
        </div>
        <div class="col-2 pl-2">
          <b>{{dynamic}}%</b>
        </div>
      </div>
      <div class="row rataingpercentage">

        <div class="col-2 pl-2 pr-0">
          3 Stars
        </div>
        <div class="col-8 pr-0 pl-0">
          <div class="mb-2 progress-container">
            <progressbar [value]="dynamic" type="warning"></progressbar>
          </div>
        </div>
        <div class="col-2 pl-2">
          <b>{{dynamic}}%</b>
        </div>
      </div>
      <div class="row rataingpercentage">

        <div class="col-2 pl-2 pr-0">
          2 Stars
        </div>
        <div class="col-8 pr-0 pl-0">
          <div class="mb-2 progress-container">
            <progressbar [value]="dynamic" type="warning"></progressbar>
          </div>
        </div>
        <div class="col-2 pl-2">
          <b>{{dynamic}}%</b>
        </div>
      </div>
      <div class="row rataingpercentage">

        <div class="col-2 pl-2 pr-0">
          1 Stars
        </div>
        <div class="col-8 pr-0 pl-0">
          <div class="mb-2 progress-container">
            <progressbar [value]="dynamic" type="warning"></progressbar>

          </div>
        </div>
        <div class="col-2 pl-2">
          <b>{{dynamic}}%</b>
        </div>
      </div>
    </div>
    <div class="col-12 col-md-3 offset-md-2 mt-5 pt-5">
      <div class="row">
        <button (click)="showReviewForm()" class="primary-btn primary-btn--action col-10 m-auto">Write Review</button>
      </div>
    </div>
  </div>
  <div class="review-display">
    <div class="row">
      <div class="col-md-8">
        <div class="review-sort-filter mt-5 mb-4">
          <div class="row">
            <div class="float-left col-md-4 pt-2">Showing 1-10 of 1738 Reviews</div>
            <div class="float-right col-md-8">
              <form>
                <div class="form-group row mb-0">
                  <label for="staticEmail" class="col-sm-2 col-form-label">Filter By</label>
                  <div class="col-sm-4">
                    <select class="form-control">
                      <option value="ALL_STARS" selected="selected">All stars</option>
                      <option value="RATING5">5 stars only</option>
                      <option value="RATING4">4 stars only</option>
                      <option value="RATING3">3 stars only</option>
                      <option value="RATING2">2 stars only</option>
                      <option value="RATING1">1 star only</option>
                      <option value="POSITIVE">All positive</option>
                      <option value="NEGATIVE">All critical</option>
                    </select>
                  </div>
                  <label class="col-sm-2 col-form-label">Sort By</label>
                  <div class="col-sm-4">
                    <select class="form-control">
                      <option value="MOST_RELEVANT" selected="selected">Most relevant</option>
                      <option value="NEWEST">Newest</option>
                      <option value="TOP_CONTRIBUTOR">Top contributors</option>
                      <option value="FEATURED">Featured reviews</option>
                      <option value="OLDEST">Oldest</option>
                      <option value="HIGHEST_RATING">Highest rating</option>
                      <option value="LOWEST_RATING">Lowest rating</option>
                      <option value="PHOTOS">Photo reviews</option>
                    </select>
                  </div>
                </div>

              </form>
            </div>
          </div>
        </div>
        <div *ngIf="reviewList">
          <div *ngFor="let item of reviewList.reviews" class="rating-inner">
            <div class="rating-head">
              <ngx-input-star-rating disabled="true" value="{{item.rating }}" required></ngx-input-star-rating>
              <span class="pl-3">{{item.title}}</span>
            </div>
            <div class="rating-by">
              By {{item.name}} on {{item.created_at | date}}
            </div>
            <p class="description">
              {{item.review}}
            </p>
          </div>

        </div>
      </div>
      <div class="col-md-4">

      </div>
    </div>
  </div>
</div>
