@import '../../../../shared/scss/selected_theme_variables';
.padding-top {
  padding-top: 50px;
}

h1 {
  font-size: 1.7em;
  color: $gray-900
}

.pdp-add-to-bag {
  width: 60%;
  text-align: center;
  padding: 10px 0;
  background-color: $theme-main-color;
  border: 1px solid $theme-main-color;
  color: $white;
}

.pdp-button {
  border-radius: 3px;
  outline: 0;
  margin-top: 10px;
  padding: 10px 30px;
  font-size: 15px;
  min-height: 22px;
  margin-bottom: 10px;
}

.fav-icon-sontainer {
  position: relative;
  .favorite {
    position: absolute;
    right: 8px;
    top: -24px;
    background-color: $theme-main-color;
    color: $white;
    padding: 10px 13px;
    border-radius: 50%;
    box-shadow: 0px 0px 8px $gray-900;
    z-index: 20;
  }
}

.slider {
  margin-top: 1vw;
  padding-top: 1vw;
  h2 {
    font-size: 1.7em;
    color: $gray-900;
  }
}

@media screen and(min-width: 310px) and(max-width: 768px) {
  .fav-icon-sontainer {
    .favorite {
      top: 50px;
    }
  }
}

.cust-reviews {
  .avg-review {
    padding: 1rem 0 3rem;
    .out-review {
      border-left: 1px solid $gray-10;
      @media screen and(min-width: 310px) and(max-width: 768px) {
        border-left: 0 solid $gray-10;
        margin-top: 10px;
        padding: 10px;
      }
    }
  }
  .rataingpercentage {
    font-size: 1.2em;
    margin-bottom: 10px;
    .progress-container {
      .progress {
        display: flex;
        height: 1.6rem;
      }
    }
  }
  .review-percentage {
    position: relative;
    width: 135px;
    .percent {
      position: absolute;
      top: 35px;
      left: 12px;
      z-index: 12;
      width: 85px;
      text-align: center;
      .num {
        font-size: 2em;
        padding: 0px;
        margin: 0px;
        line-height: 30px;
        span {
          font-size: 19px;
          position: absolute;
          top: -14px;
        }
      }
      sup {
        top: -31px;
        right: -53px;
        font-size: 22px;
      }
      small {
        font-size: 11px;
        left: 0px;
        position: relative;
      }
    }
  }
  .write-review {
    width: calc(100% - 135px);
    @media screen and(min-width: 310px) and(max-width: 768px) {
      width:100%
    }
  }
  .review-display {
    .rating-inner {
      padding-bottom: 1rem;
      border-bottom: 1px solid $gray-10;
      margin-bottom: 1rem;
      .rating-head {
        font-weight: 700;
        color: $gray-900;
        position: relative;
        left: -5px;
        text-transform: capitalize;
      }
    }
    .rating-by {
      font-size: 1em;
      color: $gray-700 + 50;
    }
    .description {
      padding-top: 1rem;
      text-align: justify;
      color: $gray-900;
      word-wrap: break-word
    }
  }
  .review-sort-filter {
    border-top: 1px solid $gray-10;
    border-top: 1px solid $gray-10;
    background-color: $gray-200;
    padding: 1rem;
  }
}

.box {
  box-shadow: 0 0 1px $gray-10;
  border: 1px solid $gray-10;
  padding: 15px;
}

@media screen and(min-width: 310px) and(max-width: 768px) {
  .review-percentage {
    position: relative;
    .percent {
      position: absolute;
      top: 35px !important;
      left: 12px !important;
      z-index: 12;
      .num {
        font-size: 2em;
        padding: 0px;
        margin: 0px;
        line-height: 30px;
        span {
          font-size: 19px;
          position: absolute;
          top: -14px;
        }
      }
      sup {
        top: -31px;
        right: -53px;
        font-size: 22px;
      }
      small {
        font-size: 11px;
        left: 0;
        position: relative;
      }
    }
  }
  .review {
    font-size: 12.5px;
    ngx-input-star-rating {
      margin-left: -6px;
    }
  }
}
