<div *ngIf="product?.rating_summary; let productRating">
  <div class="cust-reviews" *ngIf="!isMobile">
    <h1>Customer Reviews</h1>
    <div class="flex flex-wrap ">
      <div class="w-full md:w-1/2 pr-4 pl-4 pl-4">
        <div class="avg-review" id="review">
          <div class="flex flex-wrap ">
            <div class="review w-full md:w-2/5 pr-4 pl-4 lg:w-2/5 pr-4 pl-4 p-0">
              <ngx-input-star-rating
                disabled="true"
                value="{{ productRating.average_rating }}"
                required
              ></ngx-input-star-rating>
              {{ productRating.review_count }} Reviews
            </div>
            <div class="out-review w-full md:w-2/5 pr-4 pl-4 lg:w-2/5 pr-4 pl-4 ">
              {{ productRating.average_rating }} out of
              {{ reviewsDisplayLimit }} stars
            </div>
          </div>
        </div>
        <div class="write-review"></div>
        <div *ngIf="(ratingOptions$ | async); let ratingOptions">
          <div
            class="flex flex-wrap  rataingpercentage"
            *ngFor="let rating of (ratingOptions | reverse)"
          >
            <div class="w-1/4 md:w-1/5 pr-4 pl-4 lg:w-1/5 pr-4 pl-4 pl-2 pr-0">
              {{ rating.value }} Star
            </div>
            <div class="w-3/5 md:w-2/3 pr-4 pl-4 lg:w-2/3 pr-4 pl-4 pr-0 pl-0">
              <div class="mb-2 progress-container">
                <div
                  *ngIf="
                    productRating.rating_list[rating.value];
                    let ratingBar;
                    else: elseBlock
                  "
                >
                  <progressbar
                    [value]="ratingBar.value"
                    type="warning"
                  ></progressbar>
                </div>
                <ng-template #elseBlock>
                  <progressbar [value]="0" type="warning"></progressbar>
                </ng-template>
              </div>
            </div>
            <div class="w-1/5  md:w-1/5 pr-4 pl-4 lg:w-1/5 pr-4 pl-4 pl-2">
              <ng-template #showZero>
                <b>{{ 0 }}%</b>
              </ng-template>
              <b
                *ngIf="
                  productRating.rating_list[rating.value];
                  let ratingBar;
                  else: showZero
                "
              >
                {{ ratingBar.value | number: '1.0-0' }}%
              </b>
            </div>
          </div>
        </div>
      </div>
      <div class="w-full md:w-1/3 pr-4 pl-4 md:mx-1/6 mt-5 pt-5">
        <div class="flex flex-wrap ">
          <div class="w-full">
            <div class="flex flex-wrap ">
              <div
                class="float-left review-percentage"
                *ngIf="productRating.review_count > 0"
              >
                <div class="percent">
                  <div class="num">
                    {{ reviewPercent }}
                    <span>%</span>
                  </div>
                  <small>RECOMMENDED</small>
                </div>
                <round-progress
                  [current]="reviewPercent"
                  [max]="100"
                  [color]="'#fe9700'"
                  [background]="'#eaeaea'"
                  [radius]="55"
                  [stroke]="5"
                  [semicircle]="false"
                  [rounded]="true"
                  [clockwise]="true"
                  [responsive]="false"
                  [duration]="800"
                  [animation]="'easeInOutQuart'"
                  [animationDelay]="0"
                ></round-progress>
              </div>
              <div class="float-left p-0 write-review ">
                <p *ngIf="productRating.review_count === 0">
                  Be the first to Review this product
                </p>
                <p *ngIf="productRating.review_count > 0">
                  {{ reviewPercent }}% OF REVIEWERS RECOMMEND THIS PRODUCT
                </p>
                <button
                  (click)="showReviewForm()"
                  class="inline-block align-middle text-center select-none border font-normal whitespace-no-wrap rounded py-1 px-3 leading-normal no-underline themebtnprimary  m-auto"
                >
                  Write Review
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="review-display" *ngIf="product?.reviews?.length > 0">
      <div class="flex flex-wrap ">
        <div class="md:w-2/3 pr-4 pl-4">
          <div class="review-sort-filter mt-5 mb-4">
            <div class="flex flex-wrap ">
              <div class="float-left md:w-1/3 pr-4 pl-4 pt-2">
                Showing {{ product?.reviews?.length }} of
                {{ productRating.review_count }} reviews
              </div>
            </div>
          </div>
          <div *ngIf="product.reviews">
            <div *ngFor="let item of product.reviews" class="rating-inner">
              <div class="rating-head">
                <ngx-input-star-rating
                  disabled="true"
                  value="{{ item.rating_option_vote?.rating_option?.value }}"
                  required
                ></ngx-input-star-rating>
                <span class="pl-3">{{ item.title }}</span>
              </div>
              <div class="rating-by">
                By {{ item.name }} on {{ item.updated_at | date }}
              </div>
              <p class="description">
                {{ item.description }}
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="cust-reviews" *ngIf="isMobile" id="review">
    <h1>Customer Reviews</h1>
    <div class="flex flex-wrap ">
      <div class="w-full md:w-1/2 pr-4 pl-4">
        <div
          class="avg-review"
          *ngIf="productRating.review_count > 0; else noReviews"
        >
          <div class="flex flex-wrap ">
            <div class="w-2/5">
              <div class="review-percentage">
                <div class="percent">
                  <div class="num">
                    {{ reviewPercent }}
                    <span>%</span>
                  </div>
                  <small>RECOMMENDED</small>
                </div>
                <round-progress
                  [current]="reviewPercent"
                  [max]="100"
                  [color]="'#fe9700'"
                  [background]="'#eaeaea'"
                  [radius]="55"
                  [stroke]="5"
                  [semicircle]="false"
                  [rounded]="true"
                  [clockwise]="true"
                  [responsive]="false"
                  [duration]="800"
                  [animation]="'easeInOutQuart'"
                  [animationDelay]="0"
                ></round-progress>
              </div>
            </div>
            <div class="review w-3/5 text-left mb-5 pl-2">
              <p>
                {{ reviewPercent }}% OF REVIEWERS <br />RECOMMEND THIS PRODUCT
              </p>
              <ngx-input-star-rating
                disabled="true"
                value="{{ productRating.average_rating }}"
                required
              ></ngx-input-star-rating>
              {{ productRating.average_rating | number: '1.1-1' }} /
              {{ reviewsDisplayLimit }}
            </div>
          </div>
          <div class="write-review">
            <button
              (click)="showReviewForm()"
              class="inline-block align-middle text-center select-none border font-normal whitespace-no-wrap rounded py-1 px-3 leading-normal no-underline themebtnprimary w-full m-auto"
            >
              Write a Review
            </button>
          </div>
        </div>
      </div>
      <ng-template #noReviews class="w-full md:w-1/4 pr-4 pl-4 md:mx-1/5 pt-2">
        <div class="flex flex-wrap ">
          <div class="box w-full">
            <div class="w-full pl-0">Be the first to Review this product</div>
            <button
              (click)="showReviewForm()"
              class="inline-block align-middle text-center select-none border font-normal whitespace-no-wrap rounded py-1 px-3 leading-normal no-underline themebtnprimary w-full m-auto"
            >
              Write a Review
            </button>
          </div>
        </div>
      </ng-template>
    </div>
    <div class="review-display" *ngIf="productRating.review_count > 0">
      <div class="flex flex-wrap ">
        <div class="md:w-2/3 pr-4 pl-4">
          <div class="review-sort-filter mt-1 mb-4">
            <div class="flex flex-wrap ">
              <div class="float-left md:w-1/3 pr-4 pl-4 pt-2">
                Showing {{ product?.reviews?.length }} of
                {{ productRating.review_count }} reviews
              </div>
            </div>
          </div>
          <div>
            <div *ngFor="let item of product.reviews" class="rating-inner">
              <div class="rating-head">
                <ngx-input-star-rating
                  disabled="true"
                  value="{{ item.rating_option_vote?.rating_option?.value }}"
                  required
                ></ngx-input-star-rating>
                <span class="pl-3">{{ item.title }}</span>
              </div>
              <div class="rating-by">
                By {{ item.name }} on {{ item.updated_at | date }}
              </div>
              <p class="description">{{ item.description }}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
