<div class="cust-reviews" *ngIf="!isMobile">
  <h1>Customer Reviews</h1>
  <div class="row">
    <div class="col-12 col-md-6 pl-4" *ngIf="reviewList">
      <div class="avg-review" id="review">
        <div class="row">
          <div class="review col-12 col-md-5 col-lg-5 p-0">
            <ngx-input-star-rating disabled="true" value="{{product.avg_rating}}" required></ngx-input-star-rating>
            {{reviewList.total_ratings }} Reviews
          </div>
          <div class="out-review col-12 col-md-5 col-lg-5 ">
            {{product.avg_rating }} out of 5 star
          </div>
        </div>
      </div>
      <div class="write-review">
      </div>
      <div class="row rataingpercentage" *ngFor="let rating of reviewList.rating_summery; let i = index">
        <div class="col-3 col-md-2 col-lg-2 pl-2 pr-0">
          {{rating.rating}} Stars
        </div>
        <div class="col-7 col-md-8 col-lg-8 pr-0 pl-0">
          <div class="mb-2 progress-container">
            <progressbar [value]="rating.percentage" type="warning"></progressbar>
          </div>
        </div>
        <div class="col-2  col-md-2 col-lg-2 pl-2">
          <b *ngIf="rating.percentage===0 || rating.percentage===null">{{0}}%</b>
          <b *ngIf="rating.percentage > 0 ">{{rating.percentage | number: '1.0-0'}}% </b>
        </div>
      </div>
    </div>
    <div class="col-12 col-md-3 offset-md-2 mt-5 pt-5">
      <div class="row">
        <p style="margin-left: 30px;" *ngIf="reviewList.total_ratings === 0">Be the first to Review this product</p>
        <button (click)="showReviewForm()" class="btn themebtnprimary col-10 m-auto">Write Review</button>
      </div>
    </div>
  </div>
  <div class="review-display" *ngIf="reviewList.total_ratings > 0">
    <div class="row">
      <div class="col-md-8">
        <div class="review-sort-filter mt-5 mb-4">
          <div class="row">
            <div class="float-left col-md-4 pt-2">Showing {{product.reviews_count }} Reviews</div>
          </div>
        </div>
        <div *ngIf="reviewList">
          <div *ngFor="let item of reviewList.reviews" class="rating-inner">
            <div class="rating-head">
              <ngx-input-star-rating disabled="true" value="{{item.rating }}" required></ngx-input-star-rating>
              <span class="pl-3">{{item.title}}</span>
            </div>
            <div class="rating-by">
              By {{item?.name.split('@')[0]}} on {{item.created_at | date}}
            </div>
            <p class="description">
              {{item.review}}
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="cust-reviews" *ngIf="isMobile">
  <h1>Customer Reviews</h1>
  <div class="row">
    <div class="col-12 col-md-6 pl-4" *ngIf="reviewList">
      <div class="avg-review" id="review" *ngIf="hasReviews; else noReviews">
        <div class="row">
          <div class="col-4">
            <span class="review-percentage">
              {{reviewPercent}}<sup>%</sup>
              <br /><small>RECOMMENDED</small>
            </span>
          </div>
          <div class="review col-8 p-0 text-left mb-5 pl-2">
            <p>{{reviewPercent}}% OF REVIEWERS <br> RECOMMEND THIS PRODUCT</p>
            <ngx-input-star-rating disabled="true" value="{{product.avg_rating}}" required></ngx-input-star-rating>
            {{product.avg_rating | number}} / 5
          </div>
        </div>
        <div class="write-review">
          <button (click)="showReviewForm()" class="btn themebtnprimary col-102 m-auto">Write a Review</button>
        </div>
      </div>
    </div>
    <ng-template #noReviews class="col-12 col-md-3 offset-md-2 pt-2">
      <div class="row">
        <div class="box">
          <div class="float-left col-5 pl-0">Be the first to Review this product</div>
          <button (click)="showReviewForm()" class="btn themebtnprimary col-7 m-auto float-right">Write a Review</button>
        </div>
      </div>
    </ng-template>
  </div>
  <div class="review-display" *ngIf="reviewList.total_ratings > 0">
    <div class="row">
      <div class="col-md-8">
        <div class="review-sort-filter mt-1 mb-4">
          <div class="row">
            <div class="float-left col-md-4 pt-2">Showing {{product.reviews_count }} Reviews</div>
          </div>
        </div>
        <div *ngIf="reviewList">
          <div *ngFor="let item of reviewList.reviews" class="rating-inner">
            <div class="rating-head">
              <ngx-input-star-rating disabled="true" value="{{item.rating }}" required></ngx-input-star-rating>
              <span class="pl-3">{{item.title}}</span>
            </div>
            <div class="rating-by">
              By {{item?.name.split('@')[0]}} on {{item.created_at | date}}
            </div>
            <p class="description">
              {{item.review}}
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
