@import '../../../shared/scss/selected_theme_variables';
.cart-empty {
  min-height: 500px;
  text-align: center;
  .empty-cart-icon {
    height: 85px;
    width: 85px;
    margin: 0 auto; // background-image: url(/assets/shoppingbag.png);
  }
  .empty-cart-message {
    font-size: 20px;
    color: $gray-700;
    font-weight: 600;
    font-family: $primary-font;
    line-height: 1.5em;
    margin: 15px 0;
  }
  .empty-wishlist-link {
    color: $theme-action-color;
    font-size: 16px;
    font-weight: 500;
  }
}
