.cart-empty {
	min-height: 500px;
	text-align: center;
	.empty-cart-icon {
		height: 85px;
    width: 85px;
    margin: 0 auto;
    background-image: url(/assets/shoppingbag.png);
	}
	.empty-cart-message {
		font-size: 20px;
    color: #535766;
    font-weight: 600;
		font-family: "Whitney-semi-bold";
		line-height: 120px;
		margin: 15px 0;
	}
	.empty-wishlist-link {
		color: #526cd0;
    font-size: 16px;
    font-weight: 500;
	}
}