<div class="" *ngIf="orders$ | async;let orders">
  <div *ngIf="orders?.length > 0; else elseBlock">
    <app-order-list-item [orders]="orders" [isMobile]="isMobile"></app-order-list-item>
    <div class="col-12 d-none d-sm-block">
      <div class="row">
        <!-- <pagination class="m-auto" *ngIf="orders.total_count > orders.per_page" [totalItems]="orders.total_count" [itemsPerPage]="orders.per_page"
          [(ngModel)]="orders.current_page" (pageChanged)="pageChanged($event)" [rotate]="rotate" [maxSize]="5">
        </pagination> -->
      </div>
    </div>
    <div class="col-12 d-block d-sm-none mb-2">
      <div class="row">
        <!-- <pagination class="m-auto" *ngIf="orders.total_count > orders.per_page" [totalItems]="orders.total_count" [itemsPerPage]="orders.per_page"
          [(ngModel)]="orders.current_page" (pageChanged)="pageChanged($event)" [rotate]="rotate" [maxSize]="3">
        </pagination> -->
      </div>
    </div>
  </div>
  <ng-template #elseBlock>
    <div class="cart-empty">
      <div class="empty-cart-icon"></div>
      <div class="empty-cart-message">You have'nt ordered anything yet.</div>
      <button type="button" class="btn themebtnprimary col-sm-4 m-auto" [routerLink]="['/']">Start Shopping</button>
    </div>
  </ng-template>
</div>


