<div class="" *ngIf="(orders$ | async); let orders">
  <div *ngIf="orders?.length > 0; else elseBlock">
    <app-order-list-item
      [orders]="orders"
      [isMobile]="isMobile"
    ></app-order-list-item>
    <div class="w-full hidden sm:block">
      <div class="flex flex-wrap ">
        <!-- <pagination class="m-auto" *ngIf="orders.total_count > orders.per_page" [totalItems]="orders.total_count" [itemsPerPage]="orders.per_page"
          [(ngModel)]="orders.current_page" (pageChanged)="pageChanged($event)" [rotate]="rotate" [maxSize]="5">
        </pagination> -->
      </div>
    </div>
    <div class="w-full block sm:hidden mb-2">
      <div class="flex flex-wrap ">
        <!-- <pagination class="m-auto" *ngIf="orders.total_count > orders.per_page" [totalItems]="orders.total_count" [itemsPerPage]="orders.per_page"
          [(ngModel)]="orders.current_page" (pageChanged)="pageChanged($event)" [rotate]="rotate" [maxSize]="3">
        </pagination> -->
      </div>
    </div>
  </div>
  <ng-template #elseBlock>
    <div class="cart-empty">
      <div class="empty-cart-icon"></div>
      <div class="empty-cart-message">You have'nt ordered anything yet.</div>
      <button
        type="button"
        class="inline-block align-middle text-center select-none border font-normal whitespace-no-wrap rounded py-1 px-3 leading-normal no-underline themebtnprimary sm:w-1/3 pr-4 pl-4 m-auto"
        [routerLink]="['/']"
      >
        Start Shopping
      </button>
    </div>
  </ng-template>
</div>
