.filter-list {
  list-style: none;
  li {
    border-bottom: 1px solid #eaeaec;
    padding: 0 15px;
    min-height: 50px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;

    &.active {
      border-left: 2px solid #ff3e6c;
      background: white;
      font-weight: bold;
    }
  }
}
span {
  height: 100%;
  display: block;
}
