<!-- <h4>This is mobile filter list component</h4> -->

<a type="" class="testbtn" (click)="openModal(filterModal)">
  FILTER
</a>

<ng-template #filterModal>
  <div class="modal-header">
    <div class="text-left">
      <h4 class="modal-title">Filters</h4>
    </div>
    <div class="text-right">
      <a class="clear-filter-btn">Clear all</a>
    </div>
  </div>
  <div class="modal-body">
    <div class="row">
      <div class="col-4 p-0">
        <ul class="filter-list">
          <li *ngFor="let filterItem of filterItems; let i = index">
            {{ filterItem }}
          </li>
        </ul>
      </div>
      <div class="col-8">
        Tabs
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <div>
      <a class="cancel-filter-btn" (click)="modalRef.hide()">Cancel</a>
    </div>
    <div>
      <a class="apply-filter-btn">Apply</a>
    </div>
  </div>
</ng-template>
