<div class="col-md-8">
  <form [formGroup]="addressForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="pincode">Pin Code*</label>
      <input id="pincode" class="form-control" type="text" formControlName="zipcode">
    </div>
    <div class="form-group">
      <label for="town">Locality / Town*</label>
      <input id="town" class="form-control" type="text" formControlName="address2">
    </div>
    <div class="form-group">
      <label for="city">City / District*</label>
      <input id="city" class="form-control" type="text" formControlName="city">
    </div>
    <div class="form-group">
      <label for="state">State*</label>
      <input id="state" class="form-control" type="text" formControlName="state_id">
    </div>
    <div class="form-group">
      <label for="firstnamee">First Name*</label>
      <input id="firstname" class="form-control" type="text" formControlName="firstname">
    </div>
    <div class="form-group">
      <label for="lastname">Last Name*</label>
      <input id="lastname" class="form-control" type="text" formControlName="lastname">
    </div>
    <div class="form-group">
      <label for="address">Address*</label>
      <textarea id="address" class="form-control" type="text" formControlName="address1"></textarea>
    </div>
    <div class="form-group">
      <label for="phone">Mobile No*</label>
      <input id="phone" class="form-control" type="text" formControlName="phone">
    </div>
    <div class="form-group">
      <label for="country">Country*</label>
      <input id="country" class="form-control" type="text" formControlName="country_id">
    </div>
  <button type="submit">Save</button>
  </form>



</div>